.row#quotes
  .span8.offset2
    %h1 Find a manufacturing partner
    %p Tell us about your needs, and we'll help you find the right manufacturing partner to build your hardware product.
    = render 'form'