= content_for :header do
  %meta{ name: 'robots', content: 'noindex, nofollow' }

.row#quotes
  .span8.offset2
    .center-container
      %h1.top Your request has been sent!
      %p.bottom Thank you, we'll be in touch very soon.