- content_for :html_class do
  = 'chip-html'

css:
  body.whitelabel .powered-by {
    padding: 13px 0 0;
    text-align: left;
  }
  body.whitelabel .powered-by a {
    display: block;
    margin-top: 1px;
  }
  #user-navigation-links {
    margin-right: 16px;
  }