.story-editor {
  .draftster-header-three {
    color: #555;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
  }

  .draftster-paragraph {
    display: block;
    margin-bottom: 20px;
  }
}