/* TYPONINE SANS PRO */
@font-face {
    font-family: 'Typonine Sans Pro';
    src: url("https://www.arduino.cc/fonts/typoninesanspro-light-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typoninesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typoninesanspro-light-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typoninesanspro-light-webfont.svg") format("svg");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Typonine Sans Pro';
    src: url("https://www.arduino.cc/fonts/typoninesanspro-lightita-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typoninesanspro-lightita-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typoninesanspro-lightita-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typoninesanspro-lightita-webfont.svg") format("svg");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Typonine Sans Pro';
    src: url("https://www.arduino.cc/fonts/typoninesanspro-regular-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typoninesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typoninesanspro-regular-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typoninesanspro-regular-webfont.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Typonine Sans Pro';
    src: url("https://www.arduino.cc/fonts/typoninesanspro-italic-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typoninesanspro-italic-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typoninesanspro-italic-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typoninesanspro-italic-webfont.svg") format("svg");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Typonine Sans Pro';
    src: url("https://www.arduino.cc/fonts/typoninesanspro-text-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typoninesanspro-text-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typoninesanspro-text-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typoninesanspro-text-webfont.svg") format("svg");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Typonine Sans Pro';
    src: url("https://www.arduino.cc/fonts/typoninesanspro-textita-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typoninesanspro-textita-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typoninesanspro-textita-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typoninesanspro-textita-webfont.svg") format("svg");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Typonine Sans Pro';
    src: url("https://www.arduino.cc/fonts/typoninesanspro-medium-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typoninesanspro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typoninesanspro-medium-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typoninesanspro-medium-webfont.svg") format("svg");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Typonine Sans Pro';
    src: url("https://www.arduino.cc/fonts/typoninesanspro-mediumita-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typoninesanspro-mediumita-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typoninesanspro-mediumita-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typoninesanspro-mediumita-webfont.svg") format("svg");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Typonine Sans Pro';
    src: url("https://www.arduino.cc/fonts/typoninesanspro-bold-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typoninesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typoninesanspro-bold-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typoninesanspro-bold-webfont.svg") format("svg");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Typonine Sans Pro';
    src: url("https://www.arduino.cc/fonts/typoninesanspro-boldita-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typoninesanspro-boldita-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typoninesanspro-boldita-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typoninesanspro-boldita-webfont.svg") format("svg");
    font-weight: 800;
    font-style: italic;
}

/* TYPONINE MONO */
@font-face {
    font-family: 'Typonine Sans Mono';
    src: url("https://www.arduino.cc/fonts/typsansmono-light-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typsansmono-light-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typsansmono-light-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typsansmono-light-webfont.svg") format("svg");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Typonine Sans Mono';
    src: url("https://www.arduino.cc/fonts/typsansmono-lightita-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typsansmono-lightita-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typsansmono-lightita-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typsansmono-lightita-webfont.svg") format("svg");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Typonine Sans Mono';
    src: url("https://www.arduino.cc/fonts/typsansmono-regular-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typsansmono-regular-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typsansmono-regular-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typsansmono-regular-webfont.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Typonine Sans Mono';
    src: url("https://www.arduino.cc/fonts/typsansmono-regita-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typsansmono-regita-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typsansmono-regita-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typsansmono-regita-webfont.svg") format("svg");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Typonine Sans Mono';
    src: url("https://www.arduino.cc/fonts/typsansmono-text-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typsansmono-text-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typsansmono-text-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typsansmono-text-webfont.svg") format("svg");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Typonine Sans Mono';
    src: url("https://www.arduino.cc/fonts/typsansmono-textita-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typsansmono-textita-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typsansmono-textita-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typsansmono-textita-webfont.svg") format("svg");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Typonine Sans Mono';
    src: url("https://www.arduino.cc/fonts/typsansmono-medium-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typsansmono-medium-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typsansmono-medium-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typsansmono-medium-webfont.svg") format("svg");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Typonine Sans Mono';
    src: url("https://www.arduino.cc/fonts/typsansmono-mediumita-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typsansmono-mediumita-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typsansmono-mediumita-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typsansmono-mediumita-webfont.svg") format("svg");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Typonine Sans Mono';
    src: url("https://www.arduino.cc/fonts/typsansmono-bold-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typsansmono-bold-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typsansmono-bold-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typsansmono-bold-webfont.svg") format("svg");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Typonine Sans Mono';
    src: url("https://www.arduino.cc/fonts/typsansmono-boldita-webfont.eot");
    src: url("https://www.arduino.cc/fonts/typsansmono-boldita-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.arduino.cc/fonts/typsansmono-boldita-webfont.woff") format("woff"), url("https://www.arduino.cc/fonts/typsansmono-boldita-webfont.svg") format("svg");
    font-weight: 800;
    font-style: italic;
}





body {
  font-family: 'Typonine Sans Pro';
  background: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.3px;
  color: #879191;
}
a {
  color: #879191;
  text-decoration: none;
}
a:hover, a:focus {
  color: #00979C;
  text-decoration: none;
}
h4, .h4 {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5px;
}


.thumb-inner {
  height: 138px !important;
  padding: 17px 20px 10px 20px !important;
}
.thumb p {
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.6px;
}
.thumb .project-stats li {
  letter-spacing: 0.6px;
  font-size: 11px;
  font-weight: 500;
}
.list-inline > li {
  font-size: 11px;
  font-weight: 500;
}
.user-name {
  font-weight: 600;
}
.thumb-image-inner-top {
  padding: 24px 24px;
}
.stat-figure {
  font-weight: 600;
}
.project-stats {
  color: #879191;
}
.wide-thumb-body-bottom {
  position: relative;
  bottom: 0;
}
a.follow-button {
  /*width: 100%;*/
  position: relative;
  bottom: 0;
}
.btn, .btn-follow {
  border-radius: 0;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.6px;
}
.btn-sm, .btn-group-sm > .btn, .btn-group-sm > .btn-follow, .btn-group-sm > .btn, .btn-group-sm > .btn-follow, .btn-group-sm > .btn-follow {
  font-size: 13px;
  line-height: 15.5px;
}
.btn-default {
  transition: all ease-out .1s;
  border: none;
  color: #7F8C8D;
  background-color: #DAE3E3;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-group.open .dropdown-toggle {
  transition: all ease-out .1s;
  border: none;
  color: #434f54;
  background-color: #DAE3E3;
  box-shadow: none;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #434F54;
  text-decoration: none;
  outline: 0;
  background-color: #DAE3E3;
}
.pagination > li > a, .pagination > li > span {
  transition: all ease-out .1s;
  border: none;
  background-color: #DAE3E3;
  margin-right: 7px;
  color: #4e5b61;
  box-shadow: 0 4px #BDC7C7;
  top: 0;
  font-size: 13px;
  line-height: 13px;
}
.pagination > li > a:hover {
  transition: all ease-out .1s;
  top: 2px;
  background-color: #DAE3E3;
  box-shadow: 0 2px #BDC7C7;
  color: #4e5b61;
}
.pagination > li > a:active {
  top: 4px;
  box-shadow: none;
}
.pagination > li > a:focus {
  outline: none;
  background-color: #DAE3E3;
}
.pagination > .active > a {
  background-color: #00979C;
  box-shadow: 0 4px #005c5f;
}
.pagination > .active > a:hover {
  background-color: #00979C;
  box-shadow: 0 2px #005c5f;
}
.pagination > .active > a:focus {
  background-color: #00979C;
}
.pagination > li:last-child > a, .pagination > li:first-child > a {
  border-radius: 0;
}
.pagination > li.disabled > a, .pagination > li.disabled > a:hover, .pagination > li.disabled > a:focus {
  background-color: #DAE3E3;
  color: #A5A5A5;
  cursor: default;
}

.btn-default.btn-sm, .btn-group-sm > .btn-default.btn, .btn-group-sm > .btn-default.btn-follow {
  padding: 10px 14px;
  margin-right: 7px;
}
body.whitelabel .navbar .navbar-brand {
  padding: 18px 0 0 0;
}
.navbar .navbar-in {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 70px;
}
#navbar-right {
  padding-right: 0;
}
.navbar-brand {
  font-family: 'Typonine Sans Pro';
  font-size: 30px;
  line-height: 20px;
  text-transform: uppercase;
}
.navbar-brand a {
  color: #00979C;
  font-weight: 600;
  letter-spacing: 0.4px;
}


.dropdown-menu {
  border-radius: 0;
  border: none;
  box-shadow: none;
  background-color: #f5f5f5;
  box-shadow: 0 0 0 3px rgba(0,0,0,.1);
  border-top: 3px solid #00979C;
  margin: 15px 0 0 0;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  color: #434F54;
  letter-spacing: 2px;
}
.dropdown-menu > li > a {
  padding: 6px 14px;
  color: #434F54;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #434F54;
  text-decoration: none;
  outline: 0;
  background-color: #dae3e3;
}
div.dropdown-caret {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 8.5px 7.5px;
  border-color: transparent transparent #00979C transparent;
  position: absolute;
  z-index: 3;
  top: -10px;
  left: 12px;
}



.dropdown-menu.pull-right {
  right: auto;
  left: 0;
}




.btn .caret, .btn-follow .caret {
  margin-left: 7px;
}
.btn-primary {
  transition: all ease-out .1s;
  position: relative;
  background: #00979C;
  border: 0;
  top: 0;
  box-shadow: 0 6px #005c5f;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  padding: 10px 20px;
  letter-spacing: 0.9px;
}
.btn-primary:hover {
  transition: all ease-out .1s;
  background: #00979C;
  top: 2px;
  box-shadow: 0 4px #005c5f;
}
.btn-primary:active {
  transition: all ease-out .1s;
  background: #00979C;
  box-shadow: none;
  top: 6px;
}
.btn-primary:focus {
  background: #00979C;
  outline: none;
}
button#burger-menu {
  background-image: url("../../img/burger-icon.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: none;
  position: fixed;
  top: 16px;
  left: 19px;
  z-index: 12;
}
button#burger-menu:focus {
  outline: none;
}
#sticky-top-bar .login-link {
  background-color: transparent;
  color: #879191;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0.9px;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 19px;
  top: 18px;
  z-index: 12;
}
#sticky-top-bar a.login-link:hover {
  color: #00979C;
}
#sticky-top-bar .login-link {
  min-width: 0;
}


.pull-right {
  padding-top: 0 !important;
  margin-top: 11px;
}
div.navbar-header + div.pull-right {
  margin-right: 90px;
}
#navbar-search .form-control {
  font-size: 13px;
  line-height: 13px;
  letter-spacing: 0.9px;
  font-weight: 400;
  background-color: #f4f4f4;
  padding: 0 20px 0 45px;
  height: 40px;
  width: 300px;
  margin-right: 10px;
  border-radius: 0;
}
#navbar-search .input-group-addon {
  top: 12px;
  position: absolute;
  z-index: 3;
}
.navbar-header {
  float: left;
  background-image: url("../../img/CreateProjectsLogo.svg");
  background-size: 308px;
  background-repeat: no-repeat;
  height: 75px;
  width: 308px;
  margin-left: -8px;
  margin-top: 6px;
}
body.whitelabel .navbar .navbar-brand {
  display: none;
}


/*div#sticky-top-bar {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: rgba(255,255,255,1);
  display: inline-block;
  z-index: 12;
}*/

div#tob-bar-bg {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: rgba(255,255,255,1);
  display: inline-block;
  z-index: 10;
}

#navigation {
  /*height: 90px;*/
  height: 105px;
  background: #fff;
  padding: 8px 20px 15px 20px;
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: transparent;
}

div#mini-footer {
  background-color: white;
  width: 100%;
  display: inline-block;
  text-align: center;
}
div#mini-footer img {
  max-width: 92px;
  margin: 20px 0;
}
div#mini-footer p {
  font-size: 13px;
  line-height: 19px;
  margin: 0 0 10px 0;
}

#content.project-page {
  padding: 55px 0 60px;
}
div.project-type {
  display: none;
}
.project-banner-inner {
  background-image: none;
  background: rgba(0,151,156,0.95);
  padding: 10px 40px 20px;
}
.project-banner-inner .project-stats {
  color: white;
  letter-spacing: 0.6px;
}
.project-banner-inner h1 {
  font-size: 27px;
  line-height: 31px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
div.project-page h3, div.project-page .h3 {
    font-size: 27px;
    line-height: 31px;
    margin: 40px 0 20px 0;
}
.project-thumb-mini {
  height: 150px;
}
.project-thumb-mini-inner {
  background-image: none;
  background: rgba(0,151,156,0.95);
  padding: 10px 15px 10px;
}
.project-thumb-mini-inner h4 {
  font-weight: 400;
  margin: 0 0 3px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5px;
}
.project-banner-inner p.project-one-liner {
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 23px;
}
.copyright {
  font-size: 70%;
  color: white;
}
.tag {
  transition: all ease-out .1s;
  border-radius: 0;
  font-weight: 500;
  padding: 4px 6px 6px 6px;
}
.tag:hover {
  transition: all ease-out .1s;
  color: #00979C;
}
.section-title .title-toggle {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  line-height: 19px;
}
.wide-thumb-body-bottom {
  bottom: -18px;
}
.wide-thumb-body-bottom a.follow-button {
  width: 100%;
}
b, strong {
  font-weight: 600;
}
#scroll-nav li.active > a {
  font-weight: 600;
}
.other-projects {
  background: #f4f4f4;
}
.btn-link {
  transition: all ease-out .1s;
  color: #00979C;
}
.btn-link:hover {
  transition: all ease-out .1s;
  color: #006569;
  text-decoration: none;
}
.btn-group, .btn-group-vertical {
  margin-bottom: 5px;
}
.btn-group > .btn, .btn-group > .btn-follow, .btn-group-vertical > .btn, .btn-group-vertical > .btn-follow {
  margin-left: 5px !important;
}
.project-switcher {
  height: 70px;
  margin-top: -35px;
}
.wide-thumb-body h5 {
  font-weight: 500;
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 2px;
}



@media (min-width: 768px) {
  .thumb-image:hover:before {
    background: rgba(0,151,156,0.95);
  }
  p.description.show-on-hover {
    font-weight: 500;
  }
  .navbar-header {
    float: left;
  }
}
@media (min-width: 1350px) {
  .navbar .navbar-in {
    padding-left: 18px;
    padding-right: 15px;
  }
  div.navbar-header + div.pull-right {
    margin-right: 0;
  }
}