- widget.build_video unless widget.video
= f.simple_fields_for :video do |f_video|
  = f_video.input :link, label: 'Paste the link to your video', hint: "Supported providers: #{Video::KNOWN_PROVIDERS.values.map{|v| v.capitalize}.uniq.to_sentence}"