@font-face {
    font-family: 'RionaSans';
    src: font-url('whitelabel/mediateklabs/rionasans-regular-webfont.eot');
    src: font-url('whitelabel/mediateklabs/rionasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('whitelabel/mediateklabs/rionasans-regular-webfont.woff2') format('woff2'),
         font-url('whitelabel/mediateklabs/rionasans-regular-webfont.woff') format('woff'),
         font-url('whitelabel/mediateklabs/rionasans-regular-webfont.ttf') format('truetype'),
         font-url('whitelabel/mediateklabs/rionasans-regular-webfont.svg#riona_sans_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}