- content = "Respect project " + content_tag(:i, '', class: 'fa fa-thumbs-o-up')
- if user_signed_in?
  - if current_user.respected? project
    = link_to ("Respected " + content_tag(:i, '', class: 'fa fa-check')).html_safe, project_respects_path(project), data: { method: :delete, remote: true, container: 'body' }, class: 'action-respected respect-button btn btn-block btn-ellipsis btn-info btn-standout'
  - else
    = link_to content.html_safe, project_respects_path(project), data: { method: :post, remote: true, container: 'body' }, class: 'respect-button btn btn-block btn-ellipsis btn-info btn-standout'
- else
  - ab_test 'respect_button', 'quick_signup', 'normal_signup' do |signup_type|
    - signup_type= 'normal_signup'
    - respect_button = (signup_type == 'quick_signup' ? create_project_respects_path(project) : new_user_registration_path(redirect_to: project_path(project), reason: 'respect', m: 'project', id: project.id, experiment: 'respect_button'))
    - classes = 'respect-button btn btn-block btn-ellipsis btn-info btn-standout'
    - if signup_type == 'quick_signup'
      - classes += ' trigger-quick-signup'
    = link_to content.html_safe, respect_button, class: classes, data: { container: 'body' }