.comment
  .pull-left.comment-avatar
    = comment.user.decorate.avatar_link(:mini)
  .pull-left.comment-text
    = link_to comment.user.name, comment.user
    = comment.body.html_safe
    .muted.comment-date
      = time_ago_in_words(comment.created_at)
      ago