= simple_form_for [commentable, Comment.new], html: { class: 'form-inline comment', data: { remote: true } } do |f|
  .pull-left.comment-avatar= current_user.decorate.avatar_link(:mini)
  .pull-left= f.input :body, label: false, input_html: { rows: 1, placeholder: 'Write a comment' }