.media
  %a.pull-left{ href: tech_short_path(tech) }
    = image_tag tech.avatar(:thumb), class: 'media-object'
  .media-body
    %b= link_to tech.name, tech_short_path(tech)
    %small.text-muted tool