= link_to 'Arduino', '/users/auth/arduino?redirect_host=hackster.arduino.cc'
- Devise.omniauth_providers.sort.each do |provider|
  = link_to proper_name_for_provider(provider), user_omniauth_authorize_url(provider, host: APP_CONFIG['default_host'], redirect_host: request.host, redirect_to: @redirect_to || params[:redirect_to] || (is_trackable_page? ? request.path : nil)), class: "zocial #{css} #{zocial_class_for_provider(provider)}"