= simple_form_for resource, as: :user, url: invitation_path(:user), wrapper: :bootstrap3_horizontal, html: { class: 'form-horizontal disable-on-submit', method: :patch } do |f|
  = render partial: 'shared/registration_form', locals: { f: f, resource: resource }