= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :patch } do |f|
  = render partial: 'shared/registration_form', locals: { f: f, resource: resource }