footer#footer
  .stars
  .content
    .brief Join in on the competition and 20,000 other Hackers and hobbyists.
    .brief
      span
      = link_to "Sign Up", new_user_registration_url(host: APP_CONFIG['default_host'], redirect_to: mouser_vendors_url)
      |  or
      = link_to " Log In", new_user_session_url(host: APP_CONFIG['default_host'], redirect_to: mouser_vendors_url)
      |  with Hackster
