footer#footer
  .stars
  .content
    .brief Join in on the competition and 20,000 other Hackers and hobbyists.
    / .signup-form-container
      .input-wrapper
        span.icon class="fa fa-user"
        input type="text" placeholder="Your Name"
      .input-wrapper
        span.icon class="fa fa-envelope-o"
        input type="text" placeholder="Email"
      .input-wrapper
        span.icon class="fa fa-lock"
        input type="text" placeholder="Create Password"
      button.signup-button Get Started
    /.login-container
      span Already a member?
      a href="javascript:void(0);" Sign In

