#vendor-details
  .details-wrapper
    .image-container
      .image-wrap
        img class='logo' src='../../../assets/mouser/vendor-logo.svg'
        img class='board' src='../../../assets/mouser/chipkit-uc-32-copy.png'
    .description-container
      .description
        strong Chip
        p Chip combines the ease-of-use of the classic boards with the latest technologies.  The board recognises gestures, and features a six-axis accelerometer and gyroscope.  Control your projects with your phone over Bluetooth connectivity!
        .buttons
          .button VISIT SITE
          .button SHARE
  .vendor-links
    .vendor-link-button
      .link-container
        .image
          img src='../../../assets/mouser/board-sample.png'
        .info
          p PREVIOUS
          .vendor-name BEAGLE BONE
    .vendor-link-button
      .link-container
        .image
          img src='../../../assets/mouser/board-sample.png'
        .info
          p UP NEXT
          .vendor-name CHIP

