- if user_signed_in?
  = react_component('MouserContest', platforms: @platforms )
- else
  #mousercontest-landing
    = render partial: 'mouser/vendors/hero'
    #vendor-details
      .details-wrapper
        .image-container
          .image-wrap
            img class='logo' src='../../../assets/mouser/vendor-logo.svg'
            img class='board' src='../../../assets/mouser/chipkit-uc-32-copy.png'
        .description-container
          .description
            strong Chip
            p Chip combines the ease-of-use of the classic boards with the latest technologies.  The board recognises gestures, and features a six-axis accelerometer and gyroscope.  Control your projects with your phone over Bluetooth connectivity!
            .buttons
              a.button Visit site
              a.button Share
      .vendor-links
        a.vendor-link-button
          .link-container
            .image
              img src='../../../assets/mouser/board-sample.png'
            .info
              p Previous
              .vendor-name Beagle Bone
        a.vendor-link-button
          .link-container
            .image
              img src='../../../assets/mouser/board-sample.png'
            .info
              p Up next
              .vendor-name Chip

    = render partial: 'mouser/vendors/footer'