- if user_signed_in?
  = react_component('MouserContest', platforms: @platforms )
- else
  #mousercontest-landing
    = render partial: 'mouser/vendors/navbar'
    = render partial: 'mouser/vendors/hero'
    = render partial: 'vendor_details'
    = render partial: 'mouser/vendors/footer'