css:
  .tessel-html #navigation {
    border: 0;
    height: auto;
  }
  .tessel-html #user-navigation-links {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 52px;
  }
  .tessel-html #navbar-right {
    margin-right: 32px;
  }
  .tessel-html #navbar-search .form-control {
    height: auto;
    padding-top: 11px;
  }
  .tessel-html #navbar-search .input-group-addon {
    top: 13px;
  }
  .tessel-html #navbar-right .login-link {
    margin-top: 8px;
  }
  .tessel-html #navbar-right .login-link.btn-primary {
    margin-top: 0;
  }
  @media only screen and (max-width: 992px) {
    .tessel-html #navbar-right .login-link:not(.btn) {
      display: none;
    }
    .tessel-html .navbar-nav {
      float: right;
      border: 0;
      margin: 0 -15px;
    }
    .tessel-html #navbar-right {
      margin-right: 11px;
    }
    .tessel-html #user-navigation-links {
      margin-right: 32px;
    }
  }
  @media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
      position: absolute;
      float: none;
      width: 160px;
      margin-top: 0;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      left: initial;
      right: 0;
    }
  }
  html.tessel-html {
    font-size: 0.875em;
    line-height: 1.42857;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  html.tessel-html,
  .tessel-html body {
    font-size: 100%;
  }
  .tessel-html body {
    background: #FFFFFF;
    color: #252525;
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    line-height: 150%;
    position: relative;
    cursor: auto;
  }
  html.tessel-html,
  .tessel-html body {
    letter-spacing: 0.04em;
  }
  #tessel-header nav {
    font: regular 26px Source Sans Pro, sans-serif;
    color: #363636;
    letter-spacing: 0.075em;
    text-transform: uppercase;
  }
  #tessel-header .fixed {
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99;
  }
  #tessel-header .top-bar {
    overflow: hidden;
    height: 3.75rem;
    line-height: 3.75rem;
    position: relative;
    background: #FFFFFF;
    margin-bottom: 0;
  }
  #tessel-header ul {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    list-style-position: outside;
    font-family: inherit;
    margin-left: 1.1rem;
    list-style-position: inside;
  }
  #tessel-header .top-bar ul {
    margin-bottom: 0;
    list-style: none;
  }
  #tessel-header .top-bar .title-area {
    position: relative;
    margin: 0;
  }
  @media only screen and (min-width: 800px) {
    #tessel-header .top-bar {
      background: #FFFFFF;
      overflow: visible;
    }
    #tessel-header .top-bar:before,
    #tessel-header .top-bar:after {
      content: " ";
      display: table;
    }
    #tessel-header .top-bar .title-area {
      float: left;
    }
  }
  #tessel-header .top-bar .name {
    height: 3.75rem;
    margin: 0;
    font-size: 16px;
  }

  #tessel-header h1 {
    font-family: Source Sans Pro, sans-serif;
    font-weight: normal;
    font-style: bold;
    color: #252525;
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;
  }
  #tessel-header h1 {
    font-size: 2.125rem;
  }
  @media only screen and (min-width: 40.063em) {
    #tessel-header h1 {
      line-height: 1.4;
    }
    #tessel-header h1 {
      font-size: 2.75rem;
    }
  }
  #tessel-header h1 {
    color: #555;
  }
  #tessel-header h1 {
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  #tessel-header .top-bar .name h1,
  #tessel-header .top-bar .name p,
  #tessel-header .top-bar .name span {
    line-height: 3.75rem;
    font-size: 1.0625rem;
    margin: 0;
  }

  #tessel-header .top-bar .name h1 a,
  #tessel-header .top-bar .name h1 .link--styling,
  #tessel-header .top-bar .name h2 a,
  #tessel-header .top-bar .name h2 .link--styling,
  #tessel-header .top-bar .name h3 a,
  #tessel-header .top-bar .name h3 .link--styling,
  #tessel-header .top-bar .name h4 a,
  #tessel-header .top-bar .name h4 .link--styling,
  #tessel-header .top-bar .name p a,
  #tessel-header .top-bar .name p .link--styling,
  #tessel-header .top-bar .name span a,
  #tessel-header .top-bar .name span .link--styling {
    font-weight: normal;
    color: #333333;
    width: 75%;
    display: block;
    padding: 0 1.25rem;
  }
  @media only screen and (min-width: 800px) {
    #tessel-header .top-bar .name h1 a,
    #tessel-header .top-bar .name h1 .link--styling,
    #tessel-header .top-bar .name h2 a,
    #tessel-header .top-bar .name h2 .link--styling,
    #tessel-header .top-bar .name h3 a,
    #tessel-header .top-bar .name h3 .link--styling,
    #tessel-header .top-bar .name h4 a,
    #tessel-header .top-bar .name h4 .link--styling,
    #tessel-header .top-bar .name h5 a,
    #tessel-header .top-bar .name h5 .link--styling,
    #tessel-header .top-bar .name h6 a,
    #tessel-header .top-bar .name h6 .link--styling {
      width: auto;
    }
  }
  #tessel-header .top-bar__logo {
    padding: 0.625rem;
    max-height: 3.75rem;
  }

  #tessel-header .top-bar .toggle-topbar {
    position: absolute;
    right: 0;
    top: 0;
  }
  @media only screen and (min-width: 800px) {
    #tessel-header .top-bar .toggle-topbar {
      display: none;
    }
  }
  #tessel-header .top-bar .toggle-topbar.menu-icon {
    top: 50%;
    margin-top: -16px;
  }

  #tessel-header .top-bar .toggle-topbar a,
  #tessel-header .top-bar .toggle-topbar .link--styling {
    color: #333333;
    text-transform: uppercase;
    font-size: 0.8125rem;
    font-weight: bold;
    position: relative;
    display: block;
    padding: 0 1.25rem;
    height: 3.75rem;
    line-height: 3.75rem;
  }
  #tessel-header .top-bar .toggle-topbar.menu-icon a,
  #tessel-header .top-bar .toggle-topbar.menu-icon .link--styling {
    height: 34px;
    line-height: 33px;
    padding: 0 2.8125rem 0 1.25rem;
    color: #333333;
    position: relative;
  }
  #tessel-header .top-bar .toggle-topbar.menu-icon a span::after,
  #tessel-header .top-bar .toggle-topbar.menu-icon .link--styling span::after {
    content: "";
    position: absolute;
    display: block;
    height: 0;
    top: 50%;
    margin-top: -8px;
    right: 1.25rem;
    box-shadow: 0 0 0 1px #333333, 0 7px 0 1px #333333, 0 14px 0 1px #333333;
    width: 16px;
  }
  #tessel-header .top-bar-section {
    left: 0;
    position: relative;
    width: auto;
    transition: left 300ms ease-out;
  }
  @media only screen and (min-width: 800px) {
    #tessel-header .top-bar-section {
      transition: none 0 0;
      left: 0 !important;
    }
  }

  #tessel-header .right {
    float: right !important;
  }
  #tessel-header .top-bar ul {
    margin-bottom: 0;
    list-style: none;
  }
  #tessel-header .top-bar-section ul {
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
    font-size: 16px;
    margin: 0;
  }
  @media only screen and (min-width: 800px) {
    #tessel-header .top-bar-section ul {
      width: auto;
      height: auto !important;
      display: inline;
    }
  }

  #tessel-header .top-bar-section ul li {
    background: #FFFFFF;
  }
  @media only screen and (min-width: 800px) {
    #tessel-header .top-bar-section ul li {
      float: left;
    }
  }
  #tessel-header .top-bar-section li:last-of-type {
    padding-right: 1.25rem;
  }
  #tessel-header a {
    text-decoration: none;
  }

  #tessel-header .top-bar-section ul li > a,
  #tessel-header .top-bar-section ul li > .link--styling {
    display: block;
    width: 100%;
    color: #333333;
    padding: 12px 0 12px 0;
    padding-left: 1.25rem;
    font-family: Source Sans Pro, sans-serif;
    font-size: 0.8125rem;
    font-weight: normal;
    text-transform: none;
  }
  @media only screen and (min-width: 800px) {
    #tessel-header .top-bar-section li:not(.has-form) a:not(.button),
    #tessel-header .top-bar-section li:not(.has-form) .link--styling:not(.button) {
      padding: 0 1.25rem;
      line-height: 3.75rem;
      background: #FFFFFF;
    }
  }
  @media only screen and (min-width: 800px) {
    #tessel-header .top-bar-section li:not(.has-form) a:not(.button):hover,
    #tessel-header .top-bar-section li:not(.has-form) .link--styling:not(.button):hover {
      background-color: #555555;
      background: #F6F6F6;
    }
  }
  #tessel-header .top-bar-section ul li:hover:not(.has-form) > a,
  #tessel-header .top-bar-section ul li:hover:not(.has-form) > .link--styling {
    background-color: #555555;
    background: #F6F6F6;
    color: #555555;
  }


/ css:
  #tessel-header header {
    background-color: #F2F2F2;
    height: 45px;
    width: 100%;
    line-height: 45px;
    font-weight: bold;
    color: #333;
    font-size: 14px;
    font-family: sans-serif;
  }
  @media (max-width: 719px) {
    #tessel-header header {
      height: auto;
    }
    #tessel-header .navbar-nav.navbar-right {
      display: none;
    }
  }
  #tessel-header header img {
    max-height: 45px;
  }
  #tessel-header header a {
    height: 45px;
    color: #333;
  }

  #tessel-header nav {
    display: block;
  }
  #tessel-header nav .mobile-nav__container {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    height: 45px;
    width: 100%;
  }
  #tessel-header nav .mobile-nav__container .mobile-nav__logo {
    padding: 11.25px;
  }
  @media (max-width: 719px) {
    #tessel-header nav .mobile-nav__container {
      height: auto;
    }
  }
  #tessel-header nav .mobile-nav__container a {
    display: inline-block;
    text-decoration: none;
  }
  #tessel-header nav .mobile-nav__container a.mobile-nav__button--show, #tessel-header nav .mobile-nav__container a.mobile-nav__button--hide {
    display: none;
    background-color: #F2F2F2;
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 11.25px;
    width: 20%;
    text-align: right;
    z-index: 500;
    font-size: 30px;
  }
  @media (max-width: 719px) {
    #tessel-header nav .mobile-nav__container a.mobile-nav__button--show, #tessel-header nav .mobile-nav__container a.mobile-nav__button--hide {
      display: block;
    }
  }
  #tessel-header nav .mobile-nav__container ul {
    display: inline-block;
    padding: 0;
    max-width: 75%;
    float: right;
  }
  @media (max-width: 719px) {
    #tessel-header nav .mobile-nav__container ul {
      display: block;
      min-width: 100%;
    }
  }
  #tessel-header nav .mobile-nav__container ul li {
    display: inline-block;
    border-right: 1px solid black;
  }
  #tessel-header nav .mobile-nav__container ul li.mobile-li {
    display: none;
  }
  @media (max-width: 719px) {
    #tessel-header nav .mobile-nav__container ul li.mobile-li {
      display: block;
    }
    #tessel-header nav .mobile-nav__container ul li {
      display: block;
      width: 100%;
      height: 0px;
      -moz-transition-property: height;
      -o-transition-property: height;
      -webkit-transition-property: height;
      transition-property: height;
      -moz-transition-property: 0.5s;
      -o-transition-property: 0.5s;
      -webkit-transition-property: 0.5s;
      transition-property: 0.5s;
      overflow: hidden;
      margin-bottom: 0;
      width: auto;
      float: none;
      border: none;
      margin-left: -1px;
    }
  }
  #tessel-header nav .mobile-nav__container ul a {
    background-color: transparent;
    text-align: center;
    padding: 0px 15px;
  }
  @media all and (max-width: 700px) {
    #tessel-header nav .mobile-nav__container ul a {
      width: 100%;
      font-size: 22.5px;
    }
  }
  #tessel-header nav .mobile-nav__container ul a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  #tessel-header nav .mobile-nav__container:target ul li {
    height: 45px;
  }
  @media (max-width: 719px) {
    #tessel-header nav .mobile-nav__container:target ul li {
      border-bottom: 1px solid #c8c8c8;
    }
  }

  #tessel-header nav .mobile-nav__container:target .mobile-nav__button--hide {
    z-index: 1000;
  }

  #tessel-header #navbar-search {
    float: none;
  }
  #tessel-header #navbar-search .form-control {
    height: initial;
    padding: 0 12px 0 48px;
  }
  #tessel-header #navbar-search .input-group-addon {
    top: 3px;
  }
  #tessel-header #user-navigation-links {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
    border-right: 0;
  }
  #tessel-header #user-nav-face {
    height: initial;
  }
  #tessel-header #nav-user-menu {
    float: left;
    display: none;
  }
  #tessel-header .open > #nav-user-menu.dropdown-menu {
    display: block;
  }
  #tessel-header #nav-user-menu li {
    display: block;
    border-right: 0;
  }
  #tessel-header #nav-user-menu li a {
    height: initial;
    display: block;
    text-align: left;
  }
  #tessel-header #navbar-right .login-link {
    border-right: 0
  }
  #tessel-header #navbar-right .login-link.btn-primary {
    background: #208edb;
    padding: 13px 20px 12px;
    margin-top: 0;
    height: initial;
    border-radius: 0;
  }
  #tessel-header #navbar-right li {
    border-right: 0;
  }
  #tessel-header .zocial.icon {
    height: initial;
    color: #fff;
    padding: .1em .95em .1em 0;
  }
  #tessel-header .zocial.facebook {
    background-color: #4863ae;
  }
  #tessel-header .zocial.github {
    background-color: #fbfbfb;
    color: #050505;
  }
  #tessel-header .zocial.twitter {
    background-color: #46c0fb;
  }
  #tessel-header .zocial.googleplus {
    background-color: #dd4b39;
  }