css:
  #tessel-header header {
    background-color: #F2F2F2;
    height: 45px;
    width: 100%;
    line-height: 45px;
    font-weight: bold;
    color: #333;
  }
  #tessel-header header .twitterbird {
    font-family: FontAwesome;
    color: #4099FF;
    vertical-align: middle;
    font-size: 30px;
  }
  @media (max-width: 320px) {
    #tessel-header header {
      height: auto;
    }
  }
  #tessel-header header img {
    max-height: 45px;
  }
  #tessel-header header a {
    height: 45px;
    color: #333;
  }

  #tessel-header nav {
    display: block;
  }
  #tessel-header nav .mobile-nav__container {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    height: 45px;
    width: 100%;
  }
  #tessel-header nav .mobile-nav__container .mobile-nav__logo {
    padding: 11.25px;
  }
  @media (max-width: 320px) {
    #tessel-header nav .mobile-nav__container {
      height: auto;
    }
  }
  #tessel-header nav .mobile-nav__container a {
    display: inline-block;
    text-decoration: none;
  }
  #tessel-header nav .mobile-nav__container a.mobile-nav__button--show, #tessel-header nav .mobile-nav__container a.mobile-nav__button--hide {
    display: none;
    background-color: #F2F2F2;
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 11.25px;
    width: 20%;
    text-align: right;
    z-index: 500;
    font-size: 30px;
  }
  @media (max-width: 320px) {
    #tessel-header nav .mobile-nav__container a.mobile-nav__button--show, #tessel-header nav .mobile-nav__container a.mobile-nav__button--hide {
      display: block;
    }
  }
  #tessel-header nav .mobile-nav__container ul {
    display: inline-block;
    padding: 0;
    max-width: 75%;
    float: right;
  }
  @media (max-width: 320px) {
    #tessel-header nav .mobile-nav__container ul {
      display: block;
      min-width: 100%;
    }
  }
  #tessel-header nav .mobile-nav__container ul li {
    display: inline-block;
    border-right: 1px solid black;
  }
  @media (max-width: 320px) {
    #tessel-header nav .mobile-nav__container ul li {
      display: block;
      width: 100%;
      height: 0px;
      -moz-transition-property: height;
      -o-transition-property: height;
      -webkit-transition-property: height;
      transition-property: height;
      -moz-transition-property: 0.5s;
      -o-transition-property: 0.5s;
      -webkit-transition-property: 0.5s;
      transition-property: 0.5s;
      overflow: hidden;
      margin-bottom: 0;
      width: auto;
      float: none;
      border: none;
      margin-left: -1px;
    }
  }
  #tessel-header nav .mobile-nav__container ul a {
    background-color: transparent;
    text-align: center;
    padding: 0px 15px;
  }
  @media all and (max-width: 700px) {
    #tessel-header nav .mobile-nav__container ul a {
      width: 100%;
      font-size: 22.5px;
    }
  }
  #tessel-header nav .mobile-nav__container ul a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  #tessel-header nav .mobile-nav__container:target ul li {
    height: 45px;
  }
  @media (max-width: 320px) {
    #tessel-header nav .mobile-nav__container:target ul li {
      border-bottom: 1px solid #c8c8c8;
    }
  }

  #tessel-header nav .mobile-nav__container:target .mobile-nav__button--hide {
    z-index: 1000;
  }

  #tessel-header #navbar-search {
    float: none;
  }
  #tessel-header #navbar-search .form-control {
    height: initial;
    padding: 0 12px 0 48px;
  }
  #tessel-header #navbar-search .input-group-addon {
    top: 3px;
  }
  #tessel-header #user-navigation-links {
    margin-top: 5px;
    margin-bottom: 0;
    margin-left: 10px;
    border-right: 0;
  }
  #tessel-header #user-nav-face {
    height: initial;
  }
  #tessel-header #nav-user-menu {
    float: left;
    display: none;
  }
  #tessel-header .open > #nav-user-menu.dropdown-menu {
    display: block;
  }
  #tessel-header #nav-user-menu li {
    display: block;
    border-right: 0;
  }
  #tessel-header #nav-user-menu li a {
    height: initial;
    display: block;
    text-align: left;
  }
  #tessel-header #navbar-right .login-link {
    border-right: 0
  }
  #tessel-header #navbar-right .login-link.btn-primary {
    background: #208edb;
    padding: 7px 20px 6px;
    margin-top: 0;
    margin-bottom: 2px;
    margin-right: 5px;
    height: initial;
  }
  #tessel-header #navbar-right li {
    border-right: 0;
  }
  #tessel-header .zocial.icon {
    height: initial;
    color: #fff;
    padding: .1em .95em .1em 0;
  }
  #tessel-header .zocial.facebook {
    background-color: #4863ae;
  }
  #tessel-header .zocial.github {
    background-color: #fbfbfb;
    color: #050505;
  }
  #tessel-header .zocial.twitter {
    background-color: #46c0fb;
  }
  #tessel-header .zocial.googleplus {
    background-color: #dd4b39;
  }

#tessel-header
  header
    nav
      .mobile-nav__container#mobile-nav
        a.mobile-nav__button--hide(title='click to close' href='#') &#xf00d;
        a.mobile-nav__button--show(title='click to open' href='#mobile-nav') &#xf0c9;
        a(href="https://tessel.io")
          img.mobile-nav__logo(src="https://s3.amazonaws.com/technicalmachine-assets/storefront/tessel-name.png" alt="Tessel")
        #navbar-search
          = render 'shared/search_form'
        ul
          li
            a(href="//tessel.io/start") Start
          li
            a(href="//tessel.io/docs") Docs
          li
            a(href="//tessel.io/modules") Modules
          li
            a(href="/") Projects
          li
            a(href="//tessel.io/forums") Forums
          li
            a(href="//tessel.io/shop") Shop
          li
            a(href="//tessel.io/blog") Blog

          - if user_signed_in?
            ul.navbar-nav.navbar-right
              li.btn-group.navbar-btn#user-navigation-links
                = link_to image_tag(current_user.decorate.avatar(:mini), style: 'width:30px;'), current_user, class: 'btn',id: 'user-nav-face'
                button#user-dropdown-toggle.btn.btn-default.dropdown-toggle data-toggle="dropdown"
                  span.caret
                ul.dropdown-menu#nav-user-menu
                  li= link_to 'My profile', current_user
                  li.divider
                  li= link_to 'Messages', conversations_path
                  li.divider
                  li= link_to 'Account settings', edit_user_registration_path
                  li= link_to 'Invite friends', new_user_invitation_path
                  li.divider
                  li= link_to 'Log out', destroy_user_session_path, method: :delete

          - else
            ul#navbar-right.clearfix
              li= link_to 'Sign up', new_user_registration_path(source: 'nav'), class: 'login-link'

              li.dropdown
                a.btn.btn-primary.login-link.dropdown-toggle data-toggle="dropdown" href='#'
                  | Log in
                .dropdown-menu style=("padding: 15px; width: 250px;")
                  = render 'devise/sessions/form'
                  hr
                  / = link_to 'Connect with your social account', new_user_session_path(a: 'connect'), class: 'btn btn-black connect-social'
                  .social-icons.text-center
                    p.text-muted
                      small Or connect with your social account:
                    = link_to 'Facebook', user_omniauth_authorize_url(:facebook), class: 'zocial icon facebook'
                    = link_to 'Github', user_omniauth_authorize_path(:github), class: 'zocial icon github'
                    = link_to 'Google+', user_omniauth_authorize_path(:gplus), class: 'zocial icon googleplus'
                    = link_to 'Twitter', user_omniauth_authorize_path(:twitter), class: 'zocial icon twitter'