- if widget.document
  .code-widget
    = widget.formatted_content.html_safe
    %a.more{ href: '#' } + show more
    %a.less{ href: '#' } - show less
  = link_to "Download #{widget.document.file_name}", widget.document.file_url