%ul.list-unstyled
  - widget.credit_lines.each do |credit_line|
    %li
      = credit_line.work.try(:capitalize)
      by
      - if credit_line.link.present?
        = link_to credit_line.name, credit_line.link, target: '_blank'
      - else
        = credit_line.name