.document-widget
  - if widget.documents.any?
    %ul
      - widget.documents.each do |document|
        %li.file
          %i.icon-file.icon-large
          - title = document.title.present? ? document.title : document.file_name
          = link_to title, document.file_url, title: document.file_name
  - else
    %p No documents yet.