.github-widget{ data: { repo: widget.repo_name } }

- unless @github_widget_js_init
  = content_for :js do
    = javascript_include_tag 'jquery.githubRepoWidget.min.js'

- @github_widget_js_init = true