- if @project.issues.any?
  - @project.issues.each do |issue|
    %h6
      = link_to issue.title, issue_path(@project, issue)
      %small.text-muted
        by
        = link_to issue.user.name, issue.user
        = time_ago_in_words issue.created_at
        ago
- else
  %p
    No issues yet.
    - if can? :create, Issue, @project
      = link_to 'Add a new issue', new_project_issue_path(@project.user_name_for_url, @project.slug), class: 'btn btn-primary btn-sm'