.text-widget.project-show-item= widget.content ? widget.content.html_safe : "Empty"
.text-widget-form.project-edit-item
  .form-group
    .controls
      = render 'shared/wysihtml5_toolbar'
  = text_area( :widget, :content, id: "text-widget-#{@wysihtml5_toolbar_increment}", class: "wysihtml5-textarea", rows: 10, label: false)