/*==============================================*/
/*  DROPOVERS                                   */
/*==============================================*/



/* Interaction */
.dropover{
	display: none;
	z-index: 9999;
}
.hasSubmenu:not(.disabled):hover .dropover{
	display: block;
}

.hasSubmenu.disabled button{
	opacity: .5;
}


/* Dropover */
.dropover{
	position: absolute;
	padding-top: 8px;
	background-repeat: no-repeat;
	z-index: 10;
}
.dropover .scrollable{
	flex: 1;
	-webkit-flex: 1;
	overflow: auto;
}
.dropover ul{
	margin: 0;
	margin-top: 6px;
	padding: 0;
	list-style-type: none;
}
.dropover ul li.separator{
	border-top: 1px solid #ddd;
}
.dropover ul li ul {
	box-shadow: none;
}

.dropover.simple{
	fill: #0CA1A6;
}

.dropover.simple ul li.parent_li button{
	font-weight: bold;
}
.dropover.simple.board_selector ul .scrollable li.parent_li button {
	padding-left: 8px;
}

.dropover.simple ul li.parent_li ul li button {
	font-weight: normal;
}
.dropover.simple ul li ul li button {
	padding-left: 30px;
}
.dropover.simple.board_selector ul .scrollable li.parent_li ul li button {
	padding-left: 30px;
}



/* Dropover simple button item */
.dropover.simple button{
	width: 100%;
	text-align: left;
	letter-spacing: .05em;
}


/* Dropover specific elements */
.dropover.simple, .dropover.simple.more{
	width: 300px;
	background-position: top 6px left 10px;
}

.dropover li button{
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
}
.dropover li button span{
	flex: auto;
	-webkit-flex: auto;
}

.dropover.notify{
	width: 250px;
	background-position: top 6px left 10px;
}
.dropover.notify .scrollable{
	max-height: 336px;
}