/*==============================================*/
/*  SCROLLBAR                                   */
/*==============================================*/



/* NOTIFICATIONS DROPOVER */
.dropover.notify .scrollable::-webkit-scrollbar-track
{
	border: none;
	background-color: transparent;
}
.dropover.notify .scrollable::-webkit-scrollbar
{
	width: 8px;
	background-color: transparent;
}
.dropover.notify .scrollable::-webkit-scrollbar-thumb
{
	background-color: #7f8c8d;
	border-radius: 5px;
}

/* HOME FEED DROPOVER */
.posts_cont.scrollable::-webkit-scrollbar-track
{
	border: none;
	background-color: transparent;
}
.posts_cont.scrollable::-webkit-scrollbar
{
	width: 8px;
	background-color: transparent;
}
.posts_cont.scrollable::-webkit-scrollbar-thumb
{
	background-color: #7f8c8d;
	border-radius: 5px;
}