
.scrollable{
	overflow-y: hidden;
	margin-right: 8px;
}
.scrollable:hover{
	overflow-y: auto;
	padding-right: 10px;
	margin-right: 0px;
}
.by_row{
	display: flex;
	flex-direction: row;
}

.by_col{
	display: flex;
	flex-direction: column;
	flex: auto;
}
.preloader-container {
		display: block;
		position: relative;
		width: 40px;
	}
.preloader-container .preloader {
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	border: solid 3px;
	border-color: #555555 white;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	-webkit-animation-name: rotate;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: rotate;
	-moz-animation-duration: 1.5s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-o-animation-name: rotate;
	-o-animation-duration: 1.5s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: linear;
	animation-name: rotate;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes rotate {
	from {
		-moz-transform: rotate(0deg);
	}

	to {
		-moz-transform: rotate(360deg);
	}
}

@-o-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

a:focus {
	outline: none;
}
