<p>Hello there,</p>

<p>This is to let you know that <a href="|author_link|">|author_name|</a> posted a new comment on <a href="|project_link|">|project_name|</a>:</p>

<p class="quote">|comment_body|</p>

<p>To reply, just follow <a href="|project_link|#comments">this link</a>.</p>

<p>Cheers,<br> The Arduino Project Hub team</p>
<p>
  Arduino Project Hub is powered by <a href="https://www.hackster.io">Hackster.io</a>
</p>

<p class="unsubscribe">
  Don't want to receive this type of email? <a href="|unsubscribe_link:new_comment_commented|">Unsubscribe</a> or <a href="|update_preferences_link|">update your notification preferences</a>.
</p>