<p>Hello there,</p>

<p>This is to confirm that <a href="|project_link|">|project_name|</a> has been submitted for publication.</p>

<p>We will review it as soon as possible and let you know if any changes are needed. In the meantime, please review our <a href="<%= u.guidelines_url %>?utm_source=hackster&utm_medium=email&utm_campaign=<%= @context[:email_template] %>">Content Guidelines</a> for more information about our expectations.</p>

<p>Cheers,<br> The Arduino Project Hub team</p>
<p>
  Arduino Project Hub is powered by <a href="https://www.hackster.io">Hackster.io</a>
</p>

<p class="unsubscribe">
  Don't want to receive this type of email? <a href="|unsubscribe_link:project_approved|">Unsubscribe</a> or <a href="|update_preferences_link|">update your notification preferences</a>.
</p>