- content_for :html_class do
  = 'artik-html'

css:
  .artik-header, .artik-footer {
    background-color: #F9F9F9;
  }
  .artik-header .inner, .artik-footer .inner {
    width: 1433px;
    margin: 0 auto;
  }
  .artik-footer {
    border-top: 1px solid #E0E5E7;
  }
  body.whitelabel .powered-by {
    padding: 20px 0px;
  }