<iframe frameborder="0" height="100%" src="http://www.snip2code.com/Embed/<%= embed.provider_id %>" width="100%"></iframe>
<small>Code snippet on <a href="http://www.snip2code.com/Snippet/<%= embed.provider_id %>">Snippet2Code</a>.</small>