<blockquote class="twitter-tweet" lang="en"><a href="https://twitter.com/<%= embed.provider_id %>">https://twitter.com/<%= embed.provider_id %></a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>