@import '../../../node_modules/react-select/scss/default';

/** Messenger */
.mouser-messenger{
  z-index: 5000;
  position: fixed;
  width: 500px;
  max-width: 90%;
  border-width: 2px;
  padding: 15px 20px;
  right: 10px;
  top: 10px;

  .messenger-body {
    padding: 3% 10%;
    border-left: 4px solid;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    .messenger-close-button {
      background: transparent;
      border: none;
      position: absolute;
      top: 15px;
      right: 25px;
    }
  }
}

.messenger-appear {
  right: -500px;
}

.messenger-appear.messenger-appear-active {
  right: 10px;
  transition: right .5s ease-in-out;
}