.user-popover
  .image= image_tag user.avatar(:mini), alt: user.name
  .details
    %h4
      = link_to user.name, user
      - if defined?(team_member)
        %span.muted= team_member.role
    %p= user.mini_resume