.toolbox-selector
  h1 Fill up your toolbox by selecting components, apps and tools you own or are using
  = link_to "I'll do this later", user_return_to, class: 'btn btn-link btn-sm'
= react_component 'ToolboxSelector', {}, {}