<p>Hi there</p>
<p>We just wanted to let you know that |invited_name| has accepted your invite to join Hackster.io.</p>
<p>Why don't you go <a href="<%= u.hacker_url(@context[:invited].id) %>">check their profile</a>?</p>
<%= render 'signature' %>