<p><a href="https://www.youtube.com/watch?v=z6ODMDtG6-I">Good news everyone!</a></p>

<p>Your project <a href="|project_link|">|project_name|</a> has been certified by <%= @context[:group].full_name %>!</p>

<p>This means that the nice folks over at <%= @context[:group].full_name %> think the information in your project is of great quality and can easily be replicated by other makers. You rock!</p>

<%= render 'signature' %>

<p class="unsubscribe">
  Don't want to receive this type of email? <a href="|unsubscribe_link:project_approved|">Unsubscribe</a> or <a href="|update_preferences_link|">update your notification preferences</a>.
</p>