<p>Hi!</p>

<p>Thanks for signing up on Hackster.io.</p>

<p>You need to create a password so you can access your account. You can do so through the link below:</p>

<p><a href="|email_confirmation_link|">Create my password</a></p>

<p>If you do not create a password within one month, your account will be automatically deleted.</p>

<%= render 'signature' %>