<p>Hi</p>
<p>A new error occurred:</p>
<p>
  <b>Message:</b>
  <pre>
  <%= h @context[:error].message %>
  </pre>
<p><a href="https://www.hackster.io/admin/logs">Go to the logs</a></p>
</p>
  Cheers
  <br>
  Hackster Bot
</p>