<p>Hello there,</p>

<p>|requester_name| has requested to join the team of <a href="|project_link|">|project_name|</a> on Hackster.io, you can approve or deny the application through the link below.</p>

<p><a href="|project_edit_team_link|">Process request</a></p>

<%= render 'signature' %>