<p>Hello there,</p>

<p>This is to let you know that <a href="|author_link|">|author_name|</a> has joined the <a href="|group_link|">|group_name| community</a>. Awesome!</p>

<%= render 'signature' %>