<p>Hello there,</p>

<p>This is to confirm that we have received your submission (<a href="|project_link|">|project_name|</a>) for the <a href="<%= u.mouser_vendors_url(subdomain: 'mousercontest', utm_source: 'hackster', utm_medium: 'email', utm_campaign: @context[:email_template]) %>">  Mouser Maker Madness contest</a>.</p>

<p>
  Submissions are open until May 31, 2016 at 11:59 PM PT. You will be notified of the results by June 15.
</p>

<p>Cheers,<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>