<p>Hello there,</p>

<p>This is to let you know that <a href="|author_link|">|author_name|</a> is now following <a href='<%= u.url_for([@context[:group], only_path: false]) %>'>|group_name|</a>. Yay!</p>

<%= render 'signature' %>