<p>Hello there,</p>

<p>|requester_name| has requested to join the event <a href="|group_link|">|group_name|</a> on Hackster.io, you can approve or deny the application through the link below.</p>

<p><a href="|group_manage_members_link|">Process request</a></p>

<%= render 'signature' %>