<p>Hello there,</p>

<p>This is to let you know that a new event has been posted for <a href='<%= u.group_url(@context[:meetup]) %>'>|meetup_name|</a>:</p>

<p><strong>Name: </strong>|event_name|</p>
<p><strong>Date: </strong><%= l @context[:event].start_date, format: :long_date_time %></p>
<p><a href='<%= u.group_url(@context[:event]) %>'>More info</a></p>

<%= render 'signature' %>