<p>Hello there,</p>

<p>This is to let you know that your work on the project <a href="|project_link|">|project_name|</a> has been graded. You can view your grade and accompanying feedback on <a href="https://www.hackster.io/grades">your dashboard</a>.</p>

<%= render 'signature' %>