<p>Hello there,</p>

<p>This is to let you know that <a href="|author_link|">|author_name|</a> posted a new issue for <a href="|project_link|">|project_name|</a>:</p>

<p class="quote">|issue_body|</p>

<p>To reply, just follow <a href="|issue_link|">this link</a>.</p>

<%= render 'signature' %>

<p class="unsubscribe">
  Don't want to receive this type of email? <a href="|unsubscribe_link:follow_project_activity|">Unsubscribe</a> or <a href="|update_preferences_link|">update your notification preferences</a>.
</p>