<p>Hello there,</p>

<p><a href='<%= u.url_for([@context[:inviter], only_path: false]) %>'>|inviter_name|</a> has invited you to join the group <a href='<%= u.url_for([@context[:group], only_path: false]) %>'>|group_name|</a> on Hackster.io, you can accept it through the link below.</p>

<p><a href="|group_invitation_link|">Accept invitation</a></p>

<p>If you don't want to accept the invitation, please ignore this email.</p>

<%= render 'signature' %>