<p>Hi there,</p>

<p>This is to confirm that your password has been changed.</p>

<p>If you did not initiate the password change please contact us as soon as possible by replying to this email.</p>

<%= render 'signature' %>