.notification-dropdown {
  width: 300px;
  padding-top: 2px;
  padding-bottom: 0;

  .notification-list-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 400px;

    .notification-list {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      max-height: 350px;
      overflow: auto;

      .notification-item {
        display: flex;
        flex-direction: column;
        height: 60px;
        padding: 15px 15px 5px;
        border-bottom: 1px solid #ddd;

        .notification {
          font-size: 12px;
          line-height: 1;
        }

        .notification-time {
          font-size: 12px;
        }
      }
    }

    .notification-footer {
      width: 100%;
      text-align: center;
      background: #F8F8F8;
      border-top: 1px solid #ddd;
      a {
        display: block;
        padding: 10px;
      }
    }
  }

}