li= link_to 'AVR', "/tags/avr?ref=# ref "
li= link_to 'Accelerometer', "/tags/accelerometer?ref=# ref "
li= link_to 'Bluetooth', "/tags/bluetooth?ref=# ref "
li= link_to 'GPS', "/tags/gps?ref=# ref "
li= link_to 'Gyroscope', "/tags/gyroscope?ref=# ref "
li= link_to 'IMU', "/tags/imu?ref=# ref "
li= link_to 'LED', "/tags/led?ref=# ref "
li= link_to 'Motion control', "/tags/motion+control?ref=# ref "
li= link_to 'NFC', "/tags/nfc?ref=# ref "
li= link_to 'OLED', "/tags/oled?ref=# ref "
li= link_to 'Stepper Motor', "/tags/stepper+motor?ref=# ref "
li= link_to 'Webcam', "/tags/webcam?ref=# ref "
li= link_to 'Wireless', "/tags/wireless?ref=# ref "
