<!-- Begin MailChimp Signup Form -->

<form action="//hackster.us7.list-manage.com/subscribe/post?u=3fd72855783c7f1a97812d84e&amp;id=6ff81e3e5b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_blank" novalidate>
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
  <input style="position: absolute; left: -5000px;" type="text" name="b_3fd72855783c7f1a97812d84e_6ff81e3e5b" tabindex="-1" value="">
  <div class="form-group">
    <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="nikola.tesla@hackster.io">
  </div>
  <input type="submit" value="Sign me up!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-sm">
</form>

<!--End mc_embed_signup-->