.pull-left
  .medium-status
    Last edit
    = time_ago_in_words last_edit
    ago
.pull-right
  = content_tag :button, 'Edit project', class: 'btn btn-primary medium-start-edit'
  = content_tag :button, 'Finish editing', class: 'btn btn-success medium-stop-edit', style: 'display:none'
.clearfix