li.highlight-item= link_to 'All platforms', "/platforms?ref=# ref "
li= link_to 'Arduino', "/arduino?ref=# ref "
li= link_to 'ATTiny', "/tags/attiny?ref=# ref "
li= link_to 'Atmega', "/tags/atmega?ref=# ref "
li= link_to 'BeagleBoard', "/beagleboard?ref=# ref "
li= link_to 'Digispark', "/digispark?ref=# ref "
li= link_to 'Electric Imp', "/electricimp?ref=# ref "
li= link_to 'Espruino', "/espruino?ref=# ref "
li= link_to 'Intel Galileo', "/intel-galileo?ref=# ref "
li= link_to 'MetaWear', "/metawear?ref=# ref "
li= link_to 'MSP430', "/tags/msp430?ref=# ref "
li= link_to 'Raspberry Pi', "/raspberry-pi?ref=# ref "
li= link_to 'Spark Core', "/spark?ref=# ref "
li= link_to 'Teensy', "/teensy?ref=# ref "
li= link_to 'TI Launchpad', "/ti-launchpad?ref=# ref "
