%a.addthis_button_compact.display-share-box.btn.btn-info.btn-ellipsis.btn-block
  Share
  %i.fa.fa-share-square-o

= content_for :js do
  <!-- AddThis Button BEGIN -->
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51b26f5613fb83d2"></script>
  <!-- AddThis Button END -->