var hacksterEmbed = {
  ready: function(fn) {
    if (document.readyState != 'loading'){
      fn();
    } else if (document.addEventListener) {
      document.addEventListener('DOMContentLoaded', fn);
    } else {
      document.attachEvent('onreadystatechange', function() {
        if (document.readyState != 'loading')
          fn();
      });
    }
  },

  forEach: function(array, fn) {
    for (i = 0; i < array.length; i++)
      fn(array[i], i);
  },

  getScript: function(src, callback) {
    var s = document.createElement('script');
    s.src = src;
    s.async = true;
    s.onreadystatechange = s.onload = function() {
      if (!callback.done && (!s.readyState || /loaded|complete/.test(s.readyState))) {
        callback.done = true;
        callback();
      }
    };
    document.querySelector('head').appendChild(s);
  }
}

hacksterEmbed.ready(function(){
  var script = document.getElementById('hckstr-ejs');

  hacksterEmbed.getScript("//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.min.js",
    function(){
      var source = '<%= j(render("projects/project_thumb_template")) %>';
      var css = '<%= asset_url "project-thumb.css" %>';
      if (!document.querySelectorAll("link[href='"+ css + "']").length)
        document.getElementsByTagName("head")[0].innerHTML += '<link href="' + css + '" rel="stylesheet">';
      var conf = window.hckstr;
      if (conf.thumbContainerClass) {
        conf.thumbContainerClass += ' thumb-container';
      } else {
        conf.thumbContainerClass = 'thumb-container';
      }

      var template = Handlebars.compile(source);
      var data = <%= @projects.to_s.html_safe %>;

      <% if params[:container_id] %>
        var superContainer = document.getElementById('<%= params[:container_id] %>');
      <% else %>
        if (conf.containerId) {
          var superContainer =  document.getElementById(conf.containerId);
        } else {
          var superContainer = document.createElement('div');
          script.parentNode.insertBefore(superContainer, script);
        }
      <% end %>
      if (superContainer.classList) {
        if (conf.containerClass)
          superContainer.classList.add(conf.containerClass);
        superContainer.classList.add('hackster-embed');
      } else {
        superContainer.className += ' hackster-embed ' + conf.containerClass;
      }

      hacksterEmbed.forEach(data, function(context, i){
        var container = '<div class="' + conf.thumbContainerClass + ' ">' + template(context) + '</div>';
        superContainer.innerHTML += container;
      });
      script.parentNode.removeChild(script);
    });
});