<div class="footer-container">
    <div class="footer container_12">
        <ul class="footer-social">
            <li>
                <a target="_blank" href=" https://www.youtube.com/playlist?list=PLBJH2-5oUEpvkyVjBlIQIYxvWJZhNfVCY"><img src="<%= image_url 'whitelabel/mediateklabs/ico-youtube-white.png' %>" alt=""></a>
            </li>
            <li>
                <a target="_blank" href="https://twitter.com/MediaTekLabs"><img src="<%= image_url 'whitelabel/mediateklabs/ico-twitter-white.png' %>" alt=""></a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/MediaTekLabs"><img src="<%= image_url 'whitelabel/mediateklabs/ico-facebook-white.png' %>" alt=""></a>
            </li>
            <li>
                <a target="_blank" href="https://plus.google.com/110459886495072204473/posts"><img src="<%= image_url 'whitelabel/mediateklabs/ico-googleplus-white.png' %>" alt=""></a>
            </li>
            <li>
                <a target="_blank" href="http://www.slideshare.net/MediaTekLabs"><img src="<%= image_url 'whitelabel/mediateklabs/ico-slideshare-white.png' %>" alt=""></a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/company/mediatek"><img src="<%= image_url 'whitelabel/mediateklabs/ico-linkedin-white.png' %>" alt=""></a>
            </li>
        </ul>
        <ul class="footer-links">
            <li><a href="http://mediatek.com/" target="_blank">MediaTek.com</a></li>
            <li><a target="_blank" href="http://mediatek.com/http://labs.mediatek.com/site/global/home/legal_notice.gsp">Legal Notice</a></li>
            <li><a target="_blank" href="http://mediatek.com/http://labs.mediatek.com/site/global/home/privacy.gsp">Privacy Policy</a></li>
        </ul>
        <div class="copyright">&copy; 2015 MediaTek Inc. All Rights Reserved.</div>
    </div>
</div>