<div class="header-container container_12">
    <div id="toppanel">
        <div id="toggle">
            <div class="open" id="open">
                <a href="http://labs.mediatek.com/" target="_blank">
                    Sign In or Register
                </a> for MediaTek Labs
            </div>
        </div>

    </div>
</div>
<div class="nav-container container_12">
    <!-- ddd    -->
    <div class="logo grid_3 omega ">
        <a href="/">
            <img class="main-logo" src="<%= asset_url 'whitelabel/mediateklabs/mediatek-logo-colored.png' %>">
        </a>
    </div>
    <div class="header-menu grid_7 alpha omega">
        <ul class="sf-menu ">
            <li><a href="http://labs.mediatek.com/site/global/tech_biz/wearables_iot/index.gsp">Tech & Biz Overview</a>
                <ul>
                    <li><a href="http://labs.mediatek.com/site/global/tech_biz/wearables_iot/index.gsp">Wearables & IoT</a>
                    </li>
                    <li><a href="http://labs.mediatek.com/site/global/tech_biz/smartphone_development/index.gsp">Smartphone Development</a>
                    </li>
                </ul>
            </li>
            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit/whatis_linkit/index.gsp">Dev Tools & Resources</a>
                <ul>
                    <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit/whatis_linkit/index.gsp">LinkIt ONE</a>
                        <ul>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit/whatis_linkit/index.gsp">What is LinkIt ONE</a>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit/sdk_intro/index.gsp">SDK Intro</a>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit/hdk_intro/index.gsp">HDK Intro</a>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit/api_references/Core_Digital.gsp">API References</a>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit/documentation/index.gsp">Documentation</a>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit/faq/index.gsp">FAQ</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit_assist_2502/whatis_2502/index.gsp">Linkit Assist 2502</a>
                        <ul>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit_assist_2502/whatis_2502/index.gsp">What is Linkit Assist 2502</a>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit_assist_2502/sdk_intro/index.gsp">SDK Intro</a>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit_assist_2502/hdk_intro/index.gsp">HDK Intro</a>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit_assist_2502/api_references/C_STD.gsp">API References</a>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit_assist_2502/documentation/index.gsp">Documentation</a>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit_assist_2502/faq/index.gsp">FAQ</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_7681/whatis_7681/index.gsp">LinkIt Connect 7681</a>
                        <ul>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_7681/whatis_7681/index.gsp">What is LinkIt Connect 7681</a>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_7681/sdk_intro/index.gsp">SDK Intro</a>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_7681/hdk_intro/index.gsp">HDK Intro</a>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_7681/documentation/index.gsp">Documentation</a>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_7681/faq/index.gsp">FAQ</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_cloud/whatis_cloud/index.gsp">Cloud Sandbox</a>
                        <ul>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_cloud/whatis_cloud/index.gsp">Introduction</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/mediatek_sdk_android/index.gsp">Offerings for Android</a>
                        <ul>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/mediatek_sdk_android/index.gsp">MediaTek SDK for Android</a>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/documentation/index.gsp">Documentation & Training</a>
                                <ul>
                                    <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/documentation/hotknot_tutorial/index.gsp">HotKnot Tutorial</a>
                                        <ul>
                                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/documentation/hotknot_tutorial/index.gsp#intro">Introduction</a>
                                            </li>
                                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/documentation/hotknot_tutorial/index.gsp#about">About this tutorial</a>
                                            </li>
                                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/documentation/hotknot_tutorial/index.gsp#prereqs">Prerequisites</a>
                                            </li>
                                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/documentation/hotknot_tutorial/index.gsp#createApp">Create your app project</a>
                                            </li>
                                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/documentation/hotknot_tutorial/index.gsp#editManifest">Edit the manifest</a>
                                            </li>
                                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/documentation/hotknot_tutorial/index.gsp#editString">Edit the string values</a>
                                            </li>
                                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/documentation/hotknot_tutorial/index.gsp#editLayout">Edit the layout</a>
                                            </li>
                                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/documentation/hotknot_tutorial/index.gsp#basics">The basics</a>
                                            </li>
                                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/documentation/hotknot_tutorial/index.gsp#addSettings">Add the HotKnot settings button</a>
                                            </li>
                                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/documentation/hotknot_tutorial/index.gsp#sendMessage">Sending a short message over a HotKnot connection</a>
                                            </li>
                                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/documentation/hotknot_tutorial/index.gsp#sendFile">Send a file over a HotKnot connection</a>
                                            </li>
                                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/documentation/hotknot_tutorial/index.gsp#receiveMessages">Receiving HotKnot messages and files</a>
                                            </li>
                                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/documentation/hotknot_tutorial/index.gsp#runApp">Run the app</a>
                                            </li>
                                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/documentation/hotknot_tutorial/index.gsp#resources">Resources</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/api_references/mediatek-sdk3/reference/packages.gsp">API References</a>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/reference_android_phones/index.gsp">Reference Android Phones</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="http://labs.mediatek.com/site/global/support/faqs/">Support</a>
                <ul>
                    <li><a href="http://labs.mediatek.com/site/global/support/faqs/index.gsp">FAQs</a>
                    </li>
                    <li><a href="/forums">Forums</a>
                    </li>
                </ul>
            </li>
            <li><a href="http://labs.mediatek.com/site/global/eco_showcase/index.gsp">Ecosystem & Showcase</a>
                <ul>
                    <li><a href="#">Catalogs</a>
                        <ul>
                            <li><a href="http://labs.mediatek.com/site/global/eco_showcase/solutions_catalog/showcase_your_solutions/index.gsp">Showcase your products</a>
                            </li>
                            <li><a href="#">Browse Catalogs</a>
                                <ul>
                                    <li><a href="/catalog/devices">Device</a>
                                    </li>
                                    <li><a href="/catalog/applications">Application</a>
                                    </li>
                                    <li><a href="/catalog/servicesTechnologies">Ecosystem Offering</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="http://labs.mediatek.com/site/global/eco_showcase/partner_connect/index.gsp">Partner Connect</a>
                    </li>
                </ul>
            </li>
            <li><a href="http://labs.mediatek.com/site/global/news_events/latest_news/">News & Events</a>
                <ul>
                    <li><a href="http://labs.mediatek.com/site/global/news_events/latest_news/">Latest News</a>
                    </li>
                    <li><a href="http://labs.mediatek.com/site/global/news_events/newsletter/">Newsletter</a>
                        <ul>
                            <li><a href="http://labs.mediatek.com/site/global/news_events/newsletter/2015/january/">2015</a>
                                <ul>
                                    <li><a href="http://labs.mediatek.com/site/global/news_events/newsletter/2015/april/index.gsp">April</a>
                                    </li>
                                    <li><a href="http://labs.mediatek.com/site/global/news_events/newsletter/2015/march/index.gsp">March</a>
                                    </li>
                                    <li><a href="http://labs.mediatek.com/site/global/news_events/newsletter/2015/february/index.gsp">Feb</a>
                                    </li>
                                    <li><a href="http://labs.mediatek.com/site/global/news_events/newsletter/2015/january/index.gsp">Jan</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/news_events/newsletter/2014/december/">2014</a>
                                <ul>
                                    <li><a href="http://labs.mediatek.com/site/global/news_events/newsletter/2014/december/">Dec</a>
                                    </li>
                                    <li><a href="http://labs.mediatek.com/site/global/news_events/newsletter/2014/november/">Nov</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="http://labs.mediatek.com/site/global/news_events/events/events_calendar/">Events</a>
                        <ul>
                            <li><a href="http://labs.mediatek.com/site/global/news_events/events/events_calendar/">Events Calendar</a>
                                <ul>
                                    <li><a href="http://labs.mediatek.com/site/global/news_events/events/events_calendar/iot_expo/index.gsp">Internet of Things Expo</a>
                                    </li>
                                    <li><a href="http://labs.mediatek.com/site/global/news_events/events/events_calendar/geek-picnic-moscow/index.gsp">GEEK PICNIC, Moscow</a>
                                    </li>
                                    <li><a href="http://labs.mediatek.com/site/global/news_events/events/events_calendar/maker_faire_shenzhen/index.gsp">Maker Faire, Shenzhen</a>
                                    </li>
                                    <li><a href="http://labs.mediatek.com/site/global/news_events/events/events_calendar/geek-picnic-st-petersbug/index.gsp">GEEK PICNIC, St Petersburg</a>
                                    </li>
                                    <li><a href="http://labs.mediatek.com/site/global/news_events/events/events_calendar/why-ito-wearbles-webinar-jul09/index.gsp">(Webinar) Discover LinkIt</a>
                                    </li>
                                    <li><a href="http://labs.mediatek.com/site/global/news_events/events/events_calendar/why-ito-wearbles-webinar-jul02/index.gsp">(Webinar) Labs Introduction</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="http://labs.mediatek.com/site/global/about_labs/programs_overview/whatis_mediatek_labs/index.gsp">About Labs</a>
                <ul>
                    <li><a href="http://labs.mediatek.com/site/global/about_labs/programs_overview/whatis_mediatek_labs/index.gsp">Programs Overview</a>
                        <ul>
                            <li><a href="http://labs.mediatek.com/site/global/about_labs/programs_overview/whatis_mediatek_labs/index.gsp">What is MediaTek Labs</a>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/about_labs/programs_overview/membership_benefits/index.gsp">Membership Benefits</a>
                            </li>
                            <li><a href="/dpRegister/create">Registration</a>
                            </li>
                            <li><a href="http://labs.mediatek.com/site/global/about_labs/programs_overview/site_terms_conditions/index.gsp">Site Terms & Conditions</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/contactUs">Contact Us</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="searchTop grid_2 alpha omega">
        <form id="SearchForm_SearchForm" action="http://labs.mediatek.com/luceneSearch/search">
            <input type="text" name="criteria" placeholder="Search">
            <input type="image" src="<%= image_url 'whitelabel/mediateklabs/ico-magnifying-glass-white.png' %>" class="searchbox_submit">
        </form>
    </div>
</div>