<div class="header-container">
    <div class="container_12">
        <div id="toppanel">
            <div id="toggle">
                <div class="open" id="open">
                    <a href="https://labs.mediatek.com/login/oauth_login?spring-security-redirect=http://labs.mediatek.com/" target="_blank">
                        Sign In or Register
                    </a> for MediaTek Labs
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav-container">
    <div class="container_12">
        <!-- ddd    -->
        <div class="logo grid_3 omega ">
            <a href="/">
                <img class="main-logo" src="<%= asset_url 'whitelabel/mediateklabs/mediatek-logo-colored.png' %>">
            </a>
        </div>
        <div class="header-menu grid_7 alpha omega">
            <ul class="sf-menu ">
                <li><a href="http://labs.mediatek.com/site/global/tech_biz/wearables_iot/index.gsp">Tech & Biz Overview</a>
                    <ul>
                        <li><a href="http://labs.mediatek.com/site/global/tech_biz/wearables_iot/index.gsp">Wearables & IoT</a>
                        </li>
                        <li><a href="http://labs.mediatek.com/site/global/tech_biz/smartphone_development/index.gsp">Smartphone Development</a>
                        </li>
                    </ul>
                </li>
                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit/whatis_linkit/index.gsp">Dev Tools & Resources</a>
                    <ul>
                        <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit/whatis_linkit/index.gsp">LinkIt ONE</a>
                            <ul>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit/whatis_linkit/index.gsp">What is LinkIt ONE</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit/sdk_intro/index.gsp">SDK Intro</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit/hdk_intro/index.gsp">HDK Intro</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit/get-started/index.gsp">Get Started</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit/api_references/Core_Digital.gsp">API References</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit/documentation/index.gsp">Documentation &amp; Training</a>
                                    <ul>
                                        <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit/documentation/sd-card-tutorial/index.gsp">SD Card Tutorial</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit/faq/index.gsp">FAQ</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit_assist_2502/whatis_2502/index.gsp">Linkit Assist 2502</a>
                            <ul>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit_assist_2502/whatis_2502/index.gsp">What is Linkit Assist 2502</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit_assist_2502/sdk_intro/index.gsp">SDK Intro</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit_assist_2502/hdk_intro/index.gsp">HDK Intro</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit_assist_2502/api_references/C_STD.gsp">API References</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit_assist_2502/documentation/index.gsp">Documentation</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_linkit_assist_2502/faq/index.gsp">FAQ</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_7681/whatis_7681/index.gsp">LinkIt Connect 7681</a>
                            <ul>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_7681/whatis_7681/index.gsp">What is LinkIt Connect 7681</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_7681/sdk_intro/index.gsp">SDK Intro</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_7681/hdk_intro/index.gsp">HDK Intro</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_7681/documentation/index.gsp">Documentation</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_7681/faq/index.gsp">FAQ</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">LinkIt Projects</a>
                            <ul>
                                <li><a href="http://mediateklabs.hackster.io">Hackster</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_cloud/whatis_cloud/index.gsp">Cloud Sandbox</a>
                            <ul>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_cloud/whatis_cloud/index.gsp">Introduction</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/mediatek_sdk_android/index.gsp">Offerings for Android</a>
                            <ul>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/mediatek_sdk_android/index.gsp">MediaTek SDK for Android</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/documentation/index.gsp">Documentation & Training</a>
                                    <ul>
                                        <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/documentation/hotknot_tutorial/index.gsp">HotKnot Tutorial</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/api_references/mediatek-sdk3/reference/packages.gsp">API References</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/developer_tools/mediatek_android/reference_android_phones/index.gsp">Reference Android Phones</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="http://labs.mediatek.com/site/global/support/faqs/">Support</a>
                    <ul>
                        <li><a href="http://labs.mediatek.com/site/global/support/faqs/index.gsp">FAQs</a>
                        </li>
                        <li><a href="http://labs.mediatek.com/forums">Forums</a>
                        </li>
                    </ul>
                </li>
                <li><a href="http://labs.mediatek.com/site/global/eco_showcase/index.gsp">Ecosystem & Showcase</a>
                    <ul>
                        <li><a href="#">Catalogs</a>
                            <ul>
                                <li><a href="http://labs.mediatek.com/site/global/eco_showcase/solutions_catalog/showcase_your_solutions/index.gsp">Showcase your products</a>
                                </li>
                                <li><a href="#">Browse Catalogs</a>
                                    <ul>
                                        <li><a href="http://labs.mediatek.com/catalog/devices">Device</a>
                                        </li>
                                        <li><a href="http://labs.mediatek.com/catalog/applications">Application</a>
                                        </li>
                                        <li><a href="http://labs.mediatek.com/catalog/servicesTechnologies">Ecosystem Offering</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="http://labs.mediatek.com/site/global/eco_showcase/partner_connect/index.gsp">Partner Connect</a>
                        </li>
                    </ul>
                </li>
                <li><a href="http://labs.mediatek.com/site/global/news_events/latest_news/">News & Events</a>
                    <ul>
                        <li><a href="http://labs.mediatek.com/site/global/news_events/latest_news/">Latest News</a>
                        </li>
                        <li><a href="http://labs.mediatek.com/site/global/news_events/newsletter/">Newsletter</a>
                        </li>
                        <li><a href="http://labs.mediatek.com/site/global/news_events/events/events_calendar/">Events</a>
                            <ul>
                                <li><a href="http://labs.mediatek.com/site/global/news_events/events/events_calendar/">Events Calendar</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="http://labs.mediatek.com/site/global/about_labs/programs_overview/whatis_mediatek_labs/index.gsp">About Labs</a>
                    <ul>
                        <li><a href="http://labs.mediatek.com/site/global/about_labs/programs_overview/whatis_mediatek_labs/index.gsp">Programs Overview</a>
                            <ul>
                                <li><a href="http://labs.mediatek.com/site/global/about_labs/programs_overview/whatis_mediatek_labs/index.gsp">What is MediaTek Labs</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/about_labs/programs_overview/membership_benefits/index.gsp">Membership Benefits</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/dpRegister/create">Registration</a>
                                </li>
                                <li><a href="http://labs.mediatek.com/site/global/about_labs/programs_overview/site_terms_conditions/index.gsp">Site Terms & Conditions</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="http://labs.mediatek.com/contactUs">Contact Us</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="searchTop grid_2 alpha omega">
            <form id="SearchForm_SearchForm" action="http://labs.mediatek.com/luceneSearch/search">
                <input type="text" name="criteria" placeholder="Search">
                <input type="image" src="<%= image_url 'whitelabel/mediateklabs/ico-magnifying-glass-white.png' %>" class="searchbox_submit">
            </form>
        </div>
    </div>
</div>