= f_widget.input :raw_code, as: :text, label: false, input_html: { 'data-field-type' => 'raw_code', class: 'hidden' }
= f_widget.input :language, as: :hidden, input_html: { 'data-field-type' => 'language' }, label: 'Programming language'