= f_widget.input :document_file_name, as: :hidden, input_html: { 'data-field-type' => 'document_file_name', name: '' }
= f_widget.input :document_id, as: :hidden, input_html: { 'data-field-type' => 'document_id' }