.expanded-footer.comments.collapsed{ id: "widget-#{widget.id}-comments" }
  - if comments.any?
    - comments.each do |comment|
      = render partial: 'comments/comment', locals: { comment: comment }
  - if user_signed_in?
    = render partial: 'comments/signed_in_form', locals: { commentable: widget }
  - else
    = render partial: 'comments/guest_form', locals: { commentable: widget }