.project-section  id: "widget-comments"  
  .section-header
    h2 Comments and feedback
  .section-content= render partial: 'widgets/comments', locals:   comments: comments, commentable: commentable  
