#widget-respects.meta
  .meta-title-wrap
    .meta-title
      Users who respect this project
      = render partial: 'respects/button', locals: { project: @project }
  .respect-thumbs.clearfix
    - users.each do |user|
      = link_to image_tag(user.decorate.avatar(:thumb), class: 'img-responsive respects-user-img istooltip', data: { container: 'body' }, rel: 'tooltip', title: user.name), user