$('#showcase #widget-new').html('<h3>New content block</h3><%= escape_javascript render("form") %>');
$("<%= escape_javascript content_for(:js) %>").appendTo($('#widget-new'));
smoothScrollTo('#widget-new', -40);