.page-header
  h1 Editing #{@project.name}

= simple_nested_form_for [:admin, @project], url: admin_project_path(@project.id), html: { class: 'form-horizontal accept-file-upload' }, wrapper: :bootstrap3_horizontal do |f|
  = render partial: 'form', locals: { f: f }