.page-header
  h1 New project

= simple_nested_form_for [:admin, @base_article], url: admin_projects_path, html: { class: 'form-horizontal accept-file-upload' }, wrapper: :bootstrap3_horizontal do |f|
  = render partial: 'form', locals: { f: f }
