.notification-button-wrapper {
  display: block;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 19px;
  margin-bottom: 19px;
  border-right: 1px solid #ddd;
  text-align: center;

  .notification-button {
    padding: 0 22px;
    color: #777;
  }

  .notification-button:hover {
    color: #999;
  }
}

.notification-dropdown {
  width: 300px;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 5px;

  .notification-list-wrapper {
    max-height: 400px;

    .notification-list {
      list-style: none;
      margin: 0;
      max-height: 350px;
      overflow-y: scroll;
      overflow-x: hidden;

      .notification-item {
        height: 80px;
        padding: 10px 15px 5px;
        border-bottom: 1px solid #ddd;
        &:hover {
          background: #fafafa;
        }
        &:first-child {
          @include border-radius(4px 4px 0 0);
        }
        &:last-child {
          border-bottom: 0;
        }
        .notification {
          margin-bottom: 5px;
        }
        .notification-time {
          font-size: 0.8em;
          margin-bottom: 0;
        }
      }

      .notifications-loading-icon {
        display: block;
        padding: 15px;
        text-align: center;
        color: #ddd;
      }
    }

    .notification-footer {
      width: 100%;
      text-align: center;
      background: #F8F8F8;
      border-top: 1px solid #ddd;
      @include border-radius(0 0 4px 4px);
      a {
        display: block;
        padding: 10px;
      }
    }
  }

}