.row
  .span12
    .well
      .header
        %h1 Help
      .content
        %h2 Projects
        %p A project is made of general information (name, description, logo, tags) that is filled when creating it, as well as more specific technical details contained in the stages.
        %h3 Stages
        %p There are four stages: concept, prototype, pilot, and production. Each stage can contain any number of components which can be either text, images, documents, videos or code.
        %p Each stage shows a completion bar, which is automatically filled in with the completion information from the components.
        %h3 Team
        %p You can have as many team members as you like, and each team member will have rights to edit the project.
        %h3 Blog and discussions
        %p Finally you can document your progress in a more narrative form using the project blog, and discuss specific issues using the discussions.