.row
  .col-xs-12
    .alert.alert-info.text-center
      = SLOGAN
      - unless user_signed_in?
        = link_to 'Request an invite', new_invite_request_path, class: 'btn btn-info btn-sm'

.row
  - @projects.each do |project|
    = render partial: 'projects/project_thumb', locals: { project: project.decorate }

.row
  .col-xs-12.text-center
    = link_to 'Browse all projects &rarr;'.html_safe, projects_path, class: 'btn btn-default'