.row
  .span12
    .alert.alert-info.text-center
      Hackster.io is the place where hardware hackers and makers showcase their projects.
      - unless user_signed_in?
        = link_to 'Request an invite', new_invite_request_path, class: 'btn btn-info btn-small'

.row
  .span12
    %ul.thumbnails
      - @projects.each do |project|
        = render partial: 'projects/project_thumb', locals: { project: project.decorate }