.page.wellified
  %h1.top Infringement Notice Policy
  %p
    If you believe that Content available by means of the Website (as defined in our
    = succeed ")" do
      %a{href: "/terms"} Terms of Service
  %p
    If Hackster takes action in response to an Infringement Notice, it will make a good faith attempt to contact the party that made such content available by means of the
    most recent email address, if any, provided by such party to Hackster.
  %p
    Please be advised that you will be liable for damages (including costs and attorneys’ fees) if you materially misrepresent that Content or activity is infringing your
    intellectual property right. Thus, if you are not sure content located on or linked-to by the Website infringes your intellectual property right, you should consider first
    contacting an attorney.
  %p All Infringement Notices must include the following:
  %ul
    %li
      A signed paper document addressed to the business address of Hackster, Inc., 739 Bryant street, San Francisco, CA 94107, USA or a signed PDF emailed to legal@hackster.io, of the
      intellectual property rightowner or a person authorized to act on their behalf;
    %li An identification of the intellectual property right claimed to have been infringed;
    %li
      A description of the nature and location of the Content that you claim to infringe your copyright, in sufficient detail to permit Hackster to find and positively
      identify that Content;
    %li Your name, address, telephone number and email address; and
    %li
      A statement by you: (a) that you believe in good faith that the use of the Content that you claim to infringe your intellectual property right is not authorized by
      law, or by the right owner or such right holder’s agent; and (b) under penalty of perjury, that all of the information contained in your Infringement Notice is accurate,
      and that you are either the intellectual property right holder or a person authorized to act on their behalf.
  %p Infringement Notices should be sent to
  %address
    %p
      %a{href: "mailto:legal@hackster.io"} legal@hackster.io
  %p or
  %address
    %p
      Hackster, Inc.
      %br/
      739 Bryant street
      %br/
      San Francisco, CA 94107
      %br/
      USA

  %hr/
  %p
    The foundations of this document is based on the same document made available by Gitorious.org under the Creative Commons Sharealike license. This derivative document is
    licensed under the
    = succeed "." do
      %a{href: "http://creativecommons.org/licenses/by-sa/3.0/"} Creative Commons Sharealike license
  %p
    %img{alt: "", src: "http://i.creativecommons.org/l/by-sa/3.0/no/88x31.png"}/