= content_for :js do

  javascript:
    $.ajax({
      url: 'http://www.localhost.local:5000/api/v1/parts/12101',
      username: 'OI1B0WGzHaZthtED2YuLrA',
      password: 'a6aad7e6cc81f98b90a747fa20e815a85f29981a',
      dataType: 'json',
      type: 'PATCH',
      data: {
        'part[name]': 'test part v2'
      },
      beforeSend: function(xhr) {
        var reqHeader = "Basic " + btoa('OI1B0WGzHaZthtED2YuLrA' + ":" + 'a6aad7e6cc81f98b90a747fa20e815a85f29981a');
        xhr.setRequestHeader("Authorization", reqHeader);
      }
    }).done(function(response){
      console.log(response);
    });