= content_for :js do

  javascript:
    var username = 'OI1B0WGzHaZthtED2YuLrA';
    var password = 'a6aad7e6cc81f98b90a747fa20e815a85f29981a';
    $.ajax({
      url: 'https://api.hackster.io/v1/parts/13251',
      dataType: 'json',
      type: 'PATCH',
      data: {
        'part[name]': 'test v2',
        'part[private]': true,
      },
      beforeSend: function(xhr) {
        var reqHeader = "Basic " + btoa(username + ":" + password);
        xhr.setRequestHeader("Authorization", reqHeader);
      }
    }).done(function(response){
      console.log(response);
    });