javascript:
  window.hckstr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      h = window.hckstr || {};
    if (d.getElementById(id)) return h;
    js = d.createElement(s);
    js.id = id;
    js.src = "//cypress.localhost.local:5000/embed.js?per_page=3";
    fjs.parentNode.appendChild(js, fjs);

    h._e = [];
    h.ready = function(f) {
      h._e.push(f);
    };

    return h;
  }(document, "script", "hckstr-ejs"));

css:
  .hackster-embed .project-thumb-details { padding-left: 0; padding-right: 0; }
  .hackster-embed .project-thumb-bottom  { padding-left: 0; padding-right: 0; }