- ref = defined?(ref) ? ref : nil
= link_to image_tag(project.decorate.cover_image(:cover_thumb), class: 'img-responsive'), project_path(project, ref: ref), rel: 'tooltip', title: project.one_liner
%h6= link_to project.name, project_path(project, ref: ref)