= content_for :head do
  %meta{ name: 'robots', content: 'noindex' }

.content.projects
  .row
    .col-xs-12
      %h1
        Explore all projects
        %small page #{params[:page] || 1}

  .row
    - @projects.each do |project|
      = render partial: "projects/project_thumb", locals: { project: project.decorate }
  .row
    .col-xs-12.text-center= will_paginate @projects