.content.projects
  .row
    .span12
      %ul.thumbnails
        - @projects.each do |project|
          = render partial: "projects/project_thumb", locals: { project: project.decorate }
  .row
    .span12.text-center= will_paginate @projects