<p>Hi there</p>
<p>We just wanted to let you know that your request to join <a href="|group_link|">|group_name|</a> has been accepted. Congrats!</p>
<p>Cheers
  <br>
  The Hackster.io team
</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>