<p>Hello there,</p>

<p>This is to let you know that <a href="|project_link|">your entry</a> for <a href="<%= u.challenge_url(@context[:challenge]) %>">|challenge_name|</a> has been accepted.</p>

<p>Submissions are open until <%= l @context[:challenge].end_date %>, so hold tight until then!</p>

<p>Cheers,<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>