<p>Hello there,</p>

<p>This is to let you know that your entry "|idea_name|" for the pre-contest phase of <a href="<%= u.challenge_url(@context[:challenge], ref: 'emailnotif') %>">|challenge_name|</a> has been accepted. Hurray!</p>

<p>Please note that you have not won any prizes yet; this email simply confirms that your entry is eligible to participate in the pre-contest.</p>

<% if @context[:challenge].pre_contest_in_progress? %>
  <p>
  Submissions to the pre-contest are open until <%= l @context[:challenge].pre_contest_end_date.in_time_zone(PDT_TIME_ZONE) %> PDT.
  <% if @context[:challenge].pre_winners_announced_date %>
    Winners will be announced on <%= l @context[:challenge].pre_winners_announced_date, format: :short_date %>.
  <% end %>
</p>
<% end %>

<p>Cheers,<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>