<p>Hi!</p>

<p>Thanks for signing up on Hackster.io.</p>

<p>You need to create a password so you can access your account. You can do so through the link below:</p>

<p><a href="|email_confirmation_link|">Create my password</a></p>

<p>If you do not create a password within one month, your account will be automatically deleted.</p>

<p>Cheers,<br>The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>