<p>
  |message_name|
  sent you the following message using the contact form:
</p>
<p>
  |message_body|
</p>
<p> ______________________________________________________________________ </p>
<p>
  Email address:
  |message_from_email|
</p>
<p>You can hit your messenger's reply button to reply to this message directly.</p>
<p>
  Cheers
  <br/>
  Hackster.io Bot
</p>