<p>Hi there</p>

<p>We hope you've been finding useful and interesting hardware projects on Hackster.io.</p>

<p>It's now time for you to share your own projects! We've made it really easy to get started: you can import existing posts from your personal site if you have one. Go to <a href="http://www.hackster.io/projects/new">the showcase page</a> and enter the article URL at the bottom. We're excited to see what you've done!</p>

<p>If you need any help, you can simply reply to this email.</p>

<p>Cheers<br>The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>

<p class="unsubscribe">
  Don't want to receive this type of email? <a href="|unsubscribe_link|">Update your notification preferences</a>.
</p>