<p>Hi!</p>

<p>We've received a request to change the email address associated with your Hackster.io account. The new email will be <strong><%= @context[:user].unconfirmed_email %></strong>.</p>

<p>To confirm the change please click the link below. If you didn't initiate the change or changed your mind, you can just discard this email.</p>

<p><a href="|email_confirmation_link|">Confirm email change</a></p>

<p>Cheers,<br>The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>