<% days = ((@context[:challenge].end_date.to_i - DateTime.now.to_i) / 86400) %>

<p>Hello there,</p>

<p>This is to remind you that <a href="<%= u.challenge_url(@context[:challenge], ref: 'emailnotif') %>">|challenge_name|</a> is ending in less than <%= days <= 1 ? 'a day' : "#{days} days" %>. Be sure to submit your entry as soon as possible!</p>

<p>Cheers,<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>