<p>
  A new invite was requested:
</p>
<p>
  <b>Email:</b> |invite_email|<br/>
  <b>Profile URL:</b> |invite_profile_url|<br/>
  <b>Twitter username:</b> |invite_twitter_username|
</p>
<p>
  <a href="http://beta.hackster.io/admin/users">Click here to grant it.</a>
</p>
<p>
  Cheers
  <br/>
  Hackster.io Bot
</p>