<p>
  A new invite was requested:
</p>
<p>
  <b>Email:</b> |invite_email|<br/>
  <b>Project:</b> <a href="|invite_project_url|">|invite_project_url|</a><br/>
</p>
<p>
  <a href="http://www.hackster.io/admin/invite_requests">Click here to grant it.</a>
</p>
<p>
  Cheers
  <br/>
  Hackster.io Bot
</p>