 <p>Hi there</p>
 <p>We just wanted to confirm that we have you on our early user list. We'll be in touch very soon with good news.</p>
 <p>In the meantime, we'd love to hear back from you. What are you working on? What is it that you most need to make your project go forward?</p>
 <p>Cheers
   <br>
   The Hackster.io team
 </p>