<p>Hi there</p>
<p>We just wanted to confirm that we have you on our early user list. We'll be in touch very soon with good news.</p>
<p>In the meantime, we'd love to hear back from you. What are you working on? What is it that you most need to make your project go forward?</p>
<p>PS: Receive an invite even earlier <a href="https://docs.google.com/forms/d/1LcFFYnJErhI92mJ6u5BM89i_zbYKR8PzL_Ui815xf4g/viewform">by answering two short questions</a> (click the link to access the questionnaire).</p>
<p>Cheers
  <br>
  The Hackster.io team
</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>