<p>Hi there,</p>

<p>We're writing to let you know that project pages on Hackster.io just got a facelift, and it's affecting your projects. Nothing major, we've just applied a single column layout across all pages. This means that the widgets that used to be in the second column are now at the bottom of the page. We suggest you go take a look to make sure you're happy with the new ordering.</p>

<p>Here are the projects that got affected:
  <ul>
    <% @context[:user].projects.where("projects.layout IS NULL or projects.layout = '2'").each do |project| %>
    <li><a href="<%= u.project_url(project) %>"><%= project.name %></a></li>
    <% end %>
  </ul>
</p>

<p>Let me know if you need any help.</p>

<p>Cheers,<br>
  Ben<br>
  <a href="http://www.hackster.io">hackster.io</a><br>
  Founder
</p>

<p class="unsubscribe">
  Don't want to receive this type of email? <a href="|unsubscribe_link|">Update your notification preferences</a> under "Other mailings".
</p>