<p>Hello there,</p>

<p>|requester_name| has requested to join the event <a href="|group_link|">|group_name|</a> on Hackster.io, you can approve or deny the application through the link below.</p>

<p><a href="|group_manage_members_link|">Process request</a></p>

<p>Cheers,<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>