<p>Hello there,</p>

<p>This is to let you know that <a href="|author_link|">|author_name|</a> commented on <a href="<%= u.url_for([@context[:thread], only_path: false]) %>">a project review you're involved in</a>:</p>

<p class="quote">|comment_body|</p>

<p>To reply, just follow <a href="<%= u.url_for([@context[:thread], only_path: false]) %>">this link</a>.</p>

<p>Cheers,<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>