<p>Hello there,</p>

<p>This is to confirm that you are now registered for <a href="<%= u.challenge_url(@context[:challenge]) %>">|challenge_name|</a>.</p>

<p>Please take time to review <a href="<%= u.challenge_brief_url(@context[:challenge].slug, anchor: 'rules', show_rules: 1) %>">the challenge rules</a> to learn more about the requirements.</p>

<p>You have until <%= l @context[:challenge].end_date.in_time_zone(PDT_TIME_ZONE) %> PDT to submit your entry. Good luck!</p>

<p>Cheers,<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>