<p>Hello there</p>

<p>This is to let you know that <a href="|author_link|">|author_name|</a> posted a new comment on <a href="|issue_link|">|issue_title|</a>:</p>

<p class="quote">|comment_body|</p>

<p>To reply, just follow <a href="|issue_link|">this link</a>.</p>

<p>Cheers<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>

<p class="unsubscribe">
  Don't want to receive this type of email? <a href="|unsubscribe_link|">Update your notification preferences</a>
</p>