<p>Hello there,</p>

<p>This is to let you know that <a href="|author_link|">|author_name|</a> is now following <a href='<%= u.url_for([@context[:group], only_path: false]) %>'>|group_name|</a>. Yay!</p>

<p>Cheers,<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>