<p>Hello there,</p>

<p>This is to let you know that <a href="|author_link|">|author_name|</a> submitted a <a href="<%= u.challenge_idea_url(@context[:challenge], @context[:idea], ref: 'emailnotif') %>">new idea</a> for <a href="<%= u.challenge_url(@context[:challenge], ref: 'emailnotif') %>">|challenge_name|</a>.</p>

<p>You can moderate it by going to the <a href="<%= u.challenge_admin_ideas_url(@context[:challenge]) %>">ideas dashboard</a>.</p>

<p>Cheers,<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>