<p>Hello there</p>

<p>This is to let you know that |author_name| posted a new comment on <a href="|project_link|">|project_name|</a>:</p>

<p>|comment_body|</p>

<p>To reply, just follow this <a href="|project_link|">link</a>.</p>

<p>Cheers<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>