<p>Hello there,</p>

<p>You must be awesome because you were just awarded a new badge for <strong><%= @context[:badge].explanation(@context[:awarded_badge].level) %></strong></p>

<p>You now have a total of <%= pluralize @context[:user].badges_count, 'badge' %>. Keep it up! <a href="https://www.hackster.io/achievements">Click here to learn more about badges.</a></p>

<p>Cheers,<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>

<p class="unsubscribe">
  Don't want to receive this type of email? <a href="|unsubscribe_link:new_badge|">Unsubscribe</a> or <a href="|update_preferences_link|">update your notification preferences</a>.
</p>