 <p>Hello there</p>
 <p>We have received a request to change your password; you can do this through the link below.</p>
 <p>Click the link to reset your password: <a href="|password_reset_link|">|password_reset_link|</a></p>
 <p>If you didn't request this, please ignore this email.</p>
 <p>Your password won't change until you access the link above and create a new one.</p>
 <p>Cheers<br> The Hackster.io team</p>