<% days = ((@context[:challenge].pre_contest_end_date.to_i - DateTime.now.to_i) / 86400) %>

<p>Hello there,</p>

<p>This is to remind you that the pre-contest for <a href="<%= u.challenge_url(@context[:challenge], utm_source: 'hackster', utm_medium: 'email', utm_campaign: @context[:email_template]) %>">|challenge_name|</a> is ending in less than <%= days <= 1 ? 'a day' : "#{days} days" %>. Be sure to <a href="<%= u.new_challenge_idea_url(@context[:challenge], utm_source: 'hackster', utm_medium: 'email', utm_campaign: @context[:email_template]) %>">submit your idea</a> as soon as possible!</p>

<p>Cheers,<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>