<p>Hi |user_informal_name|</p>

<p>I noticed that you started documenting <a href="<%= project_url(@context[:user].projects.private.last) %>"><%= @context[:user].projects.private.last.name %></a> on Hackster.io but didn't complete it. Is there anything I could do to help?</p>

<p>Cheers,<br>
  Ben<br>
  <a href="http://www.hackster.io">hackster.io</a><br>
  Founder
</p>

<p class="unsubscribe">
  Don't want to receive this type of email? <a href="|unsubscribe_link|">Update your notification preferences</a>.
</p>