<p>Hi there,</p>

<p>You're receiving this email because you're signed up to 'other announcements' and you've created at least one project on Hackster.</p>

<p>We constantly update Hackster and add new features. Every now and then we make updates that affect your content or profile, for which we think you should be notified.</p>

<p>What we've done this time is simple. We've separated projects in five sections: story, components, schematics, CAD, and code. This change is reflected in the project editor.</p>

<p><strong>Why did we do this?</strong></p>
<ul>
  <li>Hackster is a place to share ideas but also to find clear instructions on how to build things. The previous version of our editor was free form, and as such it was easy to omit important details like the list of components or the code.</li>
  <li>Ever got into some weird bug while editing a project? Us too. They soon will all be history! (the former text editor is on its way out)</li>
  <li>We're working on further very interesting things that more structured data will enable, stay tuned!</li>
</ul>

<p><strong>How does this affect you?</strong><br>
Well, for one thing this is what projects will look like from now on. Secondly, as we migrated existing projects to the new structure, we duplicated a lot of things. We didn't want to modify your work in an automated way, but we also wanted to put that new structure in place, so we copied existing blocks to the new sections. So for instance if you had a code snippet in your project, it's still where you put it in the first place, but it's also been copied to the code section.</p>

<p><strong>What should you do about it?</strong><br>
We recommend you <a href='<%= url_for [@context[:user], only_path: false] %>?ref=emailnotif'>check each of your projects</a> and remove by hand the deprecated blocks from the story tab. Anything that's not text, images or videos is deprecated from that tab.</p>

<p><strong>Other things that are possible now:</strong></p>
<ul>
  <li>Select your project's difficulty!</li>
  <li>PDF viewer for schematics!</li>
  <li>Your CAD files are viewable in-browser if compatible with Sketchfab!</li>
  <li>Embed your work from tons of existing websites!</li>
</ul>

<p>Questions? Feedback? Reply to this email to let us know.</p>

<p>Cheers,<br>
Ben and the Hackster team</p>

<p class="unsubscribe">
  Don't want to receive this type of email? <a href="|unsubscribe_link|?ref=emailnotif">Update your notification preferences</a>
</p>