<p>Hello there,</p>
<p>|inviter_name| is working on a called project |project_name| on Hackster.io and is inviting you to give a hand.</p>
<p>To participate, go to the <a href="|project_link|?auth_key=|invite_auth_key|">project page</a> (you will be required to create an account with the following email: |invite_email|).</p>
<p>Cheers,<br> The Hackster.io team</p>