<p>Hello there</p>
<p>|inviter_name| is working on a project called |project_name| on Hackster.io and has an issue which you might be able to fix:</p>
<p><b>|issue_title|</b></p>
<p>|issue_body|</p>
<p>To participate, go to the <a href="|issue_link|?auth_key=|invite_auth_key|">issue page</a> (you will be required to create an account with the following email: |invite_email|).</p>
<p>Cheers<br> The Hackster.io team</p>