<p>Hello there,</p>

<p>This is to confirm that <a href="|project_link|">|project_name|</a> has been submitted for publication.</p>

<p>We will review it as soon as possible and let you know if any changes are needed. In the meantime, please review our <a href="<%= u.guidelines_url %>?utm_source=hackster&utm_medium=email&utm_campaign=<%= @context[:email_template] %>">Content Guidelines</a> for more information about our expectations.</p>

<p>Once your write-up is approved, don't forget that you will receive 50 points to spend on <strong>free hardware</strong> in the <a href="<%= u.store_url %>?utm_source=hackster&utm_medium=email&utm_campaign=<%= @context[:email_template] %>">Hackster Free Store</a>.</p>

<p>Cheers,<br> The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>

<p class="unsubscribe">
  Don't want to receive this type of email? <a href="|unsubscribe_link:project_approved|">Unsubscribe</a> or <a href="|update_preferences_link|">update your notification preferences</a>.
</p>