<p>Welcome!</p>
<p>We're thrilled to have you onboard.</p>
<p>What now?</p>
<ul>
  <li><a href="|user_profile_edit_link|">Complete your profile</a></li>
  <li><a href="|project_new_link|">Create your first project</a></li>
  <li><a href="|invite_friends_link|">Invite friends</a></li>
</ul>
<p>Any feedback or questions on how to use the site? Just reply to this email directly.</p>
<p>Cheers<br>The Hackster.io team</p>
<p>
  <a href="http://www.facebook.com/hacksterio">Like us on Facebook</a>
  |
  <a href="http://twitter.com/hacksterio">Follow us on Twitter</a>
</p>