<p>Hi,</p>

<p>We're writing to let you know about cool new features we're releasing which may affect the way you manage your data on Hackster.io.</p>

<p>We're launching what we call "whitelabel community sites", which are really smaller versions of Hackster.io, dedicated to a specific platform. On these sites, you'll be able to directly browse, share, respect and comment on projects made only with these platforms. They use a subset of Hackster.io's data. This means that if you're following that platform, or you've created a project tagged with that platform, or respected one, or commented on one, your profile will show up on that site.</p>

<p><strong>What's a whitelabel community site exactly?</strong><br>
It's like Hackster, but dedicated to a specific community. For instance, Spark has a page on Hackster at <a href="http://www.hackster.io/spark">http://www.hackster.io/spark</a>. They also have their own dedicated project site at <a href="http://spark.hackster.io">http://spark.hackster.io</a>. Both sites rely on the same database, and so the projects that show on both are the same. Comments and information about who respected the projects also appear on both.</p>

<p><strong>So you're sharing my data?</strong><br>
We're not. All your data remains on our servers. We're running these sites for them, and although they may appear like they're part of their sites, they're still fully powered by us.</p>

<p><strong>Will my full profile appear on whitelabel community sites?</strong><br>
Your profile will appear on these sites only if you've interacted with them directly (followed, created a project), or indirectly through projects (commented, respected). Moreover, only your interactions relevant to that platform will show. So for instance, if you've created a Spark Core project, and have commented on one Arduino project, then your profile on Hackster.io will show both your Spark Core project and your Arduino comment. However, only your Spark Core project will show on your profile on Spark Core's whitelabel community site, not your Arduino comment.</p>

<p><strong>Will my private information be visible to anyone else?</strong><br>
Nope, only your public information, the same info that appears on your public profile on Hackster.io.</p>

<p><strong>What if I don't want my projects and profile to show on these sites?</strong><br>
We've added an option to your account settings to do just that. After logging in, go to <a href="http://www.hackster.io/users/edit">http://www.hackster.io/users/edit</a> and uncheck "Allow my profile and projects to appear on community sites powered by Hackster". That's it, we'll then filter out your info on all whitelabel community sites.</p>

<p><strong>I have more questions.</strong><br>
Email us at hi@hackster.io, we'll be happy to answer them.</p>

<p>We've also updated our <a href="http://www.hackster.io/terms">terms</a> and <a href="http://www.hackster.io/privacy">privacy policy</a> to reflect the changes, feel free to take a look.</p>

<p>Cheers,<br>
Ben and the Hackster team</p>

<p><small>This email was sent to you because you have an account on Hackster.io and have either created a project, respected a project, posted a comment, or followed someone.</small></p>