= simple_form_for @invite_request, :html => { :class => 'form-inline' } do |f|
  %p.cta Be the first to get in:

  = f.input :email, :placeholder => 'nikola@tesla.com', :label => false, :autofocus => true
  = f.submit "I'm awesome"