%p Thanks! We'll be in touch soon.
%p
  Receive an invite even earlier
  = link_to 'by answering two short questions', 'https://docs.google.com/forms/d/1LcFFYnJErhI92mJ6u5BM89i_zbYKR8PzL_Ui815xf4g/viewform'
  (click the link to access the questionnaire).