.col-xs-5.col-xs-offset-3.wellified
  %h2{ style: 'text-align: center;margin-bottom: 0' } Good to see you here
  %p.text-center Request your invite for Hackster.io
  = render 'form'

  %p
    Already have an account?
    = link_to 'Sign in.', new_user_session_path

.col-xs-3.pull-right
  %h4 About invites
  %p Hackster.io is a community of hardware hackers and makers.
  %p We're invite-only because we want to ensure that everyone who joins will be able to contribute to the community by sharing their work and giving feedback to others.