<div class="shell-footer" data-bi-area="Footer" data-bi-view="1xLinks">
  <div class="shell-footer-wrapper">
    <div class="shell-footer-lang">
      <h4>
        <a data-bi-name="LocalePicker" href="https://devx.windows.com/locale"
        id="locale-picker-link"><i class="shell-icon-globe"></i>English (United
        States)&lrm;</a>
      </h4>
    </div>
    <div class="shell-footer-copyright">
      <ul>
        <li>
          <a class="ctl_footerNavLink" data-bi-name="ContactUs" data-bi-slot=
          "1" href="http://support.microsoft.com/contactus">Contact us</a>
        </li>
        <li class="ctl_footerCopyright">&copy; 2015 Microsoft
        </li>
      </ul>
    </div>
  </div>
</div>