<script src="https://assets-int.onestore.ms/cdnfiles/onestorerolling-1503-06007/shell/common/js/jquery-menu-aim.js"></script>
<script src="https://assets-int.onestore.ms/cdnfiles/onestorerolling-1503-06007/shell/common/js/search-suggestions.js"></script>
<script src="https://assets-int.onestore.ms/cdnfiles/onestorerolling-1503-06007/shell/common/js/shell.js"></script>
<script src="https://assets-int.onestore.ms/cdnfiles/onestorerolling-1503-06007/shell/common/js/shell-ui.js"></script>
<script src="https://controls.account.microsoft.com/me?partner=TestPartner&market=en-US"></script>
<script src="https://assets-int.onestore.ms/cdnfiles/onestorerolling-1503-06007/store/blender/js/blender.js"></script>

<footer class="site-footer">
    <div class="shell-footer" data-bi-area="Footer" data-bi-view="1xLinks">
        <div class="shell-footer-wrapper">
            <div class="shell-footer-lang">
                <h4>
                    <a id="locale-picker-link" href="https://devx.windows-int.com/locale" data-bi-name="LocalePicker">
                        <i class="shell-icon-globe"></i>English (United States)&lrm;
                    </a>
                </h4>
            </div>
            <div class="shell-footer-copyright">
                <ul>
                    <li>
                        <a href="http://support.microsoft.com/contactus" class="ctl_footerNavLink" data-bi-name="ContactUs" data-bi-slot="1">
                            Contact us
                        </a>
                    </li>
                    <li class="ctl_footerCopyright">
                        &copy; 2015 Microsoft
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>