<link href="https://assets-int.onestore.ms/cdnfiles/onestorerolling-1503-06007/shell/common/scss/shell.min.css" rel="stylesheet" type="text/css" />
<div id="shell-header" class="shell-header">
    <div class="shell-header-wrapper">
        <div class="shell-header-top" data-bi-area="HeaderL0" data-bi-view="L0V1">

            <h1 class="shell-header-brand">
                <a id="srv_shellHeaderMicrosoftLogo" href="http://www.microsoft.com/" title="Microsoft" data-bi-name="BrandLogo">
                    <img src="https://assets-int.onestore.ms/cdnfiles/onestorerolling-1503-06007/shell/common/images/logo/microsoft.png" alt="Microsoft" />
                </a>
            </h1>
            <h2 class="shell-header-subtitle"><span class="shell-header-vertical-bar"></span>Windows Dev Center</h2>
            <ul class="shell-header-toggle">
                <li>
                    <button class="shell-header-toggle-search" type="button" data-bi-name="Toggle Search Icon">
                        <i class="shell-icon-search"></i>
                    </button>
                </li>
                <li>
                    <button class="shell-header-toggle-menu" type="button" data-bi-name="Toggle Menu">
                        <i class="shell-icon-menu"></i>
                    </button>
                </li>
            </ul>

            <div class="shell-header-actions">
                <form id="srv_shellHeaderSearchForm" class="shell-header-search" action="http://social.msdn.microsoft.com/search/en-us/windows" method="GET" autocomplete="off" onsubmit="return sendPageActionOnSearch(this)">
                    <label for="cli_shellHeaderSearchInput" class="sr-only">Search Microsoft</label>
                    <input id="cli_shellHeaderSearchInput" type="search" name="query" data-bi-dnt="" placeholder="" maxlength="200" />

                    <input type="hidden" name="Refinement" data-bi-dnt="" value="183" />

                    <button type="submit" title="Search" data-bi-dnt="">
                        <i class="shell-icon-search"></i>
                        <span class="sr-only">Search</span>
                    </button>
                    <div id="cli_searchSuggestionsContainer" class="shell-header-search-dropdown-container">
                        <div class="search-dropdown">
                            <div class="dropdown-item">
                                <ul id="cli_searchSuggestionsResults"></ul>
                            </div>
                        </div>
                    </div>
                </form>


                <dl class="shell-header-user">
                    <dt>
                        <span id="meControl"></span>
                    </dt>
                </dl>
            </div>
        </div>

        <ul class="shell-header-nav" id="srv_shellHeaderNav" data-bi-area="L1" data-bi-view="Hovermenus">
            <li id="shellmenu_2bad7dbd-f294-4501-bc94-8eb8d88c71a7" class="shell-header-dropdown-label">
                <a class="top-level-link-text ctl_headerNavLink" href="https://devx.windows-int.com/en-us/home" role="menuitem" data-bi-name="Home" data-bi-slot="1">

                    Home
                </a>
            </li>
            <li class="shell-header-dropdown " data-navcontainer="shellmenu_af15a594-9e3d-4aed-87d5-88c0cd5b1f53_NavContainer">
                <h2 id="shellmenu_af15a594-9e3d-4aed-87d5-88c0cd5b1f53" class="shell-header-dropdown-label">
                    <a href="javascript:void(0)" role="menu" data-bi-name="Explore" data-bi-slot="2">

                        Explore
                        <i class="shell-icon-dropdown"></i>
                    </a>
                </h2>





                <div class="shell-header-dropdown-content shell-header-dropdown-content-notab">
                    <dl class="shell-header-dropdown-tab active">

                        <dt id="shellmenu_7b834a69-0292-4d68-95cb-9f868e1e2b8d" class="shell-header-dropdown-tab-label shell-header-L2menu-direct-link">
                            <a href="https://devx.windows-int.com/en-us/games" role="menuitem" data-bi-name="Explore_Games">Games</a>
                        </dt>

                    </dl>
                    <dl class="shell-header-dropdown-tab ">

                        <dt id="shellmenu_4ce00826-89b4-4a52-9434-9d56ef00b499" class="shell-header-dropdown-tab-label shell-header-L2menu-direct-link">
                            <a href="https://devx.windows-int.com/en-us/iot" role="menuitem" data-bi-name="Explore_IoT">IoT</a>
                        </dt>

                    </dl>

                </div>

            </li>
            <li class="shell-header-dropdown " data-navcontainer="shellmenu_272b3981-a400-489a-a677-0138a239cda9_NavContainer">
                <h2 id="shellmenu_272b3981-a400-489a-a677-0138a239cda9" class="shell-header-dropdown-label">
                    <a href="javascript:void(0)" role="menu" data-bi-name="Docs" data-bi-slot="3">

                        Docs
                        <i class="shell-icon-dropdown"></i>
                    </a>
                </h2>





                <div class="shell-header-dropdown-content ">
                    <dl class="shell-header-dropdown-tab active">

                        <dt id="shellmenu_5ce03364-d013-4e31-8ff6-1f8f18e8a6d2" class="shell-header-dropdown-tab-label">
                            <a href="javascript:void(0)" role="menuitem" data-bi-dnt="">
                                Windows apps
                            </a>
                        </dt>
                        <dd class="shell-header-dropdown-tab-content">



                            <ul class="shell-header-dropdown-tab-list ">
                                <li id="shellmenu_c54c7cd4-6e22-49e8-8777-9539bea4e800">
                                    <h3>
                                        <a href="https://devx.windows-int.com/en-us/getstarted" role="menuitem" data-bi-name="Docs_Apps_GetStarted">
                                            Get started
                                        </a>
                                    </h3>
                                </li>
                                <li id="shellmenu_9c913f80-63bb-4ab6-8455-692861ccdcc9">
                                    <a href="https://devx.windows-int.com/en-us/design" role="menuitem" data-bi-name="Docs_Apps_Design">
                                        Design
                                    </a>
                                </li>
                                <li id="shellmenu_02f5b70e-daed-4450-8f47-718eb723c4e4">
                                    <a href="https://devx.windows-int.com/en-us/develop" role="menuitem" data-bi-name="Docs_Apps_Develop">
                                        Develop
                                    </a>
                                </li>
                                <li id="shellmenu_012df633-8ca0-4c84-a467-4b95162782da">
                                    <a href="https://devx.windows-int.com/en-us/publish" role="menuitem" data-bi-name="Docs_Apps_Publish">
                                        Publish
                                    </a>
                                </li>

                            </ul>



                        </dd>

                    </dl>
                    <dl class="shell-header-dropdown-tab ">

                        <dt id="shellmenu_bd3b775c-9309-4237-a960-42069f820e0c" class="shell-header-dropdown-tab-label">
                            <a href="javascript:void(0)" role="menuitem" data-bi-dnt="">
                                Desktop applications
                            </a>
                        </dt>
                        <dd class="shell-header-dropdown-tab-content">



                            <ul class="shell-header-dropdown-tab-list ">
                                <li id="shellmenu_3f643748-9392-4598-b2ae-d92e4f145243">
                                    <h3>
                                        <a href="https://devx.windows-int.com/en-us/desktop/getstarted" role="menuitem" data-bi-name="Docs_Desktop_GetStarted">
                                            Get started
                                        </a>
                                    </h3>
                                </li>
                                <li id="shellmenu_7f6fbece-8230-4aad-8ac1-2d8b4999173c">
                                    <a href="https://devx.windows-int.com/en-us/desktop/design" role="menuitem" data-bi-name="Docs_Desktop_Design">
                                        Design
                                    </a>
                                </li>
                                <li id="shellmenu_01360cbc-afce-4ffe-bc57-8aa6060b45e5">
                                    <a href="https://devx.windows-int.com/en-us/desktop/develop" role="menuitem" data-bi-name="Docs_Desktop_Develop">
                                        Develop
                                    </a>
                                </li>
                                <li id="shellmenu_d8970b82-e1ae-4abd-bd77-dfcb3d585ea4">
                                    <a href="https://devx.windows-int.com/en-us/desktop/test-and-deploy" role="menuitem" data-bi-name="Docs_Desktop_TestDeploy">
                                        Test and deploy
                                    </a>
                                </li>
                                <li id="shellmenu_272e2003-e657-451a-b1c0-63d6d3e7e991">
                                    <a href="https://devx.windows-int.com/en-us/desktop/certify" role="menuitem" data-bi-name="Docs_Desktop_Certify">
                                        Certify
                                    </a>
                                </li>

                            </ul>



                        </dd>

                    </dl>

                </div>

            </li>
            <li id="shellmenu_582f0231-19fb-4152-b1e4-a49d21fc2f38" class="shell-header-dropdown-label">
                <a class="top-level-link-text ctl_headerNavLink" href="https://devx.windows-int.com/en-us/downloads" role="menuitem" data-bi-name="Downloads" data-bi-slot="4">

                    Downloads
                </a>
            </li>
            <li id="shellmenu_b96a9cf5-07eb-4a6e-8925-ea14114fc2c4" class="shell-header-dropdown-label">
                <a class="top-level-link-text ctl_headerNavLink" href="https://" role="menuitem" data-bi-name="Samples" data-bi-slot="5">

                    Samples
                </a>
            </li>
            <li id="shellmenu_12b3c2f4-df59-4dd6-931e-e24fcf60ccce" class="shell-header-dropdown-label">
                <a class="top-level-link-text ctl_headerNavLink" href="https://devx.windows-int.com/en-us/community" role="menuitem" data-bi-name="Community" data-bi-slot="6">

                    Community
                </a>
            </li>
            <li id="shellmenu_ed9908d0-e90e-4452-a48c-de33bf4b5982" class="shell-header-dropdown-label">
                <a class="top-level-link-text ctl_headerNavLink" href="https://devx.windows-int.com/en-us/programs" role="menuitem" data-bi-name="Programs" data-bi-slot="7">

                    Programs
                </a>
            </li>
            <li id="shellmenu_72a879d8-0dae-482a-9234-4698c8a5aeb5" class="shell-header-dropdown-label">
                <a class="top-level-link-text ctl_headerNavLink" href="https://devx.windows-int.com/overview" role="menuitem" data-bi-name="Dashboard" data-bi-slot="8">

                    Dashboard
                </a>
            </li>

        </ul>


    </div>
</div>



<script type="text/javascript">
    var meControlOptions = {
        containerId: 'meControl',
        mobileBreakpoint: 0,
        rpData:
        {
            msaInfo:
            {
                signInText: 'Sign In',
                signOutText: 'Sign Out',
                signInUrl: '/en-US/store/signin',
                signOutUrl: '/en-US/store/signout',
                accountSettingsUrl: 'https://account.live.com/',
                switchUrl: '',
                meUrl: 'https://login.live.com/me.srf?wa=wsignin1.0&amp;wreply=https://account.live.com/',
                isSupported: true
            },
            aadInfo:
            {
            },
            preferredIdp: 'msa'
        },
    };
    var shell = window.msCommonShell;
    if (shell) {
        shell.meControlOptions = meControlOptions;
    }
</script>

<div class="l2-nav row hidden-xs">
    <ul class="nav nav-justified">
        <li role="presentation"><a href="{{base}}"><div class="glyphicon glyphicon-home"></div><br>IoT Home</a></li>
        <li role="presentation"><a href="{{base}}/GetStarted.htm"><div class="glyphicon glyphicon-play-circle"></div><br>Get Started</a></li>
        <li role="presentation"><a href="http://microsoft.hackster.io"><div class="glyphicon glyphicon-wrench"></div><br>Projects</a></li>
        <li role="presentation"><a href="{{base}}/win10/StartCoding.htm"><div class="glyphicon glyphicon-list-alt"></div><br>Tutorials and Samples</a></li>
        <li role="presentation"><a href="{{base}}/Community.htm"><div class="glyphicon glyphicon-comment"></div><br>Community</a></li>
    </ul>
</div>

<!-- Nav for mobile view -->
<button class="btn btn-default iot-nav visible-xs" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">IoT Nav<br><div class="glyphicon glyphicon-menu-down"></div></button>
<div class="collapse" id="collapseExample">
  <div class="well">
    <ul class="nav">
        <li role="presentation"><a href="{{base}}">Home</a></li>
        <li role="presentation"><a href="{{base}}/GetStarted.htm">Get Started</a></li>
        <li role="presentation"><a href="http://microsoft.hackster.io">Projects</a></li>
        <li role="presentation"><a href="{{base}}/win10/StartCoding.htm">Tutorials and Samples</a></li>
        <li role="presentation"><a href="{{base}}/Community.htm">Community</a></li>
    </ul>
  </div>
</div>
<!-- end mobile nav -->