link href="//assets.onestore.ms/cdnfiles/onestorerolling-1503-03007/shell/common/scss/shell.min.css" rel="stylesheet" type="text/css"

css:
  body.whitelabel .powered-by {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 6px 0;
  }