<div class="shell-header" id="shell-header">
  <div class="shell-header-wrapper">
    <div class="shell-header-top" data-bi-area="HeaderL0" data-bi-view="L0V1">
      <h1 class="shell-header-brand">
        <a data-bi-name="BrandLogo" href="http://www.microsoft.com/" id="srv_shellHeaderMicrosoftLogo" title="Microsoft"><img alt="Microsoft"
        src="https://assets.onestore.ms/cdnfiles/onestorerolling-1503-03007/shell/common/images/logo/microsoft.png"></a>
      </h1>
      <h2 class="shell-header-subtitle">
        <span class="shell-header-vertical-bar"></span>Windows Dev Center
      </h2>
      <ul class="shell-header-toggle">
        <li>
          <button class="shell-header-toggle-search shell-icon-search"
          data-bi-name="Toggle Search Icon" style="font-style: italic" type="button"></button>
        </li>
        <li>
          <button class="shell-header-toggle-menu shell-icon-menu"
          data-bi-name="Toggle Menu" style="font-style: italic" type="button"></button>
        </li>
      </ul>
      <div class="shell-header-actions">
        <form action="http://social.msdn.microsoft.com/search/en-us/windows"
        autocomplete="off" class="shell-header-search" id="srv_shellHeaderSearchForm" method="get" name="srv_shellHeaderSearchForm" onsubmit="return sendPageActionOnSearch(this)">
          <label class="sr-only" for="cli_shellHeaderSearchInput">Search Microsoft</label> <input data-bi-dnt="" id="cli_shellHeaderSearchInput" maxlength="200" name="query"
          placeholder="Search Microsoft Store" type="search">
          <input data-bi-dnt="" name="Refinement" type="hidden" value="183">
          <button data-bi-dnt="" title="Search" type="submit"><i class="shell-icon-search"></i> <span class="sr-only">Search</span></button>
          <div class="shell-header-search-dropdown-container" id="cli_searchSuggestionsContainer">
            <div class="search-dropdown">
              <div class="dropdown-item">
                <ul id="cli_searchSuggestionsResults"></ul>
              </div>
            </div>
          </div>
        </form>
        <dl class="shell-header-user">
          <dt>
            <span id="meControl"></span>
          </dt>
        </dl>
      </div>
    </div>
    <ul class="shell-header-nav" data-bi-area="L1" data-bi-view="Hovermenus"
    id="srv_shellHeaderNav">
      <li class="shell-header-dropdown-label" id="shellmenu_5c05cc05-4369-4b79-b8c3-e21653703b26">
        <a class="top-level-link-text ctl_headerNavLink" data-bi-name="Home"
        data-bi-slot="1" href="https://devx.windows.com/en-us/home">Home</a>
      </li>
      <li class="shell-header-dropdown" data-navcontainer="shellmenu_4af49523-fa92-4c01-8e99-acaaf5674939_NavContainer">
        <h2 class="shell-header-dropdown-label" id="shellmenu_4af49523-fa92-4c01-8e99-acaaf5674939">
          <a data-bi-name="Docs" data-bi-slot="2" href="javascript:void(0)">Docs <i class="shell-icon-dropdown"></i></a>
        </h2>
        <div class="shell-header-dropdown-content">
          <dl class="shell-header-dropdown-tab active">
            <dt class="shell-header-dropdown-tab-label" id="shellmenu_664d6325-eda5-481a-a86a-ef1616c75ad5">
              <a data-bi-dnt="" href="javascript:void(0)">Windows apps</a>
            </dt>
            <dd class="shell-header-dropdown-tab-content">
              <ul class="shell-header-dropdown-tab-list">
                <li id="shellmenu_05e9eeef-ce61-43c8-9a6d-5235f4d16d63">
                  <h3>
                    <a data-bi-name="Docs_Apps_GetStarted" href="https://devx.windows.com/en-us/getstarted">Get started</a>
                  </h3>
                </li>
                <li id="shellmenu_c2c45fdf-111b-482a-97a5-7966cf503634">
                  <a data-bi-name="Docs_Apps_Design" href="https://devx.windows.com/en-us/design">Design</a>
                </li>
                <li id="shellmenu_7b21c3ce-14e6-4067-b2f2-bdb015825852">
                  <a data-bi-name="Docs_Apps_Develop" href="https://devx.windows.com/en-us/develop">Develop</a>
                </li>
                <li id="shellmenu_73905de8-f3f3-443f-ab32-f43f548b492b">
                  <a data-bi-name="Docs_Apps_Publish" href="https://">Publish</a>
                </li>
              </ul>
            </dd>
          </dl>
          <dl class="shell-header-dropdown-tab">
            <dt class="shell-header-dropdown-tab-label" id="shellmenu_8a311bad-01ec-4ded-a782-e7783911d830">
              <a data-bi-dnt="" href="javascript:void(0)">Desktop
              applications</a>
            </dt>
            <dd class="shell-header-dropdown-tab-content">
              <ul class="shell-header-dropdown-tab-list">
                <li id="shellmenu_3151e861-39d1-427b-a3bd-86027e9496c5">
                  <h3>
                    <a data-bi-name="Docs_Desktop_GetStarted" href="https://">Get started</a>
                  </h3>
                </li>
                <li id="shellmenu_d406c84b-c12c-4e1a-8985-c59ef6f7b418">
                  <a data-bi-name="Docs_Desktop_Design" href="https://">Design</a>
                </li>
                <li id="shellmenu_40499bea-a956-46af-987b-20339f9f7a56">
                  <a data-bi-name="Docs_Desktop_Develop" href="https://">Develop</a>
                </li>
                <li id="shellmenu_df604d83-e9e6-4345-8349-ddc174f89006">
                  <a data-bi-name="Docs_Desktop_TestDeploy" href="https://">Test and deploy</a>
                </li>
                <li id="shellmenu_7dfddaaf-00d1-4599-9616-9241d8f840e0">
                  <a data-bi-name="Docs_Desktop_Certify" href="https://">Certify</a>
                </li>
              </ul>
            </dd>
          </dl>
        </div>
      </li>
      <li class="shell-header-dropdown-label" id="shellmenu_35734616-19e4-4127-b298-c92c8d395894">
        <a class="top-level-link-text ctl_headerNavLink" data-bi-name="Downloads" data-bi-slot="3" href="https://devx.windows.com/en-us/downloads">Downloads</a>
      </li>
      <li class="shell-header-dropdown-label" id="shellmenu_a35a6bb5-a4f2-4be8-beb0-00a69c4aaf14">
        <a class="top-level-link-text ctl_headerNavLink" data-bi-name="Samples"
        data-bi-slot="4" href="https://">Samples</a>
      </li>
      <li class="shell-header-dropdown-label" id="shellmenu_47b027e3-b19c-4d9e-9818-0690930f886b">
        <a class="top-level-link-text ctl_headerNavLink" data-bi-name="Community" data-bi-slot="5" href="https://devx.windows.com/en-us/community">Community</a>
      </li>
      <li class="shell-header-dropdown-label" id="shellmenu_ce3e0662-9e2a-421f-8c40-0bbe83ac76b9">
        <a class="top-level-link-text ctl_headerNavLink" data-bi-name="Programs" data-bi-slot="6" href="https://">Programs</a>
      </li>
      <li class="shell-header-dropdown-label" id="shellmenu_6511cbd1-f558-49a5-842a-9eaf04d3e568">
        <a class="top-level-link-text ctl_headerNavLink" data-bi-name="Dashboard" data-bi-slot="7" href="https://devx.windows.com/overview">Dashboard</a>
      </li>
    </ul>
  </div>
</div><script type="text/javascript">


    var meControlOptions = {
    containerId: 'meControl',
    urlBase: 'https://mem.gfx.ms/me',
    market: 'en-US',
    version: '9.0.15029.2',
    mobileBreakpoint: 0,
    rpData:
    {
    msaInfo:
    {

    signInText: 'Sign In',
    signOutText: 'Sign Out',
    signInUrl: '/en-US/store/signin',
    signOutUrl: '/en-US/store/signout',
    accountSettingsUrl: 'https://account.live.com/',
    switchUrl: '',
    meUrl: 'https://login.live.com/me.srf?wa=wsignin1.0&amp;wreply=https://account.live.com/',
    isSupported: true

    },
    aadInfo:
    {
    },
    preferredIdp: 'msa'
    },
    };

    var shell = window.msCommonShell;
    if (shell) {
    shell.meControlOptions = meControlOptions;
    }


</script>