.col-xs-4.col-xs-offset-4
  .wellified
    %h2.text-center Log in to Hackster.io
    = render 'form'

    %hr

    %p.text-center Or connect with your social account:
    = render 'devise/shared/omniauth'