.span3.offset4.wellified
  %h2{ style: 'text-align: center' } Log in to Hackster.io
  = render 'form'

  %p
    Forgot your password?
    = link_to 'Reset it.', new_password_path(resource_name)
  %p
    Don't have an account?
    = link_to 'Sign up.', new_user_registration_path