%h2 Received an invite code? You're at the right place!
%p Storeside is a local search engine for fashion. We help you find the clothes that you're looking for, in stores close to you.
%p Register below!
= render 'devise/shared/signup_form'