.r-comments {

  .comments-form {
    display: flex;
    margin-bottom: 70px;
    min-height: 72px;

    .comments-textarea {
      flex: 6;
      background: #eeedf2;
      border-radius: 3px 0 0 3px;
      border: none;
      box-shadow: none;
      resize: none;
      padding: 6px 12px;
      color: #555;
      font-size: 14px;
      line-height: 1.428571429;

      &:focus {
        outline: none;
      }
    }

    .comments-form-button-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #eeedf2;
      border-radius: 0 3px 3px 0;
    }
  }
}