@mixin tablet {
  @media (max-width: 768px) {
    @content
  }
}

.r-comments {

  .comments-form {
    @include flexbox((
      display: flex
    ));
    margin-bottom: 70px;
    min-height: 72px;

    @include tablet {
      @include flexbox((
        flex-direction: column
      ));
    }

    &.reply {
      padding-left: 20px;
    }

    .comments-textarea {
      @include flexbox((
        flex: 6
      ));
      background: #eeedf2;
      border-radius: 3px 0 0 3px;
      border: none;
      box-shadow: none;
      resize: none;
      padding: 6px 12px;
      color: #555;
      font-size: 14px;
      line-height: 1.428571429;

      &:focus {
        outline: none;
      }
    }

    .comments-form-button-container {
      @include flexbox((
        flex: 1,
        display: flex,
        align-items: center,
        justify-content: center
      ));
      border: 1px solid #eeedf2;
      border-radius: 0 3px 3px 0;

      @include tablet {
        @include flexbox((
          align-items: flex-start,
          justify-content: flex-start
        ));
        border: none;
        padding-top: 0.3em;
      }
    }
  }

  .comment {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #ddd;
    font-size: 1em;

    &:hover .comment-actions .default-hidden {
      display: inline-block;
    }

    .comment-title {
      @include flexbox((
        display: flex
      ));
      margin-bottom: 10px;

      .avatar {
        margin-right: 10px;

        img {
          @include border-radius(50%);
          width: 40px;
          height: 40px;
        }
      }

      .profile-name {
        h4 {
          margin: 0;
          font-size: 1em;
        }
        .comment-date {
        }
      }
    }

    .comment-body {
      margin-bottom: 10px;
    }

    .comment-actions {
      list-style: none;
      padding: 0;
      margin: 0 -10px;
      font-size: 0.8em;

      li {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
      }

      .middot {
        padding: 0;
        color: #999;
      }

      .r-comment-like-button {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .r-comments-counter {
        color: #1cacf7;
      }
    }

    .reply-box {
      .reply-box-center-line {
        height: 20px;
        width: 50%;
        border-right: 1px solid #ddd;
      }
    }
  }

  .comment-nested {
    margin-left: 50px;
    position: relative;
    &:before {
      content: "";
      height: 50%;
      border-right: 3px solid #ddd;
      position: absolute;
      right: 100%;
      top: 25%;
      margin-right: 25px;
    }
  }
}