- unless user_signed_in? or params[:logged_out].present?
  javascript:
    var arduinoToken = window.localStorage.getItem("ideapp.token");
    if (arduinoToken && arduinoToken !== "") {
      window.location.href = "#{raw arduino_sign_in_url}";
    }

- if user_signed_in?
  = content_for :js do

    javascript:
      $(function(){
        var arduinoUid = window.localStorage.getItem("ideapp.uid");
        if (arduinoUid && arduinoUid !== "" && arduinoUid !== "#{current_user.authorizations.where(provider: 'arduino').first.try(:uid)}") {
          $('#sign-out-form')
            .append('<input type="hidden" name="redirect_to" value="#{raw arduino_sign_in_url}" />')
            .submit();
        }
      });

- content_for :html_class do
  = 'arduino-html'

css:
  .arduino-projects {
    background-color: #00979C;
  }
  a:hover {
    text-decoration: none;
  }
  #page {
    padding: 0 !important;
  }
  .navbar-static-top {
    z-index: 10;
  }
  .top-bar, .top-bar a {
    font-weight: bold;
  }
  .row .row.collapse:before, .row .row.collapse:after {
    content: " ";
    display: table; }
  .row .row.collapse:after {
    clear: both; }
  @media (min-width: 1200px) {
    .navbar-in .container {
      max-width: 990px;
    }
  }
  body.whitelabel .powered-by {
    padding: 20px 0;
  }
  .thumb-inner {
    padding: 10px 20px;
    height: 150px;
    position: relative;
  }
  .thumb-inner h4 {
    margin-top: 0;
  }
  .thumb-inner .project-stats {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0 15px;
  }
  .arduino-html .alert.alert-top {
    font-size: 11.5px;
    top: 104px;
  }
  #outer-wrapper {
    margin-bottom: -120px;
    padding-bottom: 120px;
  }