<div class='arduino-projects'>
  <div id="page">
    <script>
    var userAgent = (navigator.userAgent || navigator.vendor || window.opera).toLowerCase();
      if(userAgent.indexOf('mac')>0){
          $("head").append('<style type="text/css">@-moz-document url-prefix() {h1 a, h2 a, h3 a, h4 a, h5 a, h1 a:hover, h2 a:hover, th a, th a:hover, h3 a:hover, h4 a:hover, h5 a:hover, #wikitext h2 a:hover, #wikitext h3 a:hover, #wikitext h4 a:hover {padding-bottom: 0.5em!important;} #pageheader .search input{font-family: "TyponineSans Regular 18";} #pagefooter .monospace{margin-top: -4px;} #navWrapper ul.left &gt; li{margin-top: -2px; padding-bottom: 2px;}#navWrapper ul.right &gt; li{margin-top: -5px; padding-bottom: 5px;}#navWrapper ul.right &gt; li ul{margin-top: 4px;} .slider-container .fixed-caption p{padding:8px 0 14px 0}}<\/style>');
      }
    </script> <!--[if IE]>
  <link rel='stylesheet' href='https://id.arduino.cc//css/ie-monospace.css' type='text/css' />
  <![endif]-->
    <div class="fixed" id="menuWings"></div><!--[if IE 8]>
  <div class="alert-box panel ie8alert">
    <p><strong>Arduino.cc offers limited compatibility for Internet Explorer 8. Get a modern browser as Chrome, Firefox or Safari.</strong></p>
    <a href="" class="close">&times;</a>
  </div>
  <![endif]-->
    <div id="pageheader">
      <div class="row">
        <div class="small-6 large-8 eight columns">
          <div class="title">
            <a href="http://arduino.cc">Arduino</a>
          </div>
        </div>
        <div class="small-6 large-4 four columns search">
          <div class="row collapse">
            <form action="http://www.google.com/search" method="get">
              <div class="small-12 twelve columns">
                <i class="icon-search-2"></i> <input name="ie" type="hidden"
                value="UTF-8"> <input name="oe" type="hidden" value="UTF-8">
                <input maxlength="255" name="q" placeholder=
                "Search the Arduino Website" size="25" type="text" value="">
                <input name="btnG" type="submit" value="search"> <input name=
                "domains" type="hidden" value="http://www.arduino.cc">
                <input name="sitesearch" type="hidden" value=
                "http://www.arduino.cc">
              </div>
            </form>
          </div>
        </div>
      </div><!--[if gte IE 9]><!-->
      <div class="sticky" id="navWrapper">
        <!--<![endif]-->
        <!--[if IE 8]>
          <div id="navWrapper">
      <![endif]-->
        <nav class="top-bar" data-options="is_hover:true">
          <ul class="title-area">
            <li class="name"></li>
          </ul>
          <section class="top-bar-section">
            <ul class="left">
              <li id="navLogo">
                <a href="http://arduino.cc"><img alt="userpicture" src=
                "http://arduino.cc/img/logo_46.png"></a>
              </li>
              <li id="navHome">
                <a href="http://arduino.cc">Home</a>
              </li>
              <li>
                <a href="http://store.arduino.cc">Buy</a>
              </li>
              <li>
                <a href="http://arduino.cc/en/Main/Software">Download</a>
              </li>
              <li class="has-dropdown not-click">
                <a href="#">Products</a>
                <ul class="dropdown">
                  <li class="title back js-generated">
                    <h5>
                      <a href="#"><span class="backArrow">Back</span></a>
                    </h5>
                  </li>
                  <li>
                    <a href="http://arduino.cc/en/Main/Products">Arduino</a>
                  </li>
                  <li>
                    <a href=
                    "http://arduino.cc/en/ArduinoAtHeart/Products">AtHeart</a>
                  </li>
                  <li>
                    <a href=
                    "http://arduino.cc/en/ArduinoCertified/Products">Certified</a>
                  </li>
                </ul>
              </li>
              <li class="has-dropdown not-click active">
                <a href="#">Learning</a>
                <ul class="dropdown">
                  <li class="title back js-generated">
                    <h5>
                      <a href="#"><span class="backArrow">Back</span></a>
                    </h5>
                  </li>
                  <li>
                    <a href="http://arduino.cc/en/Guide/HomePage">Getting
                    started</a>
                  </li>
                  <li>
                    <a href="http://arduino.cc/en/Tutorial/HomePage">Examples</a>
                  </li>
                  <li>
                    <a href=
                    "http://arduino.cc/en/Reference/HomePage">Reference</a>
                  </li>
                  <li>
                    <a href="http://playground.arduino.cc">Playground</a>
                  </li>
                  <li>
                    <a href="/">Projects</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="http://forum.arduino.cc">Forum</a>
              </li>
              <li class="has-dropdown not-click">
                <a href="#">Support</a>
                <ul class="dropdown">
                  <li class="title back js-generated">
                    <h5>
                      <a href="#"><span class="backArrow">Back</span></a>
                    </h5>
                  </li>
                  <li>
                    <a href="http://arduino.cc/en/Main/FAQ">FAQ</a>
                  </li>
                  <li>
                    <a href="http://arduino.cc/en/ContactUs">Contact Us</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="http://blog.arduino.cc">Blog</a>
              </li>
            </ul>
            <ul class="right">
              <li>
                <a class="cart" href=
                "https://id.arduino.cc/auth/login/?returnurl=http%3A%2F%2Fwww.arduino.cc%2F">
                LOG IN</a>
              </li>
              <li>
                <a class="cart" href="https://id.arduino.cc/auth/signup">SIGN
                UP</a>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
  </div>
</div>