/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require medium-editor/medium-editor
 *= require medium-editor/themes/bootstrap
 *= require slick
 */
// @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,900);
// @import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,700,100,400);
@import 'custom_mixins';
@import 'compass/css3';
@import 'bootstrap';
@import 'bootstrap_overrides2';

@import 'font-awesome';
@import 'new';
@import 'new_project';
@import 'layout';
@import 'projects';
@import 'users';
@import 'search';
@import 'widgets';
@import 'ilightbox/ilightbox';
@import 'embed';
@import 'zocial2';
@import 'assignment';
@import 'issue';
@import 'whitelabel';
@import 'home';
@import 'group';
@import 'blog';
@import 'challenge';
@import 'blog_posts';
@import 'badges';
@import 'medium-editor-ext';
@import 'dragon';
@import 'chats';
@import 'messages';
@import 'hardwareweek';
@import 'responsive';
@import 'pygments';

.zocial, a.zocial {
  font: bold 90%/2.1 "Lucida Grande", Tahoma, sans-serif;
  margin: 0 5px 5px 0;
  &.zocial-block {
    display: block;
    margin-right: 0;
  }
}