/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require medium-editor/medium-editor
 *= require medium-editor/themes/bootstrap
 *= require slick
 *= require slick-theme
 */
@import 'custom_mixins';
@import 'compass/css3';
@import 'bootstrap';
@import 'bootstrap_overrides2';

@import 'font-awesome';
@import 'new';
@import 'new_project';
@import 'layout';
@import 'projects';
@import 'products';
@import 'comments';
@import 'users';
@import 'search';
@import 'widgets';
@import 'ilightbox/ilightbox';
@import 'bitbucket-widget.min';
@import 'embed';
@import 'zocial2';
@import 'assignment';
@import 'issue';
@import 'whitelabel';
@import 'home';
@import 'group';
@import 'blog';
@import 'challenge';
@import 'blog_posts';
@import 'badges';
@import 'medium-editor-ext';
@import 'business';
@import 'chats';
@import 'messages';
@import 'parts';
@import 'channel';
@import 'hardwareweek';
@import 'notifications';
@import 'store';
@import 'typeahead';
@import 'responsive';
@import 'pygments';
@import 'highlight.js/monokai_sublime';
@import 'print';
@import 'react_components';
@import 'jobs';
@import 'live';
@import 'landing_pages';

.zocial, a.zocial {
  font: bold 90%/2.1 "Lucida Grande", Tahoma, sans-serif;
  margin: 0 5px 5px 0;
  &.zocial-block {
    display: block;
    margin-right: 0;
  }
}