.is-draft {
  .show-when-published {
    display: none;
  }
}

.is-published {
  .show-when-draft {
    display: none;
  }
}

.platform-news {
  label {
    font-size: 14px;
    small {
      color: #666;
      font-weight: normal;
    }
  }
  .widget {
    h2 {
      color: #555;
      margin-bottom: 5px;
      position: relative;
      a {
        color: #555;
      }
    }
    .h2-subtitle {
      color: #999;
      margin-bottom: 20px;
      font-size: 80%;
    }
  }
}