#business {
  background: #fff;
  h2 {
    margin-bottom: 40px;
  }
  .button {
    cursor: pointer;
  }
  section {
    border-bottom: 2px solid #e5e5e5;
    &:last-child {
      border-bottom: 0;
    }
  }
  abbr {
    border-bottom-color: #fff;
  }
  #intro {
    @include background-cover;
    background-image: asset-url('business/bg.jpg');
    border-bottom: 0;
    padding: 150px 0;
    color: #fff;
    h1, p {
      max-width: 90%;
      width: 970px;
      margin: 0 auto;
    }
    h1 {
      margin-bottom: 20px;
    }
  }
  #channel {
    color: #fff;
    // background: #208edb asset-url('footer-bg.png');
    background: #208edb;
    h3 {
      text-transform: uppercase;
      font-size: 1em;
      font-weight: bold;
      margin: 0 0 30px;
    }
    .product-description {
      padding-bottom: 0;
    }
    .product-illustration {
      padding-top: 100px;
      padding-bottom: 0;
      img {
        // width: 450px;
      }
    }
    .cta {
      .price {
        background: #105686;
      }
      .button {
        background: #18C1E8;
      }
    }
  }
  .cta {
    margin-top: 20px;
    .price, .button {
      display: block;
      color: #fff;
      float: left;
    }
    .price {
      padding: 5px 12px;
      background: #1aaf86;
      @include border-radius(4px 0 0 4px);
      & + .button {
        @include border-radius(0 4px 4px 0);
      }
    }
    .button {
      padding: 5px 16px;
      font-weight: bold;
      background: #20dba8;
      @include border-radius(4px);
      &:hover {
        text-decoration: none;
      }
    }
  }
  .cta-block {
    display: inline-block;
    text-align: center;
    .price, .button {
      float: none;
    }
    .price {
      @include border-radius(4px 4px 0 0);
      & + .button {
        @include border-radius(0 0 4px 4px);
      }
    }
  }
  #challenge {
    .product-illustration {
      text-align: left;
    }
    .product-description {
      padding-left: 100px;
      padding-right: 50px;
    }
  }
  #tutorial {
    .product-description {
      padding-left: 60px;
      padding-right: 50px;
    }
  }
  #moar {
    background: #fff asset-url('footer-bg.png');
    background-size: contain;
  }
  .product-description {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .product-illustration {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: right;
    img {
      // max-width: 80%;
    }
  }
  .product-small {
    padding: 100px 80px;
    h2 {
      margin-top: 0;
    }
    &:nth-child(2) {
      border-left: 2px solid #e5e5e5;
      border-right: 2px solid #e5e5e5;
      background: #fff;
    }
  }
}