#business {
  background: #fff;
  h2 {
    margin-bottom: 40px;
  }
  section {
    border-bottom: 2px solid #e5e5e5;
    &:last-child {
      border-bottom: 0;
    }
  }
  #intro {
    @include background-cover;
    background-image: asset-url('business/bg.jpg');
    padding: 150px 0;
    color: #fff;
    h1, p {
      max-width: 90%;
      width: 970px;
      margin: 0 auto;
    }
    h1 {
      margin-bottom: 20px;
    }
  }
  #channel {
    abbr[title], abbr[data-original-title] {
      border-bottom-color: #fff;
    }
    ul {
      padding-left: 0;
      list-style: none;
      li {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    color: #fff;
    background: #208edb asset-url('footer-bg.png');
    h3 {
      text-transform: uppercase;
      font-size: 1em;
      font-weight: bold;
      margin: 0 0 30px;
    }
    .product-illustration {
      padding-top: 100px;
      padding-bottom: 0;
      img {
        // width: 450px;
      }
    }
    .button {
      margin-top: 20px;
      @include border-radius(4px);
      display: inline-block;
      font-weight: bold;
      &:hover {
        text-decoration: none;
      }
    }
    .startups {
      .button {
        background: #fff;
        padding: 8px 40px;
        .price {
          font-size: 1.2em;
          color: #333;
        }
        .month {
          font-weight: normal;
          color: #208edb;
          text-transform: uppercase;
          vertical-align: super;
          font-size: 0.7em;
        }
      }
    }
    .enterprise {
      .button {
        background: #105686;
        padding: 5px 18px;
        color: #fff;
      }
    }
  }
  .cta {
    margin-top: 20px;
    .price, .button {
      display: block;
      float: left;
      color: #fff;
    }
    .price {
      padding: 5px 12px;
      background: #1aaf86;
      font-weight: bold;
      @include border-radius(4px 0 0 4px);
    }
    .button {
      padding: 5px 16px;
      background: #20dba8;
      @include border-radius(0 4px 4px 0);
      &:hover {
        text-decoration: none;
      }
    }
  }
  #challenge {
    .product-illustration {
      text-align: left;
    }
    .product-description {
      padding-left: 100px;
      padding-right: 50px;
    }
  }
  #tutorial {
    .product-description {
      padding-left: 60px;
      padding-right: 50px;
    }
  }
  .product-description {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .product-illustration {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: right;
    img {
      // max-width: 80%;
    }
  }
}