#challenge{
  section {
    padding: 10px 0;
    &#alert-section {
      padding: 0;
    }
  }
  #top-bg {
    h1, p, a {
      text-align: center;
      color: #fff;
    }
    h1 {
      padding-top: 170px;
      text-shadow: 0 0 11px #000;
      @include font-size(50);
    }
    p {
      text-shadow: 0 0 5px #000;
      @include font-size(23);
    }
    a {
      color: #fff;
      border-bottom: 1px solid;
      &:hover {
        text-decoration: none;
      }
    }
  }
  #top-project-section, #teaser {
    padding: 100px 0;
    @include background-cover;
    background-color: #333;
    position: relative;
    &:before {
      content: "";
      background: #000;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      opacity: 0.2;
    }
    #teaser-container {
      position: relative;
    }
    h1, p {
      text-align: center;
      color: #fff;
    }
    h1 {
      margin: 0;
      text-shadow: 0 0 11px #000;
      @include font-size(50);
    }
    p {
      text-shadow: 0 0 5px #000;
      @include font-size(23);
    }
    a {
      color: #fff;
      border-bottom: 1px solid;
      &:hover {
        text-decoration: none;
      }
    }
    #video {
      margin-top: 30px;
    }
  }
  #teaser {
    height: 100px;
    padding: 20px 0;
  }
  #status {
    border: 1px solid #aaa;
    @include border-radius(5px);
    padding: 7px 10px;
  }
  #rules {
    h2 {
      font-size: 20px;
      margin-top: 30px;
    }
  }
  .project-thumb {
    .award-container {
      .project-award {
        font-size: 18px;
      }
    }
  }
}