#challenge{
  section {
    padding: 10px 0;
    &#alert-section {
      padding: 0;
    }
  }
  #top-bg {
    h1 {
      padding-top: 170px;
      text-align: center;
      color: #fff;
      text-shadow: 0 0 11px #000;
      @include font-size(50);
    }
  }
  #top-project-section, #teaser {
    padding: 100px 0;
    background-position: center center;
    background-repeat: no-repeat;
    @include background-size(cover);
    background-color: #333;
    position: relative;
    &:before {
      content: "";
      background: #000;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      opacity: 0.2;
    }
    #teaser-container {
      position: relative;
    }
    h1 {
      text-align: center;
      color: #fff;
      margin: 0 0 20px;
      text-shadow: #000 0 0 5px;
      font-size: 45px;
    }
    p {
      color: #fff;
      text-shadow: #000 0 0 5px;
    }
  }
  #teaser {
    height: 100px;
    padding: 20px 0;
  }
  #status {
    border: 1px solid #aaa;
    @include border-radius(5px);
    padding: 7px 10px;
  }
  #rules {
    h2 {
      font-size: 20px;
      margin-top: 30px;
    }
  }
  .project-thumb {
    .award-container {
      top: 10px;
      left: 0;
      right: initial;
      .project-award {
        font-size: 18px;
        background: #3d8bc1;
        padding: 5px 10px;
        margin: 0;
        float: none;
        color: #fff;
        box-shadow: 1px 1px 1px #18364C;
        text-shadow: 0 0 2px #18364C;
        font-weight: bold;
        i {
          color: #FFD700;
        }
      }
    }
  }
}