.chat-container {
  position: absolute;
  top: 105px;  // header nav + chat header
  left: 0;
  right: 0;
  bottom: 60px;  // footer
}
#chat {
  height: 100%;
  position: relative;
  overflow-y: hidden;
  textarea {
    border: 2px solid #ddd;
    resize: none;
    @include box-shadow(none);
    &:focus {
      border-color: #ddd;
      @include box-shadow(none);
    }
  }
  form {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 100%;
    padding: 0 10px 10px;
    padding-top: 0;
    background: #F2F2F2;
  }
}
.chat-inner {
  padding: 10px 10px 46px;
  overflow-y: scroll;
  position: absolute;
  height: 100%;
}
.chat-participants {
}
.chat-header {
  position: absolute;
  top: 60px;
  background: white;
  z-index: 2;
  right: 0;
  left: 0;
  padding: 10px 20px;
  h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
}