.chat-container {
  position: absolute;
  top: 106px;  // header nav + chat header
  left: 0;
  right: 0;
  bottom: 60px;  // footer
  @include transition(right ease 0.5s);
}
#chat {
  height: 100%;
  position: relative;
  overflow-y: hidden;
  width: 100%;
  @include transition(width ease 0.5s);
  textarea {
    border: 2px solid #ddd;
    resize: none;
    @include box-shadow(none);
    &:focus {
      border-color: #ddd;
      @include box-shadow(none);
    }
  }
  form {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    padding: 0 10px 10px;
    padding-top: 0;
    background: #F2F2F2;
  }
  .date {
    text-align: center;
    padding-top: 20px;
    margin: 20px 0;
    border-top: 1px solid #ddd;
    font-size: 0.77em;
    font-weight: bold;
    &:first-of-type {
      border: 0;
      padding: 0;
    }
  }
}
.chat-inner {
  padding: 10px;
  overflow-y: scroll;
  position: absolute;
  height: 100%;
  width: 100%;
  .messages {
    padding-bottom: 36px;
  }
}
.chat-participants {
  position: fixed;
  top: 106px;
  bottom: 60px;
  right: -300px;
  width: 300px;
  padding: 15px 20px;
  border-left: 1px solid #e7e7e7;
  background: #fff;
  z-index: 3;
  @include transition(right ease 0.5s);
}
.participants-open {
  .chat-participants {
    right: 0;
  }
  #chat {
    width: calc(100% - 300px);
  }
}
.toggle-participants {
  cursor: pointer;
}
.chat-header {
  position: absolute;
  top: 60px;
  background: white;
  z-index: 2;
  right: 0;
  left: 0;
  padding: 10px 20px;
  border-bottom: 1px solid #e7e7e7;
  h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
  }
}
.chat-message {
  margin: 3px 0;
  time {
    font-family: "Lucida Sans Typewriter","Lucida Console",monaco,"Bitstream Vera Sans Mono",monospace;
    color: #666;
    font-size: 0.7em;
    display: inline;
    margin-right: 3px;
  }
}