#contest{
  section {
    padding: 10px 0;
  }
  #top-project-section, #teaser {
    padding: 100px 0;
    background-position: center center;
    background-repeat: no-repeat;
    @include background-size(cover);
    background-color: #333;
    position: relative;
    &:before {
      content: "";
      background: #000;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      opacity: 0.2;
    }
    #teaser-container {
      position: relative;
    }
    h1 {
      text-align: center;
      color: #fff;
      margin: 0 0 20px;
      text-shadow: #000 0 0 5px;
      font-size: 45px;
    }
    p {
      color: #fff;
      text-shadow: #000 0 0 5px;
    }
  }
  #teaser {
    height: 100px;
    padding: 20px 0;
  }
  #status {
    border: 1px solid #aaa;
    @include border-radius(5px);
    padding: 7px 10px;
  }
  #rules {
    h2 {
      font-size: 20px;
      margin-top: 30px;
    }
  }
}