@mixin font-size($size) {
  font-size: unquote("#{$size}px");
  font-size: unquote("#{$size/10}rem");
  line-height: unquote("#{$size+$size*0.2}px");
  line-height: unquote("#{$size/10+$size*0.02}rem");
}

@mixin border-radius($radius) {
  @include border-top-radius($radius);
  @include border-right-radius($radius);
  @include border-bottom-radius($radius);
  @include border-left-radius($radius);
}

@mixin disable-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin background-cover {
  @include background-size(cover);
  background-repeat: no-repeat;
  background-position: center center;
}