#embed-popup {
  text-align: left;
  .toggle-lists-btn {
    margin-top: 10px;
  }
  .embed-code {
    width: 100%;
    padding: 3px 4px;
    color: #999;
    font-family: monospace;
    font-size: 12px;
  }
  #project-embed {
    .project-embed-thumb {
      width: 70%;
    }
  }
}

#project-embed {
  background: #fff;
}
.project-embed-thumb {
  .featured-logo {
    a {
      color: #fff;
      font-size: 0.8em;
      &:hover {
        text-decoration: none;
      }
    }
    img {
      max-width: 65px;
      vertical-align: baseline;
    }
  }
  .thumb-image {
    &:hover:before {
      background: rgba(0,0,0,0.8);
    }
    &:hover {
      .show-on-hover {
        @include opacity(1);
      }
      .thumb-image-inner {
        bottom: 0;
      }
    }
  }
}

body#embed {
  background: transparent;
}