#embed-popup {
  text-align: left;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  background-color: #000;
  background-color: rgba(0,0,0,0.5);
  .toggle-lists-btn {
    margin-top: 10px;
  }
  .embed-popup-outer {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #F3F3F3;
    padding: 2px;
    top: 50%;
    left: 50%;
    position: fixed;
  }
  .embed-popup-inner {
    border: 1px solid #dcdcdc;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    padding: 20px;
  }
  .close {
    position: absolute;
    top: 7px;
    right: 10px;
  }
  .embed-code {
    width: 100%;
    padding: 3px 4px;
    color: #999;
    font-family: monospace;
    font-size: 12px;
  }
  #project-embed {
    .project-thumb {
      list-style: none;
      margin-right: 20px;
      float: left;
    }
  }
}

#project-embed {
  background: #fff;
  // width: 220px;
  .project-thumb {
    @include box-shadow(none);
    margin: 0;
    max-width: 220px;
    // width: 100%;
    .inner-thumb {
      border-top: none;
      height: 155px;
      .thumb-bottom {
        width: 99%;
        .counter {
          margin-left: 15px;
          margin-right: 0;
          vertical-align: middle;
          &.first {
            margin-left: 5px;
          }
        }
      }
    }
  }
}

.project-thumb {
  &:hover {
    .inner-thumb {
      .thumb-bottom {
        &.featured-logo {
          display: block;
        }
      }
    }
  }
  .inner-thumb {
    .featured-logo {
      &.thumb-bottom {
        display: none;
      }
      img {
        max-width: 65px;
        vertical-align: baseline;
      }
      a {
        color: #666;
        font-size: 12px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

body#embed {
  background: transparent;
}