#embed-popup {
  text-align: left;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999999;
  background-color: #000;
  background-color: rgba(0,0,0,0.5);
  .toggle-lists-btn {
    margin-top: 10px;
  }
  .embed-popup-outer {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #F3F3F3;
    padding: 2px;
    top: 50%;
    left: 50%;
    position: fixed;
  }
  .embed-popup-inner {
    border: 1px solid #dcdcdc;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    padding: 20px;
  }
  .close {
    position: absolute;
    top: 7px;
    right: 10px;
  }
  .embed-code {
    width: 100%;
    padding: 3px 4px;
    color: #999;
    font-family: monospace;
    font-size: 12px;
  }
  #project-embed {
    .project-embed-thumb {
      width: 70%;
    }
  }
}

#project-embed {
  background: #fff;
}
.project-embed-thumb {
  .featured-logo {
    a {
      color: #fff;
      font-size: 0.8em;
      &:hover {
        text-decoration: none;
      }
    }
    img {
      max-width: 65px;
      vertical-align: baseline;
    }
  }
  .thumb-image {
    &:hover:before {
      background: rgba(0,0,0,0.8);
    }
    &:hover {
      .show-on-hover {
        @include opacity(1);
      }
      .thumb-image-inner {
        bottom: 0;
      }
    }
  }
}

body#embed {
  background: transparent;
}