#embed-popup {
  text-align: left;
  .toggle-lists-btn {
    margin-top: 10px;
  }
  .embed-code {
    width: 100%;
    padding: 3px 4px;
    color: #999;
    font-family: monospace;
    font-size: 12px;
  }
  #project-embed {
    .project-embed-thumb {
      width: 70%;
    }
  }
}

#project-embed {
  background: #fff;
}
.project-embed-thumb {
  .featured-logo {
    a {
      color: #fff;
      font-size: 0.8em;
      &:hover {
        text-decoration: none;
      }
    }
    img {
      max-width: 65px;
      vertical-align: baseline;
    }
  }
  .thumb-image {
    &:hover:before {
      background: rgba(0,0,0,0.8);
    }
    &:hover {
      .show-on-hover {
        @include opacity(1);
      }
      .thumb-image-inner {
        bottom: 0;
      }
    }
  }
}
.embed-badge {
  width: 400px;
  height: 180px;
  display: flex;
  flex-direction: row;
  background-image: url(../../../assets/home/banner-6c6ea6219103030f4b618aef7657b4bd.jpg);
  background-size: 400px 180px;
  border: 1px solid #E5E5E5;
}
.embed-badge-image {
  height: 80px;
  width: 80px;
  padding: 10px 0 0 10px;
  margin-right: 5px;
}
.embed-badge-info {
  width: 320px;
  height: 120px;
  display: flex;
  flex-direction: column;
  color: white;
}
.embed-badge-info-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0px;
}

body#embed {
  background: transparent;
}