@import 'custom_mixins';
@import 'compass/css3';

html, body {
  margin: 0;
  padding: 0;
  background: transparent;
}

.branded {
  a {
    text-decoration: none;
    font-size: 11px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    @include border-radius(3px);
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    padding: 3px 5px 3px 24px;
    border: 1px solid #367DAE;
    text-shadow: 1px 1px 1px #2A6086;
    background: #3d8bc1;
    color: #fff;
    position: relative;
    &:hover {
      @include opacity(0.9);
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      @include border-radius(2px);
    }
  }
}

.text {
  a {
    text-decoration: none;
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 12px;
    line-height: 1.428571429;
    @include border-radius(4px);
    margin: 0;
    text-align: center;
    background: #FF7745;
    padding: 9px 9px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    color: #fff;
    font-weight: 200;
    &:hover {
      @include opacity(0.9);
      color: #fff;
    }
  }
}