.platform-thumb-old {
  height: 400px;
  margin-bottom: 20px;
  overflow: hidden;
  .badge {
    font-size: 9px;
  }
  p {
    font-size: 0.85em;
    margin-bottom: 0;
  }
}
.stats {
  font-size: 0.85em;
}


/******************************

    Platform group-page styling

******************************/
#platform-page #sidebar-container{
  p, li {
    font-weight: 200;
    color:#636363;
  }
}
#main-content {
  padding: 30px 30px 20px;
}
#alert-section {
  position: relative;
  z-index: 2;
}

/******************************

    Sidebar styling

******************************/
#platform-avatar-image-div{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
#platform-avatar-image{
  position: absolute;
  left: 20px;
  bottom: 20px;
  top: 20px;
  right: 20px;
  background: white 0 0 no-repeat;
  @include background-size(contain);
  overflow: hidden;
  @include border-radius(8px);
  border: 1px solid #d8d8d8;
}
#platform-body{
  padding: 0 20px 20px;
  border-bottom: 2px solid #ccc;
  @include box-shadow(0 1px 1px rgba(255,255,255,.4));
  h1{
    margin-top: 0;
    font-size: 24px;
  }
}
#platform-name{
  color: #434343;
  text-decoration: none;
  font-weight: 600;
}
#platform-follow-div{
  border-top: 1px dotted #d1d1d1;
  padding-top: 20px;
  margin-top: 18px;
}
#platform-page {
  .display {
    padding: 30px 20px 0 20px;
    h4 {
      margin-top: 0;
      font-size: 0.85em;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
    }
    a:not(.label) {
      color: #888;
      @include transition(all .2s ease);
      &:hover{
        color: #444447;
      }
    }
  }
  .websites{
    margin: -5px 0 0 -5px;
    height: 20px;
  }
  .addthis_sharing_toolbox, .addthis_toolbox {
    margin-top: 10px;
    text-align: center;
    label {
      float: left;
      text-transform: uppercase;
      margin-right: 5px;
      font-size: 0.85em;
      color: #666;
    }
  }
}
#platform-links{
  padding: 0;
  margin: 0;
  @include border-radius(4px);
  overflow: hidden;
  border: 1px solid #ddd;
  background: rgba(255,255,255,.3);
  @include box-shadow(inset 0 1px 0 rgba(255,255,255,.1));
  li{
    list-style: none;
  }
  .fa{
    position: relative;
    float: right;
    top: 2px;
  }
  a{
    display: block;
    color: #888;
    padding: 10px 10px;
    font-size: 0.85em;
    @include transition(all .2s ease);
    font-weight: 200;
    &.platform-buy-link{
      font-weight: bold;
    }
    &:hover{
      color: #444447;
      background: rgba(255,255,255,.5);
      text-decoration: none;
    }
  }
}
/******************************

    Inner content styling

******************************/

#top-bg{
  position: relative;
  z-index: 1;
  height: 400px;
  .alert{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    .container{
      width: 100%;
    }
  }
}
#top-bg-image{
  position: absolute;
  left: 0;
  top: -7.5%;
  width: 100%;
  height: 115%;
  z-index: 1;
  background: #fff center center no-repeat;
  @include background-size(cover);
}
#top-bg-image-inner {
  height: 100%;
  padding: 50px 30px;
  font-size: 20px;
  @include background-image(linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%));
  color: #fff;
}
#projects-list{
  position: relative;
  z-index: 2;
  background: white;
  padding: 30px 30px 20px;
  @include box-shadow(0 -10px 10px rgba(0, 0, 0, 0.05));
}
.project-list-actions{
  .btn-sm, .btn-group-sm > .btn, .btn-group-sm > .btn-follow{
    padding: 12px 12px 10px;
    font-size: 0.85em;
    line-height: 1;
    @include border-radius(3px);
    color: #aaa;
  }
  .btn:active, .btn-follow:active, .btn.active, .active.btn-follow{
    color:#444447;
    @include box-shadow(inset 0 1px 0px rgba(0, 0, 0, 0.1), inset 0 18px 10px rgba(0,0,0,.05));
  }
}

//
// hackerspaces

.hacker-space {
  .avatar, .avatar img {
    width: 20px;
    height: 20px;
  }
  .avatar {
    margin-right: 3px;
  }
}

//
// platform card

.platform-card {
  color: #fff;
  text-shadow: 0 0 1px #000;
  margin: 0;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 500px;
  height: 160px;
  max-width: 90%;
  max-height: 100%;
  padding: 10px;
  @include box-shadow(0 0 3px #000);
  background: #333;
  background-position: center center;
  background-repeat: no-repeat;
  @include background-size(cover);
  z-index: 99999;
  &:before {
    content: "";
    background: #000;
    @include opacity(0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .platform-card-inner {
    position: relative;
    height: 140px;
  }
  img {
    width: 140px;
    height: 140px;
  }
  .platform-card-desc {
    @include font-size(12);
  }
  a {
    color: #fff;
  }
  .btn {
    font-weight: bold;
    text-shadow: none;
    .inner-btn-container {
      position: relative;
    }
    .inner-btn {
      position: absolute;
      top: 0;
      .btn-text {
        margin-top: 20px;
      }
    }
    .btn-hidden-text {
      visibility: hidden
    }
  }
  .platform-card-links {
    position: absolute;
    bottom: 0;
    left: 0
  }
}

//
// community thumb

.community-thumb {
  h4 {
    margin: 30px 0 20px;
    text-align: center;
  }
  .community-avatar {
    border: 1px solid #ddd;
    @include border-radius(4px);
    padding: 4px;
    background: #fff;
    a {
      height: 0;
      padding-bottom: 100%;
      display: block;
      @include background-cover;
    }
  }
  .community-new {
    a {
      background-image: asset-url('plus.png');
      &:hover {
        @include opacity(0.8);
      }
    }
  }
}

#communities {
  section {
    padding: 60px 0 80px;
  }
  #teaser {
    height: 400px;
    h1 {
      font-weight: 200;
    }
    p {
      text-align: center;
      color: #bbb;
    }
  }
  h2 {
    margin: 10px;
    text-align: center;
    font-size: 35px;
    font-weight: 200;
  }
}

//
// lists
.add-to-list {
  position: relative;
  ul.lists {
    display: none;
    list-style: none;
    padding: 10px 20px 8px;
    background: #fff;
    border: 1px solid #ddd;
    border-top: 0;
    position: absolute;
    z-index: 20;
    @include box-shadow(0 1px 2px #666);
    width: 100%;
    li {
      label {
        font-weight: normal;
      }
      input[type='checkbox'] {
        margin-right: 5px;
      }
      i {
        margin-left: 3px;
      }
    }
  }
}