.stats {
  font-size: 0.85em;
}


/******************************

    Platform group-page styling

******************************/

#main-content {
  padding: 30px 30px 20px;
}

// /******************************

//     Sidebar styling

// ******************************/
#platform-avatar-image-div{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}
#platform-avatar-image{
  position: absolute;
  left: 20px;
  bottom: 20px;
  top: 20px;
  right: 20px;
  background: white 0 0 no-repeat;
  @include background-size(contain);
  overflow: hidden;
  @include border-radius(8px);
  border: 1px solid #d8d8d8;
}
#platform-body{
  padding: 0 20px 20px;
  border-bottom: 2px solid #ccc;
  @include box-shadow(0 1px 1px rgba(255,255,255,.4));
  h1{
    margin-top: 0;
    font-size: 24px;
  }
}
#platform-name{
  color: #434343;
  text-decoration: none;
  font-weight: 600;
}
#platform-follow-div{
  border-top: 1px dotted #d1d1d1;
  padding-top: 20px;
  margin-top: 18px;
}
#platform-page {
  .display {
    padding: 30px 20px 0 20px;
    h4 {
      margin-top: 0;
      font-size: 0.85em;
      text-transform: uppercase;
      color: #999;
      font-weight: bold;
    }
    a:not(.label) {
      color: #888;
      @include transition(all .2s ease);
      &:hover{
        color: #444447;
      }
    }
  }
  .websites{
    margin: -5px 0 0 -5px;
    height: 20px;
  }
  .addthis_sharing_toolbox, .addthis_toolbox {
    margin-top: 10px;
    text-align: center;
    label {
      float: left;
      text-transform: uppercase;
      margin-right: 5px;
      font-size: 0.85em;
      color: #666;
    }
  }
}
#platform-links{
  padding: 0;
  margin: 0;
  @include border-radius(4px);
  overflow: hidden;
  border: 1px solid #ddd;
  background: rgba(255,255,255,.3);
  @include box-shadow(inset 0 1px 0 rgba(255,255,255,.1));
  li{
    list-style: none;
  }
  .fa{
    position: relative;
    float: right;
    top: 2px;
  }
  a{
    display: block;
    color: #888;
    padding: 10px 10px;
    font-size: 0.85em;
    @include transition(all .2s ease);
    font-weight: 200;
    &.platform-buy-link{
      font-weight: bold;
    }
    &:hover{
      color: #444447;
      background: rgba(255,255,255,.5);
      text-decoration: none;
    }
  }
}
#top-bg {
  position: relative;
  z-index: 1;
  height: 400px;
  .alert{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    .container{
      width: 100%;
    }
  }
}
#top-bg-image {
  position: absolute;
  left: 0;
  top: -7.5%;
  width: 100%;
  height: 115%;
  z-index: 1;
  background: #fff center center no-repeat;
  @include background-size(cover);
}
/******************************

    Inner content styling

******************************/

.top-banner {
  position: relative;
  // z-index: 1;
  height: 400px;
  background-color: #111;
  .alert{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    .container{
      width: 100%;
    }
  }
}
.top-banner-image {
  position: absolute;
  left: 0;
  top: -7.5%;
  width: 100%;
  height: 115%;
  z-index: 1;
  background: center center no-repeat;
  @include background-size(cover);
  &.user-bg {
    background-color: #fff;
    .top-banner-image-inner {
      background: rgba(0,0,0,0.6);
    }
  }
  &.default-bg {
    background-color: #333;
  }
}
.top-banner-image-inner {
  color: #fff;
  height: 100%;
  position: relative;
  .media {
    padding: 130px 0;
    height: 100%;
  }
  .media-left {
    padding-right: 40px;
    img {
      padding: 10px;
      border: 0;
      width: 180px;
      height: 180px;
    }
  }
  .media-body {
    position: relative;
    width: 100%;
  }
  h1 {
    margin: 0;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    a {
      color: #fff;
    }
  }
  h2 {
    margin: 0 0 5px;
    font-size: 1.1em;
    font-weight: bold;
    small {
      font-size: 85%;
      color: #fafafa;
    }
  }
  .secondary-info {
    font-size: 0.85em;
    a {
      color: #fff;
      &:hover {
        color: #eee;
      }
    }
    i {
      margin-right: 8px;
    }
  }
  .tags {
    margin-left: 10px;
    margin-bottom: 0;
    padding: 0;
    margin-top: 14px;
  }
  .button-content {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .btn-link {
    color: #fff;
    text-decoration: underline;
    display: inline !important; // for addthis plugin
    &:hover {
      color: #ddd;
    }
    &.btn-link-accent {
      font-weight: bold;
    }
  }
  .visible-xs {
    padding: 100px 20px 0;
    text-align: center;
    img {
      width: 80px;
      height: 80px;
      padding: 5px;
      border: 0;
      margin-bottom: 10px;
    }
  }
}
.top-banner-image-inner-corner {
  color: #bbb;
  position: absolute;
  font-weight: bold;
  &.text {
    text-transform: uppercase;
    font-size: 0.7em;
  }
  a {
    color: #bbb;
    &:hover {
      color: #ddd;
    }
  }
  &.top-left {
    top: 45px;
    left: 15px;
  }
  &.top-right {
    top: 45px;
    right: 15px;
  }
  &.bottom-right {
    bottom: 45px;
    right: 15px;
  }
  &.bottom-left {
    bottom: 15px;
    left: 15px;
  }
  .websites {
    margin: 0 -7px;
    font-size: 1.2em;
    li {
      padding: 0 7px;
    }
  }
}
@media (max-width: 768px) {
  .top-banner-image-inner-corner.bottom-center-mobile {
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
  }
}
#projects-list{
  position: relative;
  z-index: 2;
  background: #fff;
  padding: 30px 0 20px;
  @include box-shadow(0 -10px 10px rgba(0, 0, 0, 0.05));
}
.main-section{
  position: relative;
  z-index: 2;
  background: #f2f2f2;
  padding: 60px 0 20px;
}
.main-section-actions{
  .btn-sm, .btn-group-sm > .btn, .btn-group-sm > .btn-follow{
    padding: 12px 12px 10px;
    font-size: 0.85em;
    line-height: 1;
    @include border-radius(3px);
  }
  .btn:active, .btn-follow:active, .btn.active, .active.btn-follow{
    color:#444447;
    @include box-shadow(inset 0 1px 0px rgba(0, 0, 0, 0.1), inset 0 18px 10px rgba(0,0,0,.05));
  }
}
.company-logo {
  vertical-align: baseline;
  margin-right: 10px;
}
.verified {
  color: #36C74E;
  @include opacity(0.5);
  font-size: 0.6em;
  vertical-align: super;
  margin-left: 8px;
}
.group-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  @include background-image(linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.6) 100%));
  z-index: 3;
  &.affix {
    position: fixed;
    top: 0;
    left: 0;
    bottom: initial;
    width: 100%;
    z-index: 3;
    background-color: #111;
    max-height: 60px;
    // & + #projects-list {
    //   padding-top: 90px;
    // }
    .brand {
      margin-left: 0 !important;
    }
    .nav-tabs, .more-info, .manage {
      background: #111;
    }
  }
  .nav-tabs {
    padding-top: 10px;
    border: 0;
    float: left;
    & > li {
      margin-left: 10px;
      margin-bottom: 0;
      & > a, .link {
        padding: 8px 15px 12px;
        color: #fff;
        border: 0;
        border-bottom: 4px solid transparent;
        background: none;
        &:hover {
          border-bottom-color: #999;
          color: #999;
        }
        small {
          font-size: 80%;
          margin-left: 8px;
          color: #999;
        }
      }
      &.active {
        & > a, & > a:focus, & > .link {
          color: #fff;
          border: 0;
          border-bottom: 4px solid #666;
          font-weight: bold;
          background: none;
          &:hover {
            border: 0;
            border-bottom: 4px solid #666;
          }
        }
      }
    }
  }
  .websites {
    margin: 0 -7px;
    font-size: 1.2em;
    top: 16px;
    right: 15px;
    position: absolute;
    z-index: -1;
    li {
      padding: 0 7px;
    }
    a {
      color: #bbb;
      &:hover {
        color: #ddd;
      }
    }
  }
  .manage, .more-info {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
  }
  .manage {
    .caret {
      margin-left: 3px;
    }
  }
  .btn-default {
    color: #eee;
    border-color: #eee;
  }
  .btn-default:hover,
  .btn-default:focus,
  .btn-default.focus,
  .btn-default:active,
  .btn-default.active,
  .open > .btn-default.dropdown-toggle {
    color: #bbb;
    border-color: #bbb;
  }
  .brand {
    float: left;
    @include transition(margin-left ease-in-out 200ms);
    margin-left: -500px;
    img, .img-placeholder {
      display: inline-block;
      height: 40px;
      vertical-align: middle;
    }
    img {
      width: 40px;
      margin: 10px 0 9px 10px;
    }
    .img-placeholder {
      width: 0;
      margin: 10px 0 9px 0;
    }
    h2 {
      display: inline-block;
      margin: 0 15px 0 10px;
      vertical-align: middle;
      color: #fff;
      font-weight: bold;
      font-size: 1.5em;
      max-width: 350px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

@media (min-width: 768px) and (max-width: 850px) {
  .group-nav {
    .brand {
      h2 {
        max-width: 220px;
      }
    }
  }
}
@media (min-width: 850px) and (max-width: 1030px) {
  .group-nav {
    .brand {
      h2 {
        max-width: 300px;
      }
    }
  }
}

.group-nav-inner {
  position: relative;
}

.close-nav {
  color: #666;
}
.submenu-mobile {
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.submenu-mobile-open {
  padding: 20px;
  display: block;
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #ddd;
    text-decoration: none;
  }
  i {
    margin-right: 10px;
  }
}

//
// hackerspaces

.hacker-space {
  .avatar, .avatar img {
    width: 20px;
    height: 20px;
  }
  .avatar {
    margin-right: 3px;
  }
}

//
// platform card

.platform-card {
  color: #fff;
  text-shadow: 0 0 1px #000;
  margin: 0;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 500px;
  height: 160px;
  max-width: 90%;
  max-height: 100%;
  padding: 10px;
  @include box-shadow(0 0 3px #000);
  background: #333;
  background-position: center center;
  background-repeat: no-repeat;
  @include background-size(cover);
  z-index: 99999;
  &:before {
    content: "";
    background: #000;
    @include opacity(0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .platform-card-inner {
    position: relative;
    height: 140px;
  }
  img {
    width: 140px;
    height: 140px;
  }
  .platform-card-desc {
    @include font-size(12);
  }
  a {
    color: #fff;
  }
  .btn {
    font-weight: bold;
    text-shadow: none;
    .inner-btn-container {
      position: relative;
    }
    .inner-btn {
      position: absolute;
      top: 0;
      .btn-text {
        margin-top: 20px;
      }
    }
    .btn-hidden-text {
      visibility: hidden
    }
  }
  .platform-card-links {
    position: absolute;
    bottom: 0;
    left: 0
  }
}

//
// community thumb

.community-thumb {
  h4 {
    margin: 30px 0 20px;
    text-align: center;
  }
  .community-avatar {
    border: 1px solid #ddd;
    @include border-radius(4px);
    padding: 4px;
    background: #fff;
    a {
      height: 0;
      padding-bottom: 100%;
      display: block;
      @include background-cover;
    }
  }
  .community-new {
    a {
      background-image: asset-url('plus.png');
      &:hover {
        @include opacity(0.8);
      }
    }
  }
}

#communities {
  section {
    padding: 60px 0 80px;
  }
  #teaser {
    height: 400px;
    h1 {
      font-weight: 200;
    }
    p {
      text-align: center;
      color: #bbb;
    }
  }
  h2 {
    margin: 10px;
    text-align: center;
    font-size: 35px;
    font-weight: 200;
  }
}

//
// lists
.add-to-list {
  position: relative;
  ul.lists {
    display: none;
    list-style: none;
    padding: 10px 20px 8px;
    background: #fff;
    border: 1px solid #ddd;
    border-top: 0;
    position: absolute;
    z-index: 20;
    @include box-shadow(0 1px 2px #666);
    width: 100%;
    li {
      label {
        font-weight: normal;
      }
      input[type='checkbox'] {
        margin-right: 5px;
      }
      i {
        margin-left: 3px;
      }
    }
  }
}

.event-schedule {
  .table {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

#platforms {
  section {
    padding: 40px 0;
  }
  .section-header {
    color: #fff;
    @include background-cover;
    background-image: asset-url('hwweek/bg.jpg');
    background-position: center 61%;
    text-align: center;
    padding: 50px 0;
    h1 {
      margin: 0;
      text-align: center;
      font-weight: bold;
    }
    p {

    }
  }
  .section-projects {

    h4 {
      font-weight: bold;
      font-size: 1.1em;
    }
    .controls {
      margin-bottom: 40px;
    }
    .tag {
      margin-bottom: 10px;
      font-size: 0.9em;
      display: block;
    }
  }
  .tag-status {
    margin-top: 10px;
    .reset {
      margin-left: 20px;
      font-size: 0.9em;
    }
  }
}