#about {
  padding-top: 100px;
  #pitch {
    // background: #fcfcfc;
    .pitch-line {
      margin: 50px 0;
      .img {
        text-align: center;
      }
    }
  }
  h3 {
    color: #1f262c;
    margin-top: 0;
    font-size: 18px;
  }
  p {
    color: #888;
    line-height: 1.6;
  }
}

.alert.alert-bold {
  border-color: #3d8bc1;
  background: #3d8bc1;
  color: #fff;
  .alert-link {
    color: #fafafa;
  }
}

.mobile-breakpoint {
  display: inline;
}