#about {
  padding-top: 100px;
  #pitch {
    // background: #fcfcfc;
    .pitch-line {
      margin: 50px 0 30px;
      .img {
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
  h3 {
    color: #1f262c;
    margin-top: 0;
    font-size: 18px;
  }
  p {
    color: #888;
    line-height: 1.6;
  }
}

.alert.alert-bold {
  border-color: #3d8bc1;
  background: #3d8bc1;
  color: #fff;
  .alert-link {
    color: #fafafa;
  }
}

.mobile-breakpoint {
  display: inline;
}

#hello-hackster {
  background-image: asset-url('home/banner.jpg');
  position: relative;
  padding: 0;
  height: calc(100vh - 60px);
  h1 {
    font-weight: bold;
    margin: 20px 0 0;
    font-size: 1.2em;
  }
  .hack-selector-container {
    position: absolute;
    top: 50%;
    margin-top: -28px;
    width: 100%;
    left: 0;
    padding: 0 10px;
    .twitter-typeahead-container, select {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background: transparent;
      width: 100%;
      @include opacity(0);
      cursor: pointer;
      font-size: 18px;
    }
  }
  .typeahead-container {
    .inner-container {
      position: relative;
      width: 330px;
      margin: 0 auto;
      font-size: 30px;
      height: 56px;
      border: 3px solid white;
    }
    label {
      position: absolute;
      margin-bottom: 0;
      padding: 6px 12px 8px;
      cursor: pointer;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
  .select-container {
    label {
      position: relative;
      font-size: 30px;
      line-height: 1.2;
      margin-bottom: 0;
      padding: 7px 12px;
      border: 3px solid #fff;
      cursor: pointer;
    }
  }
  ul {
    margin-top: 15px;
    font-size: 0.85em;
    margin-left: -10px;
    li {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .scrolldown {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2vh;
    text-align: center;
  }
}

.customSelect {
/* This is the default class that is used */
/* Put whatever custom styles you want here */
}

.customSelect.customSelectHover {
/* Styles for when the select box is hovered */
}

.customSelect.customSelectOpen {
/* Styles for when the select box is open */
}

.customSelect.customSelectFocus {
/* Styles for when the select box is in focus */
}

.customSelectInner {
/* You can style the inner box too */
}