#about {
  padding-top: 100px;
  #pitch {
    // background: #fcfcfc;
    .pitch-line {
      margin: 50px 0 30px;
      .img {
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
  h3 {
    color: #1f262c;
    margin-top: 0;
    font-size: 18px;
  }
  p {
    color: #555;
    line-height: 1.6;
  }
}

.alert.alert-bold {
  border-color: #3d8bc1;
  background: #3d8bc1;
  color: #fff;
  .alert-link {
    color: #fafafa;
  }
}

.mobile-breakpoint {
  display: inline;
}

.showcase-section-header {
  margin-bottom: 20px;
  h4 {
    margin: 0 0 30px;
  }
}

#home-banner {
  .slick-slider {
    margin: 0;
  }
  .slick-prev {
      left: 20px;
  }
  .slick-next {
    right: 20px;
  }
  .slick-dots {
    bottom: 0;
    li {
      button {
        &:before {
          color: white;
          text-shadow: black 0 0 20px;
          font-size: 10px;
        }
      }
      &.slick-active {
        button {
          &:before {
            color: white;
          }
        }
      }
    }
  }
}

.home-slide {
  @include background-cover;
  padding: 100px 0;
  color: #fff;
  a {
    color: #fff;
    text-decoration: underline;
  }
  .container {
    height: 130px;
  }
}
@media (max-width: 768px) {
  .home-slide {
    .container {
      height: 230px;
    }
  }
}

.view-all-header {
  margin-bottom: 20px;
  h4 {
    margin: 0;
  }
}
.showcase-section {
  padding: 50px 0;
  border-bottom: 1px solid #ddd;
  &.last {
    border-bottom: 0;
  }
  &.section-short {
    padding: 20px 0;
    .suggestions {
      margin: 0;
    }
  }
}

#home {
  #home-banner {
    margin-bottom: 20px;
    & + .showcase-section {
      padding-top: 30px;
    }
    & + .showcase-section.section-short {
      padding-top: 0;
    }
  }
}

.subscribe-block {
  background: #ffffff;
  padding: 15px 0;
  line-height: 28px;
  // border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  img {
    margin-right: 5px;
    width: 22px;
  }
  .form-inline .form-group {
    margin-right: 5px;
  }
  input[type='email'] {
    min-width: 200px;
  }
}

.carousel-left,
.carousel-right {
  position: absolute;
  top: calc(50% - 15px);
  font-size: 30px;
  color: #ccc;
  cursor: pointer;
  border: 0;
  background: transparent;
  outline: 0;
  &:hover {
    color: #666;
  }
}

.carousel-left {
  left: -40px;
}
.carousel-right {
  right: -50px;
}
.thumbs-carousel {
  &.slick-initialized {
    margin-bottom: 30px;
  }
  .slick-slide {
    .thumb {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1260px) {
  .carousel-left {
    left: 15px;
  }
  .carousel-right {
    right: 15px;
  }
  .carousel-left,
  .carousel-right {
    top: 0;
    height: 100%;
    background: rgba(0,0,0,0.2);
    padding: 20px 30px;
    @include transition(background ease 150ms);
    &:hover {
      background: rgba(0,0,0,0.5);
    }
  }
}

#hello-hackster,
#welcome-back {
  background-image: asset-url('home/banner.jpg');
  .btn-over {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
  }
}

#welcome-back {
  padding: 60px 0 70px;
  h1 {
    margin: 0;
    text-align: center;
    font-weight: bold;
  }
  .container {
    height: auto;
  }
}

#hello-hackster {
  position: relative;
  padding: 0;
  height: calc(100vh - 60px);
  h1 {
    font-weight: bold;
    margin: 20px 0 0;
    font-size: 1.2em;
  }
  .hack-selector-container {
    position: absolute;
    top: 50%;
    margin-top: -28px;
    width: 100%;
    left: 0;
    padding: 0 10px;
    .twitter-typeahead-container, select {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background: transparent;
      width: 100%;
      @include opacity(0);
      cursor: pointer;
      font-size: 18px;
    }
  }
  .typeahead-container {
    .inner-container {
      position: relative;
      width: 330px;
      margin: 0 auto;
      font-size: 30px;
      height: 56px;
      border: 3px solid white;
    }
    label {
      position: absolute;
      margin-bottom: 0;
      padding: 6px 12px 8px;
      cursor: pointer;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
  .select-container {
    label {
      position: relative;
      font-size: 30px;
      line-height: 1.2;
      margin-bottom: 0;
      padding: 7px 12px;
      border: 3px solid #fff;
      cursor: pointer;
    }
  }
  ul {
    margin-top: 15px;
    font-size: 0.85em;
    margin-left: -10px;
    li {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .scrolldown {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2vh;
    text-align: center;
  }
}

.suggestions {
  margin-bottom: 30px;
  h3 {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
    }
    a {
      font-weight: bold;
      font-size: .9em;
    }
  }
}
@media (min-width: 768px) {
  .suggestions {
    h3 {
      display: inline;
      margin-right: 30px;
    }
    ul {
      display: inline;
      margin-left: -15px;
      li {
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
@media (max-width: 768px) {
  .suggestions {
    text-align: center;
    h3 {
      margin-bottom: 10px;
    }
    ul {
      li {
        margin-bottom: 3px;
      }
    }
  }
}

#infinite-scrolling {
  .page {
    visibility: hidden;
    &.visible {
      visibility: visible;
    }
  }
}

.category-full-row {
  margin-left: -3px;
  margin-right: -3px;
}
.category-full-col {
  padding-left: 3px;
  padding-right: 3px;
  .category-thumb {
    margin-bottom: 6px;
  }
}

.mini-alert {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 1000;
  background: #fff;
  padding: 13px 19px;
  border: 2px solid #DDD;
  @include border-radius(4px);
  color: #555;
}