.issue {
  .issue-comment {
    .user-avatar {
      width: 40px;
    }
  }
  .label {
    margin-right: 5px;
  }
}

.build-log {
  #comments {
    margin-top: 20px;
  }
}
#comments {
  .media-body {
    width: 100%;
  }
}