html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #f2f2f2;
}

.navbar {
}

.navbar-static-top .navbar-inner {
  background: #fff;
  padding: 10px 20px;
  @include box-shadow(none);
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#content {
  padding: 40px 0;
}

#push {
  height: 60px;
}

footer {
  color: #b6b6b6;
  font-size: 0.8em;
  padding: 10px 0;
  height: 40px;
  a {
    color: #9b9b9b;
  }
  ul {
    margin: 0;
    float: left;
    li {
      display: inline;
      margin-right: 20px;
    }
  }
  p {
    float: right;
    margin: 0;
  }
}

.well, .transparent-well {
  padding: 0;
  overflow: hidden;
  h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: 'Open Sans', Tahoma, sans-serif;
    font-weight: normal;
  }
  .content {
    padding: 13px 19px;
  }
  .header {
    padding: 16px 19px 0;
    h1, h2, h3, h4 {
      position: relative;
      a {
        font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
      }
    }
    h4 {
      @include font-size(17);
    }
    &.no-content {
      padding: 13px 19px;
    }
  }
}

.well, .thumbnail {
  background: #fff;
  border-color: #e2e2e2;
  @include border-radius(0);
  @include box-shadow(0 1px 1px #ccc);
}

.hero-unit {
  @include border-radius(0);
}

.thumbnail {
  height: 336px;
  overflow: hidden;
}

#heading {
  padding: 40px 0 30px;
  background: #fafafa;
  border-bottom: 1px solid #e2e2e2;
}

#heading .teaser {
  h1 {
    margin: 0 0 7px;
    @include font-size(26);
  }
  p {
    margin: 0 0 1px;
  }
}

.alert-flash {
  position: absolute;
  right: 0;
  top: 0;
}

h1, h2, h3, h4 {
  .subtitle {
    display: inline;
    @include font-size(12);
    color: #999;
    font-weight: normal;
  }
}

.teaser {
  position: relative;
}

.btn-edit {
  top: 0;
  font-weight: bold;
  @include font-size(12);
}

.btn-follow {
  bottom: 5px;
  @extend .btn;
}

.btn-edit, .btn-follow, .btn-heading {
  position: absolute;
  right: 0;
}

.btn-edit a {
  margin-left: 10px;
}

.btn-heading {
  top: 0;
}

.smaller {
  font-size: 0.9em;
}

.preview {
  padding-top: 20px;
  border-top: 1px dashed #E2E2E2;
  margin-top: 20px;
  &.first {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }
}

.form-search {
  margin: 5px 0 0 50px;
  .btn {
    margin: 0;
  }
}

#subnav {
  .navbar-inner {
    background: #f8f8f8;
    padding: 0;
  }
}

.istooltip {
  cursor: help;
}

form.full-size {
  input[type=text], textarea, .uneditable-input {
/*    width: 400px;*/
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  select {
    width: 100%;
  }
}

.form-horizontal {
  .add_nested_fields {
    margin-left: 180px;
    margin-bottom: 20px;
  }
  .fields {
    margin-bottom: 20px;
    .control-group {
      margin-bottom: 5px;
    }
  }
}

.control-group.hidden, .form-horizontal .fields .control-group.hidden {
  margin-bottom: 0;
}

.progress {
  .bar {
    color: #333;
    text-shadow: 0 -1px 0 rgba(255,255,255,0.25);
  }
}

hr.spacious {
  margin: 30px 0 50px;
}

.wellified {
  background: #fafafa;
  padding: 10px 20px;
  border: 1px solid #ddd;
  @include border-radius(4px);
}

table {
  .control-group {
    margin-bottom: 0;
    .controls {
      margin-left: 0;
      input {
        width: 150px;
      }
      input[type='number'] {
        width: 60px;
      }
    }
  }
  tfoot {
    font-weight: bold;
  }
  td.currency {
    text-align: right;
  }
}

.help-block {
  @include font-size(12);
  color: #999;
}

input.placeholder, textarea.placeholder {
  color: #aaa;
}

/*to circumvent wysihtml5 limitation*/
.table-condensed-bordered {
  @extend .table;
  @extend .table-condensed;
  @extend .table-bordered;
}

.link-icon:hover {
  text-decoration: none;
}