html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #f2f2f2;
}

.navbar {
  margin-bottom: 0;
  .navbar-brand {
    padding: 6px 20px 10px;
  }
  .nav {
    li.with-button {
      padding: 2px 5px 0;
    }
  }
}

.navbar-static-top .navbar-inner {
  background: #fff;
  padding: 10px 20px;
  @include box-shadow(none);
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#content {
  padding: 20px 0;
}

#push {
  height: 60px;
}

footer {
  color: #b6b6b6;
  font-size: 0.8em;
  padding: 10px 0;
  height: 40px;
  a {
    color: #9b9b9b;
    &:hover {
      color: #9b9b9b;
    }
  }
}

.well, .transparent-well {
  padding: 0;
  overflow: hidden;
  h1, h2, h3, h4, h5 {
    margin: 0;
    font-family: 'Open Sans', Tahoma, sans-serif;
    font-weight: normal;
  }
  .content {
    padding: 13px 19px;
  }
  .header {
    padding: 16px 19px 0;
    h1, h2, h3, h4 {
      position: relative;
      a {
        font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
      }
    }
    h4 {
      @include font-size(17);
    }
    &.no-content {
      padding: 13px 19px;
    }
  }
}

.box-white-bg {
  background: #fff;
  border-color: #e2e2e2;
  @include border-radius(0);
  @include box-shadow(0 1px 1px #ccc);
}

.well {
  @extend .box-white-bg;
}

.jumbotron {
  @include border-radius(0);
}

#heading {
  margin-top: 40px;
  .teaser {
    position: relative;
    h1 {
      margin: 7px 0;
      @include font-size(26);
      color: #fff;
    }
    p {
      margin: 0 0 1px;
    }
    .text-holder {
      padding: 60px 20px 30px;
      background: #444;
      color: #fff;
      text-align: center;
      height: 477px;
      .logo-placeholder {
        width: 80px;
        height: 80px;
      }
    }
    .actions {
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
      text-align: center;
      & > a, a.action {
        color: #fff;
        margin-left: 10px;
        @include font-size(16);
      }
    }
  }
  img.cover-image {
    width: 100%;
  }
}

.alert-flash {
  position: absolute;
  right: 0;
  top: 0;
}

h1, h2, h3, h4 {
  .subtitle {
    display: inline;
    @include font-size(12);
    color: #999;
    font-weight: normal;
  }
}

.teaser {
  position: relative;
}

.btn-edit {
  top: 0;
  font-weight: bold;
  @include font-size(12);
}

.btn-follow {
  bottom: 5px;
  @extend .btn;
}

.btn-edit, .btn-follow, .btn-heading {
  position: absolute;
  right: 0;
}

.btn-edit a {
  margin-left: 10px;
}

.btn-heading {
  top: 0;
}

.btn-delete {
  top: 5px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.smaller {
  font-size: 0.9em;
}

.preview {
  padding-top: 20px;
  border-top: 1px dashed #E2E2E2;
  margin-top: 20px;
  &.first {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }
}

.form-search {
  margin: 5px 0 0 50px;
  .btn {
    margin: 0;
  }
}

#subnav {
  .navbar-inner {
    background: #f8f8f8;
    padding: 0;
  }
}

.istooltip {
  cursor: help;
}

form.full-size {
  input[type=text], input[type=email], input[type=password], textarea,
    .uneditable-input, input[type=url] {
    width: 94.9%;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  select {
    width: 100%;
  }
}

.form-horizontal {
  .add_nested_fields {
    margin-left: 180px;
    margin-bottom: 20px;
  }
  .fields {
    margin-bottom: 20px;
    .form-group {
      margin-bottom: 5px;
    }
  }
}

form.form-compact {
  .form-group {
    margin-bottom: 0;
  }
}

.form-group.hidden, .form-horizontal .fields .form-group.hidden {
  margin-bottom: 0;
}

.progress {
  .bar {
    color: #333;
    text-shadow: 0 -1px 0 rgba(255,255,255,0.25);
  }
}

hr {
  border-top-color: #d1d1d1;
}

hr.spacious {
  margin: 30px 0 50px;
}

.wellified {
  background: #fafafa;
  padding: 10px 20px;
  border: 1px solid #ddd;
  @include border-radius(4px);
}

table {
  .form-group {
    margin-bottom: 0;
    .controls {
      margin-left: 0;
      input {
        width: 150px;
      }
      input[type='number'] {
        width: 60px;
      }
    }
  }
  tfoot {
    font-weight: bold;
  }
  td.currency, th.currency {
    text-align: right;
  }
}

.help-block, .help-inline {
  @include font-size(12);
  color: #999;
}

input.placeholder, textarea.placeholder {
  color: #aaa;
}

/*to circumvent wysihtml5 limitation*/
.table-condensed-bordered {
  @extend .table;
  @extend .table-condensed;
  @extend .table-bordered;
}

.link-icon:hover {
  text-decoration: none;
}

#hello-world {
  display: none;
  padding: 10px 0;
  @include font-size(12);
  border-bottom: 1px solid #036394;
  background: #08C;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px #036394;
  .close {
    @include font-size(12);
    color: white;
    @include opacity(0.9);
  }
  a {
    color: #D1E6F0;
    text-decoration: underline;
    &:hover {
      color: #C4DAE4;
    }
  }
}

.btn-close-notif {
  float: right;
  margin-right: 5px;
  font-weight: normal;
  &.btn-close-notif-last {
    margin: 0;
  }
}

a.hidden-link {
  color: #333;
  &.hidden-link-invert {
    color: #fff;
  }
}