html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #f2f2f2;
}

.navbar {
}

.navbar-static-top .navbar-inner {
  background: #f2f2f2;
  padding: 10px 20px;
  @include box-shadow(none);
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#content {
  padding: 20px 0;
}

#push {
  height: 60px;
}

footer {
  color: #b6b6b6;
  font-size: 0.8em;
  padding: 10px 0;
  height: 40px;
  a {
    color: #9b9b9b;
  }
  ul {
    li {
      display: inline;
      margin-left: 20px;
    }
  }
  p {
    float: right;
    margin: 0;
  }
}

.well {
  background: #fff;
  border-color: #e2e2e2;
  padding: 0;
  h1, h2, h3, h4, h5 {
    margin: 0;
  }
  .header, .content {
    padding: 13px 19px;
  }
  .header {
    border-bottom: 1px solid #e2e2e2;
    h1, h2, h3, h4 {
      position: relative;
    }
  }
  .content {
  }
}

#heading {
  padding: 40px 0;
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
}

.alert-flash {
  position: absolute;
  right: 0;
  top: 0;
}

h1, h2, h3, h4 {
  .subtitle {
    display: inline;
    @include font-size(12);
    color: #999;
    font-weight: normal;
  }
}

.teaser {
  position: relative;
}

.btn-edit {
  top: 5px;
  font-weight: bold;
  @include font-size(12);
}

.btn-follow {
  bottom: 5px;
  @extend .btn;
}

.btn-edit, .btn-follow {
  position: absolute;
  right: 0;
}

.smaller {
  font-size: 0.9em;
}

.preview {
  padding-top: 20px;
  border-top: 1px dashed #E2E2E2;
  margin-top: 20px;
  &.first {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }
}

.form-search {
  margin: 5px 0 0 50px;
  .btn {
    margin: 0;
  }
}

#subnav {
  .navbar-inner {
    background: #f8f8f8;
    padding: 0;
  }
}

.istooltip {
  cursor: help;
}