.chapter-thumb {
  h4 {
    margin-bottom: 0;
  }
  .thumb-bottom {
    padding: 20px 20px 20px;
  }
}

.chapter-location {
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.chapter-organizer {
  text-align: center;
  font-size: 0.9em;
  color: #777;
  img {
    margin-right: 5px;
  }
}

.live-thumb {
  img {
    margin-bottom: 20px;
    width: 100%;
  }
  // a {
  //   font-weight: bold;
  //   color: #444;
  //   font-size: 1em;
  // }
  margin-bottom: 30px;
}

#live-home {
  section {
    padding: 80px 0;
    &.section-header {
      padding: 150px 0;
      background-image: asset-url('live_sea.jpg');
      h1 {
        text-shadow: 0 0 10px #000;
      }
      p {
        max-width: 500px;
        margin: 0 auto;
        text-shadow: 0 0 10px #000;
      }
    }
    h2:first-child {
      margin: 0 0 30px;
      text-align: center;
    }
  }
}

.live-modal {
  h2 {
    margin: 0 0 30px;
    font-size: 1.5em;
  }
  h3 {
    margin: 0 0 5px;
    font-size: 1em;
    font-weight: bold;
  }
  ul {
    margin-bottom: 20px;
  }
}
