$grape: #4f3254;
$purpley-grey: #938298;
$pale-grey: #e3ecf1;
$gunmetal: #53595d;
$brownish-grey: #696969;
$warm-grey: #9c9a9a;

#mousercontest-landing {
  // TODO: Set a max-width of 1440 here and on #hero trophy & sparkles bg shiet.

  /** Navbar */
  #navbar {
    @include flexbox((
      display: flex,
      align-items: center
    ));

    background-color: white;
    height: 127px;
    width: 100%;

    .title-container {
      @include flexbox((
        flex: 4
      ));
      .title {
        font-family: Lato-Black;
        font-size: 14px;
        letter-spacing: 6px;
        color: #593e5e;
        padding-left: 6%;

        &:hover { text-decoration: none; }
        &:focus { text-decoration: none; }
      }
    }

    .details-button-container {
      @include flexbox((
        display: flex,
        flex: 1,
        justify-content: flex-end
      ));
      margin-right: 6%;

      button {
        background-color: transparent;
        border: 1px solid #DEDEDE;
        border-radius: 2px;
        font-family: Lato-Regular;
        font-size: 12px;
        letter-spacing: 0.6px;
        color: #838383;
        max-width: 200px;
        width: 100%;
        height: 42px;
        padding: 0 10%;
        white-space: nowrap;

        &:hover { box-shadow: 0 5px 25px 0 rgba(0, 0, 160, 0.2); border: none; }
        &:focus { outline: none; }
      }
    }
  }
  /** Navbar::Media Queries */
  @media screen and (min-width: 768px) {
    #navbar > .title-container > .title { font-size: 18px; }
    #navbar > .details-button-container > button { font-size: 14px; height: 48px; }
  }
  @media screen and (min-width: 1024px) {
    #navbar > .title-container > .title { font-size: 26px; }
    #navbar > .details-button-container > button { font-size: 21px; height: 52px; }
  }

  /** Hero */
  #hero {
    @include flexbox((
      display: flex,
      flex-direction: column,
      align-items: center
    ));
    @include background-image(linear-gradient(to right, $grape, $purpley-grey));
    width: 100%;

    .title {
      font-family: Lato-Black;
      font-size: 18px;
      letter-spacing: 12.1px;
      color: white;
      padding-top: 8%;
    }

    .brief {
      font-family: Lato-Light;
      font-size: 12px;
      letter-spacing: 2.4px;
      color: #ffffff;
    }

    .bracket-container {
      @include flexbox((
        display: flex,
        flex: 1
      ));
      width: 100%;
      padding-top: 8%;
      padding-bottom: 2%;

      .bracket {
        background: asset-url('mouser/bracket@3x.png') center center no-repeat;
        background-size: contain;
        width: 100%;
        padding-top: 29.642%;
        align-self: flex-end;
      }

      .trophy {
        background: asset-url('mouser/trophy@3x.png') center center no-repeat;
        background-size: contain;
        position: absolute;
        width: 100%;
        left: -4%;
        padding-top: 41.78%;
        margin-top: -2.4%;
      }
    }
  }
  /** Hero::Media Queries */
  @media screen and (min-width: 768px) {
    #hero > .title { font-size: 32px; }
    #hero > .brief { font-size: 22px; }
  }
  @media screen and (min-width: 1024px) {
    #hero > .title { font-size: 52px; }
    #hero > .brief { font-size: 32px; }
  }

  /** Vendors / Splash Page */
  #vendors {
    @include flexbox((
      display: flex,
      flex-direction: column,
      align-items: center
    ));
    background-color: $pale-grey;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 5%;

    .title {
      font-family: Lato-Black;
      font-size: 18px;
      letter-spacing: 7.4px;
      color: $gunmetal;
    }

    .description-columns {
      @include flexbox((
        display: flex,
        flex-direction: row
      ));
      width: 100%;
      padding: 3% 5%;

      .description {
        @include flexbox((
          display: flex,
          flex-direction: row,
          flex: 1
        ));

        .bullet {
          @include flexbox((
            flex: 1
          ));
          font-size: 32px;
          line-height: 0.35;
          text-align: center;
        }

        .brief {
          @include flexbox((
            flex: 10
          ));
          font-family: Lato-Light;
          font-size: 12px;
          letter-spacing: 1.8px;
          color: $gunmetal;
        }
      }
    } // end description-columns

    .boards {
      @include flexbox((
        display: flex,
        flex-direction: row,
        flex-wrap: wrap,
        justify-content: center
      ));
      position: relative;
      padding-top: 5%;
      padding-right: 5%;
      padding-left: 5%;

      .board-container {
        @include flexbox((
          display: flex,
          flex-direction: column,
          align-items: center,
          flex-basis: 100%
        ));

        height: 415px;
        margin-top: 5%;

        .backdrop-container {
          display: none;
        }


        &:hover {
          .backdrop-container {
            @include flexbox((
              display: flex,
              justify-content: center
            ));
            position: relative;
            width: 100%;

            .backdrop {
              position: absolute;
              z-index: 5;
              height: 380px;
              width: 70%;
              background-color: $pale-grey;
              margin-top: -15%;
              margin-left: -35%;
              box-shadow: 0 5px 24px 0 rgba(40, 117, 171, 0.1);
              border-radius: 6px;

              .logo {
                background: asset-url('mouser/vendor-logo.png') center center no-repeat;
                background-size: contain;
                width: 35px;
                height: 35px;
                display: block;
                margin-top: 5%;
                margin-left: 5%;
              }
            }
          }
        }

        .board-img-container {
          @include flexbox((
            display: flex,
            justify-content: center
          ));
          max-width: 325px;
          height: 275px;
          z-index: 6;
        }

        .name {
          font-family: Lato-Regular;
          font-size: 18px;
          letter-spacing: 4px;
          color: $brownish-grey;
          text-align: center;
          padding-top: 5%;
          text-transform: uppercase;
          z-index: 6;
        }
      }
    }  // end boards

    .timeline {
      @include flexbox((
        display: flex,
        flex-wrap: wrap
      ));
      @include background-image(linear-gradient(to top, rgba(227, 236, 241, 1), rgba(236, 242, 245, 1)));
      background-color: $pale-grey;

      .description {
        @include flexbox(( flex-basis: 100% ));
        padding-left: 8%;
        padding-top: 6%;
        padding-right: 6%;
        padding-bottom: 6%;

        h3 {
          font-family: Lato-Black;
          font-size: 24px;
          letter-spacing: 7.4px;
          color: $gunmetal;
          margin-top: 0;
          margin-bottom: 8%;
          text-align: center;
        }

        p {
          font-family: Lato-Light;
          font-size: 12px;
          letter-spacing: 1.8px;
          color: $gunmetal;
        }
      }

      .dates {
        @include flexbox((
          flex-basis: 100%
        ));
        padding: 6% 8%;
        border-image: linear-gradient(to bottom, rgba(151, 151, 151, 0.3), rgba(0, 0, 0, 0)) 1 100%;
        border-left: 1px solid black; // Color doesn't matter here, its set in the gradient.  This is for the 1px.
        border-right: 0px solid transparent; // Hides the right border gradient.

        .date-container {
          @include flexbox((
            display: flex,
            flex-direction: column
          ));

          .date-wrapper {
            @include flexbox((
              display: flex,
              flex-direction: row
            ));

            .date {
              @include flexbox((
                display: flex,
                justify-content: center,
                flex-basis: 20%,
                align-self: center
              ));
              font-family: Lato-Bold;
              font-size: 10px;
              letter-spacing: 1.8px;
              color: $gunmetal;
            }

            .circle-container {
              @include flexbox((
                display: flex,
                justify-content: center,
                flex-basis: 16%,
                align-self: center
              ));

              .circle {
                background-color: #2badf4;
                border-radius: 100px;
                width: 8px;
                height: 8px;
                &.doughnut {
                  background-color: transparent;
                  border: 2px solid #2badf4;
                }
              }
            }

            .event-container {
              .event{
                font-family: Lato-Regular;
                font-size: 12px;
                letter-spacing: 0.5px;
                color: $gunmetal;
              }
              .sub-action {
                position: absolute;
                font-family: Lato-Regular;
                font-size: 10px;
                letter-spacing: 1.7px;
                color: $warm-grey;
                text-transform: uppercase;
              }
            }
          }

          .line-wrapper {
            @include flexbox((
              display: flex
            ));
            height: 40px;

            .line {
              @include flexbox((
                flex-basis: 28%
              ));
              border-right: 1px solid #bababa;
            }
          }

        }
      }
    } // end timeline
  }
  /** Vendors::Media Queries */
  @media screen and (min-width: 768px) {
    #vendors > .title { font-size: 25px; }
    #vendors > .description-columns > .description > .bullet { font-size: 52px; }
    #vendors > .description-columns > .description > .brief { font-size: 18px; }
    #vendors > .boards > .board-container {
      @include flexbox(( flex-basis: 50% ));

      &:hover {
        .backdrop-container > .backdrop { height: 415px; }
      }
    }
    #vendors > .timeline .description {
      h3 {
        text-align: left;
        font-size: 32px;
      }

      p { font-size: 24px; }
    }
    #vendors > .timeline .dates {
      .date-container > .date-wrapper {
        .date { font-size: 20px; }
        .circle-container > .circle { width: 14px; height: 14px; }
        .event-container {
          .event { font-size: 24px; }
          .sub-action { font-size: 15px; }
        }
      }
      .date-container > .line-wrapper {
        height: 73px;
      }
    }
  }
  @media screen and (min-width: 1024px) {
    #vendors > .title { font-size: 32px; }
    #vendors > .description-columns > .description > .bullet { font-size: 72px; }
    #vendors > .description-columns > .description > .brief { font-size: 24px; }
    #vendors > .boards > .board-container {
      @include flexbox(( flex-basis: 25% ));
    }
    #vendors > .timeline .description { @include flexbox(( flex-basis: 40% )); }
    #vendors > .timeline .dates { @include flexbox(( flex-basis: 60% )); }
  }

  /** Footer */
  #footer {
    @include background-image(linear-gradient(to right, $grape, $purpley-grey));

    .stars {
      background: asset-url('mouser/stars@3x.png') center center no-repeat;
      background-size: contain;
      position: absolute;
      left: 0;
      width: 100%;
      padding-top: 25%;
      margin-top: 5%;
      z-index: 5;
    }

    .content {
      @include flexbox((
        display: flex,
        flex-direction: column,
        align-items: center
      ));
      padding: 10% 15%;

      .brief {
        font-family: Lato-Light;
        font-size: 14px;
        letter-spacing: 1.7px;
        color: white;
        z-index: 10;
        text-align: center;
      }

      .signup-form-container {
        @include flexbox((
          display: flex,
          flex-direction: column,
          justify-content: center
        ));
        width: 100%;
        padding-top: 5%;
        padding-bottom: 3%;
        z-index: 10;
        max-width: 400px;

        .input-wrapper {
          @include flexbox((
            display: flex,
            align-items: center,
            flex: 1
          ));
          background-color: white;
          border-radius: 4px;
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
          height: 32px;
          margin-bottom: 2%;

          .icon {
            color: $gunmetal;
            padding: 0 6%;
          }

          input {
            height: 100%;
            border: none;
            border-radius: 4px;
            color: $gunmetal;
            font-family: Lato-Regular;
            font-size: 12px;
            letter-spacing: 1.1px;

            &:focus {
              outline: none;
            }
          }
        }

        .signup-button {
          @include flexbox(( flex: 1 ));
          border-radius: 4px;
          background-image: linear-gradient(to top, #0991e0, #55b4ea);
          border: none;
          height: 32px;

          &:hover {
            background-image: linear-gradient(to top, #1F82D4, #1F82D4);
          }
        }
      }

      .login-container {
        z-index: 10;
        font-family: Lato-Regular;
        font-size: 12px;
        letter-spacing: 1.1px;
        width: 100%;
        text-align: center;

        a {
          color: #2DA0FF;
          padding-left: 1%;

          &:hover {
            color: #1F82D4;
          }
          &:focus {
            text-decoration: none;
          }
        }
      }
    }
  } // end footer

  /** Footer::Media Queries */
  @media screen and (min-width: 1024px) {
    #footer > .content {
      .brief {
        font-size: 27px;
        text-align: left;
      }

      .signup-form-container {
        @include flexbox(( flex-direction: row ));
        max-width: 100%;

        .input-wrapper {
          height: 42px;
          margin-right: 1%;
          margin-bottom: 0;

          input { font-size: 18px; }
        }

        .signup-button {
          height: 42px;
          margin-right: 1%;
        }
      }

      .login-container {
        font-size: 18px;
      }
    }
  }
}