#mousercontest-landing {

  text-align: center;

  #hero {
    height: 40vh;
  }
  #bracket {
    background-color: green;
    height: 40vh;
  }
  #vendors {
    background-color: blue;
    height: 40vh;
  }

}