.part-box {
  margin-bottom: 50px;
  h3 {
    margin: 0 0 20px;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    a {
      color: #4d4d4d;
    }
  }
  ul {
    font-size: 0.85em;
    margin-left: -8px;
    li {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  .image {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .part-box {
    .image, .action-buttons {
      margin-bottom: 20px;
    }
  }
}

.part-thumb {
  margin-bottom: 20px;
  text-align: center;
  h3 {
    margin: 20px 0 0;
    font-size: 1em;
    font-weight: bold;
    a {
      color: #4d4d4d;
    }
  }
  .img-container {
    height: 200px;
    display: block;
    position: relative;
    &:hover {
      .description {
        @include opacity(1);
      }
    }
  }
  img {
    max-height: 100%;
  }
  .description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: left;
    background: #000;
    background: rgba(0,0,0,0.8);
    color: #fff;
    padding: 12px 15px;
    font-size: 87.5%;
    @include opacity(0);
    @include transition(opacity 200ms linear);
  }
}