#pricing {
  section {
    padding: 150px 0;
  }
  .title {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    h2 {
      margin-top: 0;
      font-size: 3em;
      font-weight: 200;
    }
    p {
      width: 600px;
      margin: 0 auto;
    }
  }
  .section-one {
    background: #208edb;
    color: #fff;
  }

  .section-two {
    padding: 200px 0;
    color: #fff;
    @include background-cover;
    background-image: asset-url('manhattan.jpg');
    .split-left {
      float: left;
      width: 50%;
      text-align: right;
      padding-right: 40px;
    }
    .split-right {
      border-left: 1px solid rgba(255,255,255,0.5);
      padding-left: 30px;
      float: left;
      width: 50%;
      text-align: left;
    }
    p {
      margin: 0 0 10px;
      width: auto;
    }
  }

  .section-pricing {
    color: #aaaaac;
    background: #fff;
    h2 {
      color: #000000;
    }
  }
  .plans {
    margin-top: 100px;
  }
  .plan-top {
    background: #eeedf2;
    border-bottom: 1px solid #fff;
    padding: 30px 20px 20px;
    h3 {
      margin-top: 0;
      color: #000;
      font-size: 1.2em;
      font-weight: 500;
    }
    p {
      color: #aaaaac;
      margin: 0;
    }
  }
  .plan-middle {
    color: #000;
    background: #eeedf2;
    padding: 15px 20px;
    strong {
      font-weight: 600;
    }
  }
  .plan-bottom {
    font-weight: bold;
    text-align: center;
    color: #fff;
  }
  .plan-price {
    background: #000;
    text-transform: uppercase;
    width: 33.333333333%;
    float: left;
    padding: 15px 0;
    .monthly {
      vertical-align: super;
      font-size: 10px;
    }
  }
  .plan-more {
    background: #208edb;
    width: 66.666666667%;
    float: left;
    padding: 15px 0;
  }


  .section-packages {
    padding: 100px 0;
    background: #333;
    color: #fff;
    border-bottom: 1px solid #666;
  }
  .packages {
    margin-top: 100px;
  }
  .package-top {
    background: #fff;
    border-bottom: 1px solid #fff;
    padding: 30px 20px 40px;
    h3 {
      margin-top: 0;
      color: #000;
      font-size: 1.2em;
      font-weight: 500;
    }
    p {
      color: #aaaaac;
      margin: 0;
    }
  }
  .package-bottom {
    font-weight: bold;
    text-align: center;
    color: #fff;
  }
  .package-price {
    text-transform: uppercase;
    width: 33.333333333%;
    float: left;
    padding: 15px 0;
  }
  .package-more {
    width: 66.666666667%;
    float: left;
    padding: 15px 0;
  }
  .package-one {
    .package-price {
      background: #0f9b76;
    }
    .package-more {
      background: #20daa8;
    }
  }
  .package-two {
    .package-price {
      background: #a73f1a;
    }
    .package-more {
      background: #e66639;
    }
  }
  .package-three {
    .package-price {
      background: #4a149e;
    }
    .package-more {
      background: #7325eb;
    }
  }

}