.sharing-actions {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 160px;
    font-size: 1em;
    li {
      margin-bottom: 5px;
      padding: 0;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: #777;
        font-weight: bold;
        position: relative;
        display: block;
        &:hover {
          color: #555;
        }
        i {

        }
        span {
          position: absolute;
          left: 25px;
        }
      }
    }
  }
}

.member-thumb {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
  img.media-object {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  &.posted-by {
    img {
    width: 30px;
    height: 30px;
    }
  }
}
.member-thumb-body {
  h5 {
    font-weight: bold;
    font-size: 1em;
    margin: 0 0 3px;
    a {
      color: #555;
    }
  }
  .member-actions {
    margin-top: 10px;
  }
}

h2.section-title {
  font-weight: bold;
  text-transform: uppercase;
}

.section-inner {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  h4 {
    font-size: 0.8em;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding-bottom: 3px;
    color: #999;
    text-transform: uppercase;
  }
}