.project.preview {
  margin: 0 0 20px;
  h4 {
    margin: 0 0 10px;
  }
  p, br {
    margin: 0 0 10px;
  }
}

.project {
  .span6 {
    .image-thumbs {
      img {
        width: 130px;
      }
    }
    .headline-image {
      height: 236px;
      img {
        width: 420px;
      }
    }
  }
  .image-thumbs {
    margin: 10px 0 0;
  }
  .headline-image {
    margin: 0 0 10px;
    position: relative;
    height: 326px;
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}