.project.preview {
  margin: 0 0 20px;
  h4 {
    margin: 0 0 10px;
  }
  p, br {
    margin: 0 0 10px;
  }
}

.project {
  .span6 {
    .image-thumbs {
      img {
        width: 130px;
      }
    }
    .headline-image {
      height: 236px;
      img {
        width: 420px;
      }
    }
  }
  .image-thumbs {
    margin: 10px 0 0;
  }
  .headline-image {
    margin: 0 0 10px;
    position: relative;
    height: 326px;
    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.locked-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  @include opacity(50);
  @include border-radius(4px);
  z-index: 2;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
  margin-top: -10px;
  .inner-overlay {
    margin-top: 45px;
  }
}

#stages {
  background: image-url('line.png') center top repeat-y;
  margin: 50px 0;
  .stage {
    margin-bottom: 50px;
  }
}

.project-thumb {
  h3 {
    @include font-size(16);
  }
}