// .project {
//   background: #fff;
// }

.project-award {
  .award-label {
    display: none;
    font-weight: bold;
  }
  i {
    color: #FFD700;
  }
}

.project-card {
  .card-image-overlay {
    .award-label {
      display: inline;
    }
  }
  .project-award {
    font-size: 0.9em;
  }
}

.project-group {
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.projects {
  .pagination {
    margin: 10px 0;
  }
  h1 {
    font-size: 2em;
    margin-bottom: 0;
    & > .btn-group {
      padding-top: 9px;
    }
  }
  hr {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}



//
// submit idea thumb

.submit-idea {
  .project-thumb {
    .inner-thumb {
      padding-top: 50px;
      text-align: center;
      h3 {
        margin-bottom: 10px;
      }
    }
    &.project-thumb-horizontal {
      .inner-thumb {
        padding-top: 28px;
      }
    }
  }
}

#iframe {
  background: #fff;
}

#iframe-header {
  position:fixed;
  width:100%;
  background: #f2f2f2;
  border-bottom: 2px solid #aaa;
  padding: 10px 0;
  h1 {
    font-size: 20px;
    margin: 0;
  }
  img.cover {
    height: 40px;
  }
}


// PROJECT SHOW STYLING

//   EDIT PROJECT
// .edit-project-trigger{
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   width: 250px;
//   z-index: 2;
// }
.edit-project-btn,.save-project-btn{
  padding: 16px 20px 15px;
  font-weight: bold;
  overflow: hidden;
  margin-top: 32px;
}


// PROJECT SIDEBAR
#project-actions {
  // border-bottom: 1px solid #ddd;
  padding: 20px 14px;
}

.checklist {
  li {
    font-size: 0.85em;
    margin-bottom: 5px;
    &.list-title {
      margin-left: -20px;
      list-style: none;
      text-transform: uppercase;
      font-weight: bold;
    }
    &.todo-complete {
      text-decoration: line-through;
      color: #aaa;
    }
    .item-title {
      text-decoration: underline;
    }
    .item-description {
      .hint {
        font-style: italic;
      }
    }
  }
}

.buy-btn {
  @include border-radius(3px);
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  &:hover,&:active {
    background: #fff;
    color: #333;
  }
}

.project-collection {
  margin-bottom: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
  &:last-of-type {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

.pe-nav {
  display: inline-block;
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
  li {
    display: block;
    float: left;
    a {
      display: block;
      padding: 13px 24px;
      background: #fff;
      color: #666;
      font-weight: bold;
      border: 2px solid #ddd;
      border-right-width: 0;
      &:hover, &:focus {
        text-decoration: none;
        background: #fafafa;
      }
      &.active {
        background: #337ab7;
        color: #fff;
      }
    }
    &:first-child a {
      @include border-top-left-radius(4px);
      @include border-bottom-left-radius(4px);
    }
    &:last-child a {
      @include border-top-right-radius(4px);
      @include border-bottom-right-radius(4px);
      border-right-width: 2px;
    }
  }
  & + .pe-nav {
    margin-left: 20px;
  }
}

.pe-container {
  position: relative;
  &.processing {
    .busy-overlay {
      display: block;
    }
  }
  .busy-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    background: #fff;
    background: rgba(255,255,255,0.95);
    i {
      font-size: 40px;
    }
  }
}

.pe-panel {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
}

.pe-header {
  text-align: center;
  margin: 20px 0 40px;
  h2 {
    margin: 0 0 10px;
  }
  .subheading {
    color: #777;
  }
}

.pe-error {
  float: left;
  padding: 10px 0;
  display: none;
  color: #E45454;
  font-size: 0.9em;
}
.pe-save {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 10000;
  left: 0;
  width: 100%;
  background: white;
  border-top: 2px solid #ddd;
  padding: 20px 0;
}

#team {
  .team-request {
    display: block;
    margin-bottom: 10px;
    a {
      @extend .btn-block;
    }
  }
}

#software, #hardware {
  .btn-group {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  table {
    .actions {
      visibility: hidden;
    }
    .fields:hover {
      .actions {
        visibility: visible;
      }
    }
  }
}

.code-widget, .repository, .code-widgets {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
  }
  h5 {
    font-weight: bold;
    margin: 0 0 5px;
  }
  .comment {
    font-size: 0.95em;
    color: #999;
    margin-bottom: 15px;
  }
  .button-content-container {
    display: table;
    width: 100%;
    margin-bottom: 5px;
  }
  .button-content {
    display: table-row;
    h5, .buttons {
      display: table-cell;
      vertical-align: bottom;
    }
    .buttons {
      text-align: right;
    }
  }
}

.table-decorated {
  & > tbody > tr > td {
    padding: 13px 8px;
  }
  .details {
    word-break: break-word;
    h5 {
      margin: 0;
      font-weight: bold;
      font-size: 1em;
      & + p {
        margin-top: 5px;
      }
    }
    p {
      margin-bottom: 0;
      font-size: 0.85em;
      color: #777;
      & + p {
        margin-top: 3px;
      }
      &.comment {
        font-style: italic;
      }
    }
  }
  .actions {
    opacity: 0;
  }
  .fields:hover {
    .actions {
      opacity: 1;
    }
  }
  .sortable-placeholder {
    border: 3px dashed #ddd;
    height: 100px;
  }
  .sortable-helper {
    background: #ddd !important;
    @include opacity(0.5);
    .actions {
      display: none;
    }
  }
}

.admin-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 1001;
  padding: 12px 20px;
  .admin-checklist {
    width: 300px;
    float: right;
    position: absolute;
    right: 10px;
    display: none;
    text-align: left;
  }
}

.project-actions {
  margin-bottom: 5px;
  position: relative;
  .action-item {
    &:first-child {
      padding-right: 2px;
    }
    &:last-child {
      padding-left: 2px;
    }
  }
}

.other-projects {
  background: #fff;
  padding: 60px 0 40px;
  z-index: 1;
  position: relative;
}

.info-header, div.project-type {
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 4px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  font-size: 0.9em;
}

.project-switcher {
  color: #fff;
  background: #ddd;
  height: 200px;
  max-height: 50%;
  width: 40px;
  top: 50%;
  margin-top: -100px;
  position: fixed;
  display: block;
  z-index: 10;
  &:hover, &:active, &:focus {
    background: #ccc;
    color: #fff;
  }
  &.previous {
    left: 0;
    @include border-radius(0 4px 4px 0);
    i {
      left: 10px;
    }
  }
  &.next {
    right: 0;
    @include border-radius(4px 0 0 4px);
    i {
      right: 10px;
    }
  }
  .inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  i {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    font-size: 20px;
  }
}

@media (max-width: 1249px) {
  .project-switcher {
    display: none;
  }
}



.template-chooser-container {
  @include flexbox((
    display: flex
  ));

  /* HTML5 Boilerplate accessible hidden styles */
  [type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px; margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  [type="radio"] + label i {
    display: none;
  }

  /* the checked style using the :checked pseudo class */
  [type="radio"]:checked + label i {
    display: inline;
  }

  [type="radio"]:checked + label {
    background: #fcfcfc;
  }

  label {
    @include flexbox((
      flex-basis: 50%
    ));
    cursor: pointer;
    display: block;
    border: 2px solid #ddd;
    text-align: center;
    padding: 40px;
    background: #fff;
    color: #444;
    font-weight: normal;
    &:hover {
      text-decoration: none;
      background: #fcfcfc;
    }
    &:first-child {
      @include border-radius(4px 0 0 4px);
    }
    &:last-child {
      @include border-radius(0 4px 4px 0);
      border-left: 0;
    }
  }

  .option-title {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  .option-description {
    display: block;
  }
}

#project-review {
  height: calc(100vh - 60px);  // full window height - header bar
  position: relative;
  .project-frame {
    width: 100%;
    height: 100%;
    max-width: 1200px;
  }
  .review-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 400px;
    max-width: 90%;
    border-left: 2px solid #ddd;
    background: #fff;
    overflow: scroll;
    .frame-nav {
      padding: 10px 20px;
      font-size: 0.8em;
    }
  }
  .expand-review-btn {
    display: none;
    position: absolute;
    top: 10px;
    right: 0;
    border: 1px solid #ddd;
    border-right: 0;
    background: #fff;
    padding: 8px 11px 8px 15px;
  }
  &.minimized {
    .review-frame {
      display: none;
    }
    .expand-review-btn {
      display: block;
    }
    .project-frame {
      max-width: none;
    }
  }
}

.content-type-indicator {
  form {
    a {
      margin-left: 3px;
    }
  }
  a {
    color: #444;
  }
}
.content-type-present {
  & > .alert-msg {
    display: none;
  }
}
.content-type-missing {
  & > form {
    display: none;
  }
}

#about-project {
  .read-more {
    display: none;
  }
}

@media (max-width: 992px) {
  #about-project {
    &.collapsed {
      max-height: 400px;
      overflow-y: hidden;
      position: relative;
      .read-more {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 1;
        background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(32, 142, 219, 0.7) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(32, 142, 219, 0.7) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(32, 142, 219, 0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ccc',GradientType=0 ); /* IE6-9 */
        padding: 20px 0;
        a {
          display: inline-block;
        }
      }
    }
  }
}

.project-card {
  @include border-radius(4px);
  margin-bottom: 20px;
  overflow: hidden;
  .card-image {
    position: relative;
    padding-top: 75%;
    height: 0;
    background: #fff;
    img.cover-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      bottom: 0;
    }
    &:hover {
      .card-image-overlay {
        @include opacity(1);
      }
    }
  }
  .card-image-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 7px 9px 15%;
    color: #fff;
    background: -moz-linear-gradient(top, rgba(0,0,0,.7) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,.7) 0%,rrgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,.7) 0%, rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ccc',GradientType=0 ); /* IE6-9 */
    .project-stats {
      color: #fff;
      font-size: 0.6em;
      .stat-figure {
        font-size: 125%;
      }
    }
    .project-difficulty {
      font-size: 0.8em;
      font-weight: bold;
      margin-right: 8px;
    }
    .project-content-type {
      color: #eee;
      font-size: 0.8em;
      margin: 3px 8px 0 0;
    }
    .award-container {
      margin-top: 1px;
    }
  }
  .card-image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #fff;
    background: rgba(255,255,255,.97);
    padding: 10px 20px;
    font-size: 0.9em;
    @include opacity(0);
    transition: opacity 200ms ease;
    pointer-events: none;
    overflow: hidden;
    .project-content-type {
      font-weight: bold;
      font-size: 0.9em;
    }
  }
  .card-text {
    background: #fff;
    padding: 13px 20px 10px;
    color: #666;
    h4 {
      font-size: 1em;
      font-weight: bold;
      margin: 0 0 5px;
      a {
        color: #666;
      }
    }
    p {
      font-size: 0.9em;
      margin-bottom: 0;
    }
    .user-name {
      font-weight: normal;
    }
    h4, p {
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
.white-bg {
  .project-card {
    .card-image, .card-text {
      background: #fafafa;
    }
  }
}

.tag-link {
  font-weight: bold;
  color: #888;
  font-size: 0.8em;
  a {
    color: #888;
  }
}
.project-page-single-column {
  &#content.project-page {
    padding-bottom: 0;
  }
  .project-edit-block {
    margin-bottom: 40px;
    .box {
      overflow: visible;
    }
    .box-content {
      padding: 30px;
    }
    .section-thumbs {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .project-title {
    text-align: center;
    margin-bottom: 40px;
    h1 {
      font-size: 2em;
      font-weight: bold;
      color: #595959;
    }
  }
  .project-banner {
    margin-bottom: 0;
  }
  .project-credits {
    font-size: 0.9em;
  }
  .tags {
    margin-bottom: -10px;
  }
  .project-stats-inline {
    display: inline;
  }
  .respecting-faces {
    display: inline;
    margin-left: 6px;
    img {
      width: 30px;
      height: 30px;
      margin-left: -12px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  a.project-difficulty {
    font-weight: bold;
    font-size: 0.96em;
  }
  .divider {
    padding:0 10px;
  }
  .stat-figure {
    font-size: 100%;
  }
  h2.section-title {
    border-bottom: 1px solid #c3C3C3;
    margin-bottom: 15px;
  }
  .section-title .title {
    padding: 0 0 5px;
    color: #777;
  }
  .section-container:first-of-type .section-title .title {
    padding-top: 0;
  }
  .section-container {
    padding-top: 20px;
  }
  .section-container + .section-container {
    margin-top: 40px;
  }
  .section-content {
    padding: 10px 0 0;
  }
  .medium-editor {
    h3 {
      color: #555;
      margin-top: 20px;
      padding-top: 10px;
    }
    p {
      margin-bottom: 20px;
    }
    .embed-frame {
      margin: 20px 0;
      figure {
        img {
          max-width: 100%;
          max-height: 90vh;
        }
        figcaption {
          font-style: normal;
        }
      }
    }
    :last-child {
      margin-bottom: 0;
    }
  }
  .slick-slider {
    .slick-prev-arr,
    .slick-next-arr {
      position: absolute;
      display: block;
      height: 50px;
      width: 50px;
      line-height: 0px;
      font-size: 0px;
      cursor: pointer;
      background: transparent;
      color: transparent;
      top: 50%;
      margin-top: -30px;
      padding: 0;
      border: none;
      outline: none;
    }
    .slick-prev-arr {
      left: -50px;
    }
    .slick-next-arr {
      right: -50px;
    }
    .slick-prev-arr:before,
    .slick-next-arr:before {
      line-height: 1;
      color: #ccc;
      font-size: 50px;
      opacity: 0.75;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .slick-dots {
      position: static;
    }
  }
  .section-teaser {
    padding: 0 0 60px;
  }
  .section-description {
    background: #fff;
    padding: 60px 0 60px;
  }
  .section-other-projects {
    background: #f2f2f2;
    padding: 60px 0 60px;
  }
  #scroll-nav {
    .nav {
      border-left: 2px solid #eee;
    }
    .nav > li > a {
      padding: 5px 11px;
    }
    a {
      font-size: 0.9em;
    }
    li.small-toc a {
      padding: 5px 15px 5px 25px;
      font-size: 0.8em;
    }
  }
  #embed-popup {
    .embed-code {
      border-color: #888;
      @include border-radius(4px);
      padding: 6px 13px;
      background: #fafafa;
      height: 65px;
    }
  }
}

.list-with-dividers {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline;
    &:not(:last-child)::after {
      content: '-';
      color: #777;
      padding: 0 9px 0 10px;
    }
  }
  &.project-credits {
    li {
      &:not(:last-child)::after {
        padding: 0 4px 0 5px;
      }
    }
  }
}

#things {
  .table:last-child {
    margin-bottom: 0;
  }
}

.primary-action-container {
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .project-page-single-column {
    .project-banner {
      margin-bottom: 40px;
    }
  }
}
@media (max-width: 768px) {
  .project-page-single-column {
    .project-banner {
      height: 300px;
    }
    .container-mobile {
      margin-top: 0;
    }
    .project-title {
      margin-bottom: 20px;
      padding: 0 15px;
    }
    .section-teaser {
      padding-bottom: 20px;
    }
    .section-description {
      padding: 60px 0 40px;
    }
    .section-container + .section-container {
      margin-top: 40px;
    }
  }
}

.info-table {
  font-size: 0.9em;
  display: table;
  .info-row {
    display: table-row;
    &:last-of-type {
      .info-label, .info {
        padding-bottom: 0;
      }
    }
  }
  .info-label, .info {
    display: table-cell;
    padding-bottom: 6px;
  }
  .info-label {
    color: #888;
    padding-right: 30px;
    white-space: nowrap;
  }
  .info {
    color: #555;
  }
}