.project-preview {
  margin: 0 0 20px;
  h4 {
    margin: 0 0 10px;
  }
  p, br {
    margin: 0 0 10px;
  }
}

.project {
  .image-thumbs {
    margin: 10px 0 0;
  }
  .headline-image {
    margin: 0 0 10px;
  }
}