// .project {
//   background: #fff;
// }

.project-award {
  color: #FFD700;
  margin: 0 5px;
}

.project-award {
  font-size: 15px;
  background: #3d8bc1;
  padding: 5px 10px;
  margin: 0;
  color: #fff;
  box-shadow: 1px 1px 1px #18364C;
  text-shadow: 0 0 2px #18364C;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline;
  i {
    color: #FFD700;
  }
}

.project-thumb {
  .award-container {
    // position: absolute;
    // top: 10px;
    // left: 0;
    max-width: 100%;
    margin-bottom: 10px;
    display: inline-block;
    &:empty {
      display: none;
    }
  }
  &:hover {
    .project-feature {
      display: block;
    }
  }
  .project-featured {
    position: absolute;
    left: 10px;
    background: #428bca;
    padding: 1px 7px;
    color: #fff;
    font-size: 0.85em;
  }
  .project-feature {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
    z-index: 5;
  }
}

.project-group {
  background: #fff;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.projects {
  .pagination {
    margin: 10px 0;
  }
  h1 {
    font-size: 2em;
    margin-bottom: 0;
    & > .btn-group {
      padding-top: 9px;
    }
  }
  hr {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}



//
// submit idea thumb

.submit-idea {
  .project-thumb {
    .inner-thumb {
      padding-top: 50px;
      text-align: center;
      h3 {
        margin-bottom: 10px;
      }
    }
    &.project-thumb-horizontal {
      .inner-thumb {
        padding-top: 28px;
      }
    }
  }
}

#iframe {
  background: #fff;
}

#iframe-header {
  position:fixed;
  width:100%;
  background: #f2f2f2;
  border-bottom: 2px solid #aaa;
  padding: 10px 0;
  h1 {
    font-size: 20px;
    margin: 0;
  }
  img.cover {
    height: 40px;
  }
}


// PROJECT SHOW STYLING

//   EDIT PROJECT
// .edit-project-trigger{
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   width: 250px;
//   z-index: 2;
// }
.edit-project-btn,.save-project-btn{
  padding: 16px 20px 15px;
  font-weight: bold;
  overflow: hidden;
  margin-top: 32px;
}


// PROJECT SIDEBAR
#project-actions {
  // border-bottom: 1px solid #ddd;
  padding: 20px 14px;
}

.checklist {
  li {
    font-size: 0.85em;
    margin-bottom: 5px;
    &.list-title {
      margin-left: -20px;
      list-style: none;
      text-transform: uppercase;
      font-weight: bold;
    }
    &.todo-complete {
      text-decoration: line-through;
      color: #aaa;
    }
    .item-title {
      text-decoration: underline;
    }
    .item-description {
      .hint {
        font-style: italic;
      }
    }
  }
}

.buy-btn {
  @include border-radius(3px);
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  &:hover,&:active {
    background: #fff;
    color: #333;
  }
}

.project-collection {
  margin-bottom: 50px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
  &:last-of-type {
    margin: 0;
    padding: 0;
    border: 0;
  }
}

.pe-nav {
  display: inline-block;
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
  li {
    display: block;
    float: left;
    a {
      display: block;
      padding: 13px 24px;
      background: #fff;
      color: #666;
      font-weight: bold;
      border: 2px solid #ddd;
      border-right-width: 0;
      &:hover, &:focus {
        text-decoration: none;
        background: #fafafa;
      }
      &.active {
        background: #337ab7;
        color: #fff;
      }
    }
    &:first-child a {
      @include border-top-left-radius(4px);
      @include border-bottom-left-radius(4px);
    }
    &:last-child a {
      @include border-top-right-radius(4px);
      @include border-bottom-right-radius(4px);
      border-right-width: 2px;
    }
  }
  & + .pe-nav {
    margin-left: 20px;
  }
}

.pe-container {
  position: relative;
  overflow: hidden;
  &.processing {
    .busy-overlay {
      display: block;
    }
  }
  .busy-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    background: #fff;
    background: rgba(255,255,255,0.95);
    i {
      font-size: 40px;
    }
  }
}

.pe-panel {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
}

.pe-header {
  text-align: center;
  margin: 20px 0 40px;
  h2 {
    margin: 0 0 10px;
  }
  .subheading {
    color: #777;
  }
}

.pe-error {
  float: left;
  padding: 10px 0;
  display: none;
  color: #E45454;
  font-size: 0.9em;
}
.pe-save {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 10000;
  left: 0;
  width: 100%;
  background: white;
  border-top: 2px solid #ddd;
  padding: 20px 0;
}

#team {
  .team-request {
    display: block;
    margin-bottom: 10px;
    a {
      @extend .btn-block;
    }
  }
}

#software, #hardware {
  .btn-group {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  table {
    .actions {
      visibility: hidden;
    }
    .fields:hover {
      .actions {
        visibility: visible;
      }
    }
  }
}

.code-widget, .repository {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 0;
  }
  h5 {
    font-weight: bold;
    margin: 0 0 5px;
  }
  .comment {
    font-size: 0.95em;
    color: #999;
    margin-bottom: 15px;
  }
  .button-content-container {
    display: table;
    width: 100%;
    margin-bottom: 5px;
  }
  .button-content {
    display: table-row;
    h5, .buttons {
      display: table-cell;
      vertical-align: bottom;
    }
    .buttons {
      text-align: right;
    }
  }
}

.table-decorated {
  & > tbody > tr > td {
    padding: 13px 8px;
  }
  .details {
    word-break: break-word;
    h5 {
      margin: 0;
      font-weight: bold;
      font-size: 1em;
      & + p {
        margin-top: 5px;
      }
    }
    p {
      margin-bottom: 0;
      font-size: 0.85em;
      color: #777;
      & + p {
        margin-top: 3px;
      }
      &.comment {
        font-style: italic;
      }
    }
  }
  .sortable-placeholder {
    border: 3px dashed #ddd;
    height: 100px;
  }
  .sortable-helper {
    background: #ddd !important;
    @include opacity(0.5);
    .actions {
      display: none;
    }
  }
}

.admin-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  z-index: 1001;
  padding: 12px 20px;
  .admin-checklist {
    width: 300px;
    float: right;
    position: absolute;
    right: 10px;
    display: none;
    text-align: left;
  }
}

.project-actions {
  margin-bottom: 5px;
  position: relative;
  .action-item {
    &:first-child {
      padding-right: 2px;
    }
    &:last-child {
      padding-left: 2px;
    }
  }
}

.other-projects {
  background: #fff;
  padding: 60px 0 40px;
}

.project-type {
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 4px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  font-size: 0.9em;
}

.project-switcher {
  color: #fff;
  background: #ddd;
  height: 200px;
  max-height: 50%;
  width: 40px;
  top: 50%;
  margin-top: -100px;
  position: fixed;
  display: block;
  &:hover, &:active, &:focus {
    background: #ccc;
    color: #fff;
  }
  &.previous {
    left: 0;
    @include border-radius(0 4px 4px 0);
    i {
      left: 10px;
    }
  }
  &.next {
    right: 0;
    @include border-radius(4px 0 0 4px);
    i {
      right: 10px;
    }
  }
  .inner {
    position: relative;
    width: 100%;
    height: 100%;
  }
  i {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    font-size: 20px;
  }
}

@media (max-width: 1249px) {
  .project-switcher {
    display: none;
  }
}