#quotes {
  h1 {
    text-align: center;
    margin: 30px 0 20px;
  }

  .top {
    margin-top: 0;
  }

  .bottom {
    margin-bottom: 0;
  }

  p {
    text-align: center;
  }

  .center-container {
    padding: 6% 8%;
    background: #fafafa;
    border: 1px solid #e2e2e2;
  }

  form {
    input, textarea {
      width: 95%;
      padding: 2.5%;
    }
    label, input, button, select, textarea {
      @include font-size(16);
    }
    .help-block {
      @extend .muted;
    }
    .control-group.file {
      display: inline-block;
    }
    input[type='file'] {
      padding: 0;
      margin: 5px 0;
    }
    .field-group {
      margin-bottom: 20px;
    }
    .btn-large {
      padding: 16px 27px;
      font-weight: bold;
    }
  }
}