
//  GLOBAL

.show-on-desktop {
  display: none !important;
}

@media only screen and (max-width: 992px) {
  .navbar-nav {
    float: none;
    border-bottom: 1px solid #ddd;
  }
  .navbar-form {
    width: auto;
    margin-right: 100px;
    float: none !important;
  }
  .btn-signup {
    top: 0;
    right: 0;
    position: absolute;
  }
  #signup-block {
    top: 57px;
  }

  footer {
    ul.list-inline > li {
      padding-left: 17px;
    }
  }
  .footer-nav > ul {
    float: none !important;
    text-align: center;

    &:first-child {
      margin-bottom: 10px;

      > li {
        padding-left: 7px;
        padding-right: 7px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #content.project-page {
    .carousel-control {
      display: none;
    }
    .content-container {
      padding: 10px 15px;
    }
  }
}

@media only screen and (max-width: 767px) {
  #about #teaser .slide {
    padding-top: 100px;
  }
  .mobile-breakpoint {
    display: block !important;
    margin-bottom: 5px !important;
  }
  #navbar {
    border-color: #dddddd;
    .navbar-nav {
      border-bottom: 0;
      > li > ul {
        position: static;
      }
    }
  }
  .navbar-form {
    margin-left: 10px;
    width: 90%;
  }
  .text-center-mobile, .text-center-xs {
    text-align: center !important;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .text-center-sm {
    text-align: center !important;
  }
}

@media only screen and (max-width: 899px) {
  #mobile-bottom-bar {
    display: block;
  }
  #platform-page {
    #sidebar-container {
      display: block;
      position: static;
      width: auto;
    }
  }
  // Globals
  .slick-prev, .slick-next, .slick-prev-arr, .slick-next-arr {
    display: none !important;
  }
}

@media (min-width: 1300px) {
  #nav-non-logo{
    #nav-actions .nav-link, #nav-actions .nav-link:focus {
      min-width: 130px;
    }
  }
}

@media (max-width: 1200px) {
  #left-nav {
    display: none;
  }
}

@media only screen and (max-width: 1320px) {
  #medium-editor .embed-frame .figure .embed-figcaption {
    &:before {
      content: none;
    }
    border-top: 1px solid #e2e2e2;
    padding-top: 6px;
    position: static;
    margin: 5px 0 10px;
    text-align: center;
    width: auto;
  }
  #medium-editor .embed-frame .figure.image_widget .embed-figcaption {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 900px) {
  #sidebar-container{
    display: block;
  }
  #content-with-sidebar{
    padding-left: 250px;
  }
  .medium-status-bar.affixed {
    left: 249px;
    width: calc(100% - 249px);
    width: -webkit-calc(100% - 249px);
    width: -moz-calc(100% - 249px);
  }
}

@media only screen and (min-width: 768px) {
  .pull-left-desktop {
    float: left !important;
  }
  .pull-right-desktop {
    float: right !important;
  }
  .navbar-header{
    float: none;
  }
}
@media only screen and (min-width: 1000px) {
  // GLOBAL

  .show-on-desktop {
    display: block !important;
  }
  .hide-on-desktop{
    display: none !important;
  }

  // NAVIGATION

  .navbar{
    .navbar-header{
      float: left;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .wrapper {
    max-width: 1200px;
  }
  .wrapper700 {
    max-width: 900px;
  }
}
@media (min-width: 768px) {
  .container {
    width: initial;
    min-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: initial;
    min-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}