
//  GLOBAL

.show-on-desktop{
  display: none!important;
}

@media only screen and (max-width: 992px) {
  .right-column {
    .affix {
      position: static !important;
    }
  }
  .navbar-nav {
    float: none;
    border-bottom: 1px solid #ddd;
  }
  .navbar-form {
    width: auto;
    margin-right: 100px;
    float: none !important;
  }
  .btn-signup {
    top: 0;
    right: 0;
    position: absolute;
  }
  #signup-block {
    top: 57px;
  }
  /* Autodesk2 */
  .autodesk2-page {
    .banner {
      .banner-right .block-1 .item .value {
        font-size: 20px;
      }
      .banner-left, .banner-right {
        margin-top: 265px;
      }
    }
  }
  .autodesk2-page .single-tool h4 {
    font-size: 15px;
    a{
      margin-top: 0;
    }
  }

  footer {
    ul.list-inline > li {
      padding-left: 17px;
    }
  }
  .footer-nav > ul {
    float: none !important;
    text-align: center;

    &:first-child {
      margin-bottom: 10px;

      > li {
        padding-left: 7px;
        padding-right: 7px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  /* Autodesk2 */
  .autodesk2-page .banner {
    margin-bottom: 0px;
    .banner-left {
      margin-top: 35%;
    }
    .banner-right {
      margin-top: 20px;
    }
  }
  .single-prompt {
    > img {
      width: 130px;
      float: left !important;
    }
  }
  #content.project-page {
    .carousel-control {
      display: none;
    }
    .content-container {
      padding: 10px 15px;
    }
  }
}

@media only screen and (max-width: 600px) {
  /* Autodesk2 */
  .autodesk2-page {
    .banner {
      .banner-right {
        margin-top: 15px;
      }
      .banner-left h1 {
        font-size: 25px;
      }
    }
    .content .img-block img {
      width: 100%;
      margin-bottom: 1px;
    }
  }
}

@media only screen and (max-width: 767px) {
  #about #teaser .slide {
    padding-top: 100px;
  }
  .mobile-breakpoint {
    display: block !important;
    margin-bottom: 5px !important;
  }
  #navbar {
    border-color: #dddddd;
    .navbar-nav {
      border-bottom: 0;
      > li > ul {
        position: static;
      }
    }
  }
  .navbar-form {
    margin-left: 10px;
    width: 90%;
  //   margin: 0;
  //   border-top: 1px solid #dddddd;
  //   padding-top: 0;
  //   padding-bottom: 0;
  //   margin-right: 0;

  //   .form-group {
  //     margin-bottom: 0;
  //   }

  //   input[type="text"].form-control {
  //     background: transparent;
  //   }
  }
  .subscribe-block {
    text-align: center;
    form.form-inline {
      margin-top: 15px;
      float: none !important;
    }
  }
}

@media only screen and (max-width: 899px) {
  #mobile-bottom-bar {
    display: block;
  }
  #platform-page {
    #sidebar-container {
      display: block;
      position: static;
      width: auto;
    }
  }
  // Globals
  .slick-prev, .slick-next{
    display: none !important;
  }
}

@media only screen and (max-width: 1320px) {
  #medium-editor .embed-frame .figure .embed-figcaption {
    &:before {
      content: none;
    }
    border-top: 1px solid #e2e2e2;
    padding-top: 6px;
    position: static;
    margin: 5px 0 10px;
    text-align: center;
    width: auto;
  }
  #medium-editor .embed-frame .figure.image_widget .embed-figcaption {
    margin-top: 40px;
  }
}

@media only screen and (min-width: 900px) {
  #sidebar-container{
    display: block;
    // &:hover ~ #content-with-sidebar.project{
    //   @include transform(translate3d(189px,0,0));
    // }
  }
  #content-with-sidebar{
    padding-left: 250px;
    // &.project{
    //   left: 60px;
    //   padding-left: 0;
    //   width: 100%;
    //   width: calc(100% - 60px);
    //   width: -webkit-calc(100% - 60px);
    //   width: -moz-calc(100% - 60px);
    //   @include transition(all .5s ease);
    //   border-left: 1px solid #d9d3d3;
    //   -webkit-backface-visibility: hidden;
    //   -webkit-perspective: 1000;
    // }
  }
  .medium-status-bar.affixed {
    left: 249px;
    width: calc(100% - 249px);
    width: -webkit-calc(100% - 249px);
    width: -moz-calc(100% - 249px);
  }
}

@media only screen and (min-width: 769px) {

  // GLOBAL

  .show-on-desktop{
    display: block!important;
  }
  .hide-on-desktop{
    display: none!important;
  }

  // NAVIGATION

  .navbar{
    .navbar-header{
      float: left;
    }
  }

  #nav-non-logo{
    #nav-actions .nav-link, #nav-actions .nav-link:focus{
      min-width: 130px;
    }
  }
}

@media only screen and (min-width: 1600px) {
  .wrapper {
    max-width: 1200px;
  }
  .wrapper700 {
    max-width: 900px;
  }
}