.search-results {
  ul {
    list-style: none;
    margin: 0;
    li {
      margin-bottom: 20px;
      .media-body {
        padding-top: 20px ;
      }
      img {
        margin-right: 5px;
        width: 60px;
        height: 60px;
      }
      h5 {
        display: inline;
      }
      &.last {
        margin-bottom: 0;
      }
    }
  }
}