.avatar {
  &.main-avatar {
    img {
      width: 120px;
      height: 120px;
    }
  }
  &.mini-avatar {
  }
}

.user-list {
  margin: 0;
  li {
    list-style: none;
    display: inline-block;
  }
}

.popover {
  display: none;
}

.user-popover {
  overflow: hidden;
  .image {
    float: left;
    margin-right: 10px;
  }
  .details {
    float: left;
    h4 {
      @include font-size(14);
      margin-bottom: 5px;
    }
    p {
      @include font-size(14);
      max-width: 210px;
    }
  }
}

.team-members {
  list-style: none;
  margin: 0;
}

.user-mini-resume {
}

#heading.user {
  .teaser {
    text-align: center;
    .user-mini-resume, .user-categories {
      width: 800px;
      margin: 0 auto 5px;
    }
    .text-holder {
      height: auto;
      position: relative;
      padding-top: 30px;
      .btn-edit {
        top: 10px;
        right: 15px;
      }
      a {
        color: #fff;
      }
    }
    .user-categories {
      @include font-size(12);
      @extend .text-muted;
      .category {
        margin-left: 5px;
        margin-right: 15px;
        // color: #888;
        // @include font-size(11);
        &.first {
          margin-left: 0;
        }
      }
    }
    ul.websites {
      margin: 5px 0;
      li {
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.user-thumb {
  .thumbnail {
    height: 256px;
  }
}