.avatar {
  display: inline-block;
  @include border-radius(3px);
  &.main-avatar {
    padding: 3px;
    background: #f2f2f2;
    border: 1px solid #e2e2e2;
    margin: 0 20px 20px 0;
  }
  &.mini-avatar {
    @include border-radius(1px);
  }
}

#heading {
  h1 {
    margin: 0 0 7px;
    @include font-size(18);
  }
  p {
    margin: 0 0 1px;
  }
}

.user-list {
  margin: 0;
  li {
    list-style: none;
  }
}

.popover {
  display: none;
}