body.whitelabel {
  .powered-by {
    font-size: 11px;
    padding: 2px 15px;
    img {
      margin-left: 3px;
      height: 11px;
      vertical-align: text-top;
    }
  }
  .navbar {
    .navbar-brand {
      height: 60px;
      margin: 0;
      padding: 10px 20px;
      width: auto;
      border: 0;
      img {
        max-height: 100%;
        max-width: auto;
        width: auto;
      }
      &:hover {
        background: initial;
      }
    }
    .navbar-right {
      .navbar-form {
        padding: 0;
      }
    }
  }
  #subheading {
    font-size: 0.85em;
    margin-bottom: 20px;
    ul {
      margin-left: -8px;
      li {
        padding-left: 8px;
        padding-right: 8px;
        a {
          color: #888;
          text-transform: uppercase;
          font-size: 0.7em;
          &:hover {
            text-decoration: none;
            color: #444;
          }
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}