body.whitelabel {
  .navbar {
    .navbar-brand {
      padding: 8px 20px 10px;
      img {
        max-height: 100%;
      }
    }
  }
  #subheading {
    font-size: 12px;
    margin-bottom: 20px;
    ul {
      li {
        a {
          color: #888;
          text-transform: uppercase;
          font-size: 10px;
          &:hover {
            text-decoration: none;
            color: #444;
          }
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}