body.whitelabel {
  .navbar {
    .navbar-brand {
      height: 60px;
      margin: 0;
      padding: 10px 20px;
      img {
        max-height: 100%;
      }
    }
    .navbar-right {
      .navbar-form {
        padding: 0;
      }
    }
  }
  #subheading {
    font-size: 12px;
    margin-bottom: 20px;
    ul {
      li {
        a {
          color: #888;
          text-transform: uppercase;
          font-size: 10px;
          &:hover {
            text-decoration: none;
            color: #444;
          }
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}