.code-widget {
  position: relative;
  a.more, a.less {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    padding: 4px 7px;
    border: 1px solid #CCC;
    @include font-size(11);
    &:hover {
      text-decoration: none;
    }
  }
  &.collapsible {
    a.less {
      display: block;
    }
    &.collapsed {
      .highlight {
        pre {
          max-height: 150px;
          overflow: hidden;
        }
      }
      a.more {
        display: block;
      }
      a.less {
        display: none;
      }
    }
  }
}

.document-widget {
  ul {
    margin: 0;
  }
  .file {
    display: inline-block;
    list-style: none;
    margin-right: 5px;
    border: 1px solid #ccc;
    padding: 10px 17px;
    text-align: center;
    margin-bottom: 5px;
  }
  .icon-file {
  }
}

.stl-widget {
  ul {
    margin: 20px 0 0;
  }
  li {
    list-style: none;
  }
  a {
    margin: 2px 0;
  }
}

.widget-form {
  label {
    font-weight: bold;
  }
  .form-actions {
    margin: 20px -20px -30px;
    padding: 20px;
  }
  .form-fields {
    .fields {
      border: 1px solid #ccc;
      padding: 2.5%;
      margin-bottom: 10px;
      background: #fff;
    }
  }
}

.text-widget {
  text-align: justify;
}

#sortable {
  overflow: hidden;
  margin-bottom: 10px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 10px;
    background: #eee;
    padding: 5px;
    width: 210px;
  }
  li {
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 188px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #f2f2f2;
    &.ui-sortable-helper {
      pointer: move;
    }
    &.placeholder {
      border: 1px solid #eee;
      color: #999;
      cursor: initial;
      background: #eee;
    }
  }
}

.image-widget {
  .image-thumbs {
    margin: 10px 0 0;
    li {
      display: inline-block;
      position: relative;
      margin: 0 0 5px 0;
    }
    img {
      width: 130px;
    }
    .overlay-title {
      position: absolute;
      bottom: 0;
      left: 0;
      background: #000;
      color: #FFF;
      width: 120px;
      padding: 3px 5px;
      @include opacity(80);
      text-align: center;
      font-weight: bold;
    }
  }
  .headline-image {
    margin: 0 0 10px;
    position: relative;
    height: 315px;
    img {
      width: 420px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}