.code-widget {
  position: relative;
  a.more, a.less {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    padding: 4px 7px;
    border: 1px solid #CCC;
    @include font-size(11);
    &:hover {
      text-decoration: none;
    }
  }
  &.collapsible {
    a.less {
      display: block;
    }
    &.collapsed {
      .highlight {
        pre {
          max-height: 150px;
          overflow: hidden;
        }
      }
      a.more {
        display: block;
      }
      a.less {
        display: none;
      }
    }
  }
  pre {
    word-break: normal;
    & > span {
      display: block;
      line-height: 14px;
      font-size: 12px;
    }
  }
  &.expanded {
    .highlight {
      position: relative;
      border-left: 5.2ex solid #CCC;
      border-left: 5.2ex solid rgba(0, 0, 0, 0.15);
      pre {
        padding: 9.5px 20px;
        counter-reset: linenumbers;
        @include border-radius(0 4px 4px 0);
        & > span:before {
          font-size: .9em;
          color: #777;
          content: counter(linenumbers);
          counter-increment: linenumbers;
          left: -5ex;
          position: absolute;
          text-align: right;
          width: 4.5ex;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          font-weight: bold;
        }
      }
    }
  }
}

.document-widget {
  ul {
    margin: 0;
  }
  .file {
    display: inline-block;
    list-style: none;
    margin-right: 5px;
    border: 1px solid #ccc;
    padding: 10px 17px;
    text-align: center;
    margin-bottom: 5px;
  }
  .icon-file {
  }
}

.stl-widget {
  ul {
    margin: 20px 0 0;
  }
  li {
    list-style: none;
  }
  a {
    margin: 2px 0;
  }
  #stlviewer {
    display: table;
    text-align: center;
    .stl-play {
      vertical-align: middle;
      display: table-cell;
    }
  }
}

.widget-form {
  label {
    font-weight: bold;
  }
  .form-actions {
    @extend .expanded-footer
  }
  &.form-horizontal {
    .form-actions .form-actions-inner {
      margin-left: 33.33%;
      padding-left: 11px;
    }
  }
  .form-fields {
    .fields {
      border: 1px solid #ccc;
      padding: 2.5%;
      margin-bottom: 10px;
      background: #fff;
    }
    &.fields-condensed {
      .fields {
        padding: 1%;
      }
    }
  }
  .handle, .move {
    cursor: pointer;
  }
  .img-holder {
    margin-bottom: 5px;
    width: 198px;
    height: 148px;
    vertical-align: middle;
    text-align: center;
    .img-responsive {
      display: inline-block;
      max-height: 100%;
    }
  }
  .btn-delete-holder {
    position: relative;
    overflow: hidden;
    .btn-delete {
      position: absolute;
      top: -5px;
      right: 0;
      display: none;
      font-size: 20px;
      color: #333;
      background: #fff;
      line-height: 1;
      padding: 5px 6px;
      &:hover {
        text-decoration: none;
        color: #999;
      }
    }
    &:hover .btn-delete {
      display: block;
    }
  }
  .file-drop.file-drop-styled {
    background: #fff;
    border: 1px solid #ccc;
    padding: 80px;
    text-align: center;
    a {
      cursor: pointer;
    }
    .uploads {
      .progress {
        margin-bottom: 0;
      }
    }
  }
  .sortable {
    .fields-column {
      float: left;
      width: 232px;
      height: 210px;
      padding-left: 11px;
      padding-right: 11px;
    }
  }
}

.text-widget {
  img {
    width: 100%;
    margin: 20px 0;
    border: 1px solid white;
    @include box-shadow(0 1px 14px rgba(0, 0, 0, 0.02), 0 0 1px rgba(0, 0, 0, 0.26));
  }
}

.sortable {
  overflow: hidden;
  margin-bottom: 10px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 10px;
    background: #eee;
    padding: 5px;
    width: 210px;
    &.single {
      margin: 0 auto;
      float: none;
    }
  }
  li {
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 188px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: #f2f2f2;
    &.ui-sortable-helper {
      pointer: move;
    }
    &.placeholder {
      border: 1px solid #eee;
      color: #999;
      cursor: initial;
      background: #eee;
    }
  }
}

.table.table-condensed{
  .fields{
    font-size: 14px;
  }
  thead{
    font-size: 14px;
  }
  tfoot{
    font-size: 14px;
  }
}

.image-widget {
  position: relative;
  .nav {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    z-index: 100;
    .inner-nav {
      cursor: pointer;
      width: 100%;
      height: 100%;
      position: relative;
      color: #fff;
      font-size: 20px;
      background: none;
      @include opacity(0.8);
      transition: background 200ms;
      -webkit-transition: background 200ms;
      display: block;
      i {
        position: absolute;
        top: 140px;
        text-shadow: 0 0 5px #777;
      }
    }
    &.nav-left {
      left: 0;
      i {
        left: 5px;
      }
    }
    &.nav-right {
      right: 0;
      i {
        right: 5px;
      }
    }
    &:hover .inner-nav {
      background: #333;
    }
  }
  .scroller {
    overflow-x: scroll;
  }
  .headline-image {
    margin: 0;
    height: 315px;
    overflow: hidden;
    width: 100%;
    position: relative;
    .headline-image-inner {
      top: 0;
      left: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      a {
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
        img {
          max-height: 100%;
          max-width: 100%;
          margin: 0 auto;
        }
        .caption-holder {
          position: absolute;
          background: #333;
          padding: 5px 10px;
          z-index: 100;
          bottom: 0;
          width: 100%;
          color: #fff;
          text-align: center;
          @include font-size(12);
          @include opacity(0);
          transition: opacity 150ms;
        }
        &:hover {
          text-decoration: none;
          .caption-holder {
            @include opacity(0.9);
          }
        }
      }
    }
  }
  .thumb-image {
    margin: 10px 0 0;
    height: 80px;
    overflow: hidden;
    width: 10000px;
    min-width: 100%;
    position: relative;
    .thumb-image-inner {
      height: 100%;
      float: left;
      a {
        position: relative;
        display: block;
        height: 100%;
        img {
          height: 100%;
          border: 2px solid #fff;
          &.current {
            border-color: #333;
          }
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.full-width .image-widget .headline-image .headline-image-inner a img {
  height: 100%;
}

.expanded-header {
  margin: -10px -20px 20px;
  padding: 20px;
  background-color: #eaeaea;
  border-bottom: 1px solid #E5E5E5;
}

.expanded-footer {
  margin: 20px -20px -10px;
  padding: 20px;
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
}

#widget-comments{
  .sign-up-to-comment{
    padding: 20px 0 16px;
    background: #f8f8f8;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #808080;
  }
}

.comments {
  @include font-size(12);
  textarea, input[type='text'], input[type='email'], input[type='password'] {
    @include border-radius(0);
    @include font-size(12);
    height: 25px;
    line-height: 17px;
    min-height: 15px;
    resize: none;
    overflow: hidden;
  }
  textarea {
    padding: 4px 4px !important;
    width: 370px !important;
  }
  .comment {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    position: relative;
    .comment-text {
      display: inline-block;
      padding-top: 2px;
      max-width: -webkit-calc(100% - 47px);
      max-width: -moz-calc(100% - 47px);
      max-width: calc(100% - 47px);
      p {
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 1.4em;
      }
    }
    .comment-avatar {
      display: inline-block;
      margin-right: 15px;
      @include border-radius(50%);
      overflow: hidden;
      img {
        width: 32px;
      }
    }
    .comment-author {
      position: relative;
      font-size: 16px;
      font-weight: 200;
      margin-bottom: 20px;
      display: block;
      margin-top: 6px;
      color: #bbb;
      a{
        &:empty{
          display: none;
        }
      }
    }
    .comment-date {
      margin-top: 3px;
    }
    &.depth-1 {
      padding-left: 38px;
    }
    &.depth-2 {
      padding-left: 76px;
    }
    &.depth-3 {
      padding-left: 114px;
    }
    &:first-child{
      padding-top: 0;
    }
  }
}

#two-columns {
  .comment {
    .comment-text {
      max-width: 370px;
    }
    &.depth-1 {
      .comment-text {
        max-width: 332px;
      }
    }
    &.depth-2 {
      .comment-text {
        max-width: 294px;
      }
    }
    &.depth-3 {
      .comment-text {
        max-width: 256px;
      }
    }
  }
}

#one-column {
  .comment {
    .comment-text {
      max-width: 613px;
    }
    &.depth-1 {
      .comment-text {
        max-width: 575px;
      }
    }
    &.depth-2 {
      .comment-text {
        max-width: 537px;
      }
    }
    &.depth-3 {
      .comment-text {
        max-width: 499px;
      }
    }
  }
}

.respect-thumbs {

}

#widget-respects {
  padding-bottom: 30px;
  .respect-button{
    padding-left: 7px;
    .fa{
      padding-left: 8px;
    }
  }
  .respects-user-img{
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.widget-reorder-form {
  .btn-delete-widget {
    display: none;
    float: right;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
  li:hover .btn-delete-widget {
    display: block;
  }
}

.github-box.repo {
  *, *:before, *:after {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
  }
}

.oshpark-widget {
  ul {
    margin-top: 15px;
  }
  .credits {
    text-align: right;
    @include font-size(11);
  }
}

.paypal-widget {
  form {
    text-align: center;
    table {
      width: 100%;
    }
    select {
      @extend .form-control;
      margin-bottom: 5px;
    }
  }
}

p.caption {
  font-size: 13px;
  color: #666;
  margin-top: 10px;
}

.video-widget {
  border: 1px solid white;
  @include box-shadow(0 1px 14px rgba(0, 0, 0, 0.02), 0 0 1px rgba(0, 0, 0, 0.26));
  p.caption {
    margin-bottom: 0;
    &:empty{
      display: none;
    }
  }
}

.steps-widget {
  margin: -13px -19px;
  .step {
    padding: 13px 19px;
    border-bottom: 1px solid #e2e2e2;
    .step-badge {
      @include border-radius(20px);
      background: #888;
      background: #2A6186;
      color: #fff;
      font-weight: bold;
      padding: 6px 10px;
      display: inline-block;
      margin-right: 10px;
    }
    &:last-child {
      border: none;
    }
    .step-details {
      margin-top: 5px;
      padding-left: 42px;
      padding-right: 10px;
    }
  }
}

.team-widget {
  .user {
    margin-bottom: 7px;
    img {
      width: 20px;
    }
    .user-name {
      padding-top: 5px;
    }
  }
}

.stats-widget {
  .counters {
    color: #888;
    text-align: center;
    span {
      margin-right: 10px;
      cursor: default;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.widget-categories {
  input {
    display: none;
  }
  .btn {
    @extend .unselectable;
    text-align: center;
    padding: 20px 30px;
    width: 120px;
    margin-bottom: 10px;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
    i {
      font-size: 40px;
      &.checkmark {
        display: none;
        font-size: 14px;
        color: #468847;
      }
    }
    small {
      font-size: 10px;
    }
  }
  &.widget-subcategories {
    display: none;
    .btn {
      width: auto;
      padding: 10px 20px;
      background: #f9f9F9;
      &:hover, &.active {
        background: #ebebeb;
      }
    }
  }
}

#more-projects{
  padding: 0px 0 100px;
  border-top: 3px dotted #f1f1f1;
}