.code-widget {
  position: relative;
  a.more, a.less {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    background: white;
    padding: 4px 7px;
    border: 1px solid #CCC;
    @include font-size(11);
    &:hover {
      text-decoration: none;
    }
  }
  &.collapsible {
    a.less {
      display: block;
    }
    &.collapsed {
      .highlight {
        pre {
          max-height: 150px;
          overflow: hidden;
        }
      }
      a.more {
        display: block;
      }
      a.less {
        display: none;
      }
    }
  }
}

.document-widget {
  ul {
    margin: 0;
  }
  .file {
    display: inline-block;
    list-style: none;
    margin-right: 5px;
    border: 1px solid #ccc;
    padding: 10px 17px;
    text-align: center;
  }
  .icon-file {
  }
}

.stl-widget {
  ul {
    margin: 20px 0 0;
  }
  li {
    list-style: none;
  }
  a {
    margin: 2px 0;
  }
}

.widget-form {
  label {
    font-weight: bold;
  }
  .form-actions {
    margin: 20px -20px -30px;
    padding: 20px;
  }
}

.text-widget {
  text-align: justify;
}