@import "bootstrap/mixins";
@import "custom_mixins";
a{
  color:#3d8bc1;
  &:hover, &:focus{
    color: #2a6496;
    text-decoration: underline;
  }
}
.wysihtml5-toolbar {
  position: relative;
}

.dialog {
  position: absolute;
  top: 100px;
  left: 100px;
  background: #fff;
  border: 1px solid #ddd;
  @include border-radius(3px);
  @include box-shadow(#999 0 0 10px);
  padding: 10px;
  z-index: 9999;
}

.tinybtn {
  padding: 3px 5px;
  background: #ddd;
  border: 1px solid #999;
  color: #333;
  cursor: pointer;
  display: inline-block;
  margin: 2px 0;
  &:hover {
    text-decoration: none;
    background: #ccc;
  }
}

.wysiwyg-color-red {
  color: #f00;
}

.wysiwyg-color-blue {
  color: #00f;
}

.wysiwyg-color-green {
  color: #008000;
}

.wysihtml5-commands-disabled .tinybtn.wysihtml5-command {
  background: #EEE;
  color: #999;
  cursor: default;
}

.wysiwyg-text-align-right {
  text-align: right;
}

.wysiwyg-text-align-left {
  text-align: left;
}

.wysiwyg-text-align-center {
  text-align: center;
}

.wysihtml5-commands-disabled .btn.wysihtml5-command {
  background: #EEE;
  color: #999;
  cursor: default;
}

.wysihtml5-editor {
  h5, h6 {
    margin: 0 0 10px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 16px;
  }
}