%h2.text-center Welcome to #{@group.name}.
- if user_signed_in?
  %p.text-center= link_to 'Join group', group_accept_invitation_path(@group, token: @group.invitation_token), class: 'btn btn-warning btn-sm'
- else
  %p.text-center
    You need an account to join this group. Please
    = link_to 'Sign in', new_user_session_path, class: 'btn btn-primary btn-sm'
    or
    = link_to 'Create an account', new_user_registration_path, class: 'btn btn-primary btn-sm'