= content_for :js do
  = javascript_include_tag 'wysihtml5/parser_rules'
  :javascript
    var editor = new wysihtml5.Editor('wysihtml5-textarea', { // id of textarea element
      toolbar:      'wysihtml5-toolbar', // id of toolbar element
      stylesheets:  "#{ stylesheet_path('wysihtml5') }", // optional, css to style the editor's content
      parserRules:  wysihtml5CustomParserRules, // defined in parser rules set
      allowObjectResizing:  true // Whether the composer should allow the user to manually resize images, tables etc.
    });

#wysihtml5-toolbar.btn-toolbar{ style: 'display: none;' }
  .btn-group
    %a.btn.wysihtml5-command{ data: { 'wysihtml5-command' => 'bold' }, rel: 'tooltip', title: 'bold' }
      %i.icon-bold
    %a.btn.wysihtml5-command{ data: { 'wysihtml5-command' => 'italic' }, rel: 'tooltip', title: 'italic' }
      %i.icon-italic
    %a.btn.wysihtml5-command{ data: { 'wysihtml5-command' => 'underline' }, rel: 'tooltip', title: 'underline' }
      %i.icon-underline

  .btn-group
    %a.btn.wysihtml5-command{ data: { 'wysihtml5-command' => 'formatBlock', 'wysihtml5-command-value' => 'h5' }, rel: 'tooltip', title: 'title' }
      %i.icon-font

  .btn-group
    %a.btn.wysihtml5-command{ data: { 'wysihtml5-command' => 'insertUnorderedList' }, rel: 'tooltip', title: 'insert bullet points' }
      %i.icon-list

  - if defined? activate_float and activate_float
    .btn-group
      %a.btn.wysihtml5-command{ data: { 'wysihtml5-command' => 'justifyLeft' }, rel: 'tooltip', title: 'align left' }
        %i.icon-align-left
      %a.btn.wysihtml5-command{ data: { 'wysihtml5-command' => 'justifyRight' }, rel: 'tooltip', title: 'align right' }
        %i.icon-align-right

  .btn-group
    %a.btn.wysihtml5-command{ data: { 'wysihtml5-command' => 'createLink' }, rel: 'tooltip', title: 'insert link' }
      %i.icon-link
    .dialog{ data: { 'wysihtml5-dialog' => 'createLink' }, style: 'display: none;' }
      %label
        Link:
        %input.text{ data: { 'wysihtml5-dialog-field' => 'href' }, :value => 'http://' }
      %a.btn{ data: { 'wysihtml5-dialog-action' => 'save' } } OK
      %a.btn{ data: { 'wysihtml5-dialog-action' => 'cancel' } } Cancel

    %a.btn.wysihtml5-command{ data: { 'wysihtml5-command' => 'insertImage' }, rel: 'tooltip', title: 'insert image' }
      %i.icon-picture
    .dialog{ data: { 'wysihtml5-dialog' => 'insertImage' }, style: 'display: none;' }
      %label
        Link:
        %input.text{ data: { 'wysihtml5-dialog-field' => 'src' }, :value => 'http://' }
      %a.btn{ data: { 'wysihtml5-dialog-action' => 'save' } } OK
      %a.btn{ data: { 'wysihtml5-dialog-action' => 'cancel' } } Cancel

  %a.btn.btn-link.btn-small{ data: { 'wysihtml5-action' => 'change_view' } } Toggle HTML view