.page-header
  h1 New Blog post
= simple_nested_form_for [:admin, @post], url: admin_blog_posts_path, :html => { :class => 'form-horizontal' }, wrapper: :bootstrap3_horizontal do |f|
  = render partial: 'form', locals: { f: f }
