.form-group
  = label_tag :'sort_by', 'Sort by'
  .controls
    = select_tag :sort_by, options_for_array(@fields.keys, params[:sort_by])
    = select_tag :sort_order, options_for_array(['ASC', 'DESC'], params[:sort_order])
= submit_tag 'Search', class: 'btn btn-default'