.container
  .row
    .col-xs-12
      - if @projects.any?
        - @projects.each_with_index do |project, i|
          = render partial: "projects/project_embed_thumb#{@list_style}", locals: { project: project.decorate, col: '3', ref: 'event', ref_id: @event.id, offset: i }
      - else
        All the projects of the event will appear here.