= content_for :head do
  %meta(name="robot" content="noindex nofollow")

- if can? :read, @event
  .row
    #tab-organizers
      .col-xs-12
        - if @organizers.any?
          .row
            - @organizers.each do |user|
              .col-xs-2{ style: 'margin-bottom: 30px;' }
                = link_to image_tag(user.decorate.avatar(:big), class: 'img-responsive'), user, title: user.name, rel: 'tooltip'
        - else
          This event has no organizers.

- else
  .row
    .col-xs-12
      .alert.alert-warning
        The content of this group is only visible to members.
        -# if @event.access_level == 'anyone'
          = link_to 'Join', '', class: 'btn btn-warning btn-sm'
        -# elsif @event.access_level == 'request'
          = link_to 'Request access', '', class: 'btn btn-warning btn-sm'