<html>
  <head>
    <style type="text/css">
      .unsubscribe, .unsubscribe a {
        font-size: 10px;
        color: #888;
      }
      .quote {
        font-style: italic;
        border-left: 2px solid #aaa;
        padding-left: 10px;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>