<html>
  <head>
    <style type="text/css">
      .project-highlight {
        border-bottom: 1px solid #aaa;
        border-top: 1px solid #aaa;
        display: inline-block;
        font-style: italic;
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 15px;
        padding-top: 15px;
      }
      .unsubscribe, .unsubscribe a {
        color: #888;
      }
      .unsubscribe a {
        text-decoration: underline;
      }
      .quote {
        font-style: italic;
        border-left: 2px solid #aaa;
        padding-left: 10px;
      }
      table {
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
      }
      .table {
        width: 100%;
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      td, th {
        padding: 0;
      }
      th {
        text-align: left;
      }
      .table > thead > tr > th,
      .table > thead > tr > td,
      .table > tbody > tr > th,
      .table > tbody > tr > td,
      .table > tfoot > tr > th,
      .table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.428571429;
        vertical-align: top;
        border-top: 1px solid #ddd;
      }
      .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
      }
      .table > caption + thead > tr:first-child > th,
      .table > caption + thead > tr:first-child > td,
      .table > colgroup + thead > tr:first-child > th,
      .table > colgroup + thead > tr:first-child > td,
      .table > thead:first-child > tr:first-child > th,
      .table > thead:first-child > tr:first-child > td {
        border-top: 0;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>