<html>
  <head>
    <style type="text/css">
      .unsubscribe, .unsubscribe a {
        font-size: 10px;
        color: #888;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>