- @tech = GroupDecorator.decorate(@tech)
= content_for :no_container do
  #tech-page.page-div
    = render "groups/teches/tech_sidebar"
    #content-with-sidebar
      = yield

= render template: 'layouts/application'