= simple_form_for resource, as: resource_name, url: authorizations_path, wrapper: :bootstrap3_horizontal, html: { class: 'form-horizontal disable-on-submit' } do |f|
  = render partial: 'shared/registration_form', locals: { f: f, resource: resource }
